.div-articles {
    border-top:1px solid #AAAAAA;
    background: #cccccc url(/g/exhibitions/exh-list-exhibitions-bg.png) repeat-x left top;
}

.div-articles-head {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #999999;
    padding: 18px 12px;
}

.div-articles-head h3 {
    background:none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400 !important;
}
