.audiobox h2 {
    margin: 0px 0px 8px 0px !important; 
    padding:0 !important;
    font-weight:700;
}

.audio {
    position: relative;
    width: 414px;
    height: 40px;
    overflow: hidden;
    margin-top:8px;
}

audio {
    margin: -60px 0px 0px 0px;
    width: 414px;
    height: 100px;
}

.audio-ipad {
    height: 100px !important;
    margin: -30px 0px 0px 0px !important;
}

div.audiobox {
    position: relative;
    border-bottom: 1px solid #b5b5b5;
    min-height: 181px;
    padding: 7px 10px 10px;
    background:#efefef;
}

img.audiobox {
    outline: 1px solid #b5b5b5;
}

.div-audio-img {
    width: 109px;
    float:left;
    min-height: 150px;
    /*text-align:center;*/
    margin-top: 3px;
}

.div-audio-info {
    float:right;
    max-width: 566px;
    width: 100%;
    margin-left:5px;
}

.audioerror {
    color: #e0e0e0;
    background: #484848;
    text-align: center;
}

div.audioerror {
    padding: 6px 0px 60px 0px;
    margin: 10px 0px 0px 0px;
}

a.audioerror {
}
