.a-biography-photos-year-range {
    background: none repeat scroll 0 0 #CCCCCC;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 6px 13px;
    position: relative;
    display:block;
}
