/* SEARCH */

.div-biography-search-result {
    padding:10px;
}

.span-bigraphy-search-title {
    font-weight:700;
    font-size:110%;
    display: block;
    padding-bottom: 2px;
}

.span-bigraphy-search-text {
    font-size: 90%;
    line-height: 18px;
}

.h3-biography-title {
    font-weight:700;
    font-size:19px;
    margin-bottom: 3px;
    margin-top: 8px;
}

.div_text_wysiwyg_biography {
    line-height:22px;
}

/* end SEARCH */
