.h1-item-book {
    margin-bottom: 29px !important;
}

#bookSearch {
    border: 1px solid #999999;
    width: 100%;
    background-color: #F0F0F0;
    margin-bottom: 15px;
    position: relative;
}

#bookSearch .p_show {
    padding-bottom: 24px;
    padding-left: 10px;
    padding-top: 10px;
    width: 192px;
    float:left;
}

.div-book-table-header, .div-book-table-footer {
}

.div-book-table-footer {
    border-top: 1px solid #aaa;
}

.div-page-navigation-lit {
    /*margin: 0 12px 0 0;*/
}

.div-page-navigation-lit-bottom {
    margin: 0 12px 0 0;
}

#books_catidSelectBoxItOptions {
    min-width: 188px !important;
}

/* table-books */

#table-books {
    border-top: 1px solid #999999;
    width: 560px;
}

.table-books-search {
    width:679px !important;
}

.tab-content-table {
    border-top: none !important;
}

#table-books thead th {
    cursor: pointer;
    background: url("/g/literature/table_header_bg.png") repeat-x scroll left top transparent;
    border-bottom: 1px solid #999999;
    padding-top:4px;
    padding-bottom:5px;
}

.th-header-col1 {
    width: 66px;
    margin:0;
}

.th-header-col1-search {
    width: 70px !important;
}

#sort #title {
    width: 250px;
}

#sort .title-search {
    width: 309px !important;
}

.headerTitle {
    background: url("/g/literature/table_th_title_bg.png") no-repeat scroll right top transparent !important;
    padding-left:10px;
}

#sort #author {
    width: 168px;
}

#sort .author-search {
    width: 246px !important;
}

.headerAuthor {
    background: url("/g/literature/table_th_author_bg.png") no-repeat scroll right top transparent !important;
    padding-left:10px;
}

#sort #date-en, #sort #date-it {
    width: 51px;
    padding-left:5px;
}

@-moz-document url-prefix() {
    #sort .date-search-en {
        width: 50px !important;
    }
}

#sort #date-de {
    width: 54px;
    padding-left:2px;
}

#sort .date-search-de {
    width: 53px !important;
}

#sort #date-fr {
    width: 54px;
    padding-left:2px;
}

#sort .date-search-fr {
    width: 53px !important;
}

#sort #date-zh {
    width: 51px;
    padding-left:5px;
}

#sort .date-search-zh {
    width: 51px !important;
}

.img-date-sort-arrow-en, .img-date-sort-arrow-it {
    float:right;
    margin-right:6px;
    margin-top:3px;
}

.img-date-sort-arrow-de {
    float:right;
    margin-right:2px;
    margin-top:3px;
}

.img-date-sort-arrow-zh {
    float:right;
    margin-right:9px;
    margin-top:3px;
}

.div_literature_table_footer {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    border-top: 1px solid #999999;
}



/* END table-books */

/* page numbering */

.pages-books-top {
    float: right;
    margin-right: 11px;
    margin-top: -43px;
}

.pages {
    margin-top: 17px;
    text-align: center;
}

.pages a {
    color: #565656;
    /*margin-left: 6px;*/
    font-weight: 400;
}

.pages a.selected {
    font-weight: 700;
    text-decoration: underline;
}



.pages-books-bottom {
    float:right;
    margin-right: 28px;
}


/* END page numbering */




/* innser table data */

.table {
    width: 100%;
}

.table_item:hover {
    background-position:right top;
}

.table_item {
    background: url("/g/literature/table_item_bg.jpg") no-repeat scroll left top #DEDEDE;
    overflow: auto;
    width: 100%;
}

.table_item_search {
    background: url("/g/literature/table_item_bg_search.jpg") no-repeat scroll left top #dedede !important;
}

.table_item_search:hover {
    background: url("/g/literature/table_item_bg_search.jpg") no-repeat scroll -680px top #dedede !important;
}

.table_item_selected {
    background:#efefef;
    background:#dedede url("/g/literature/table_item_selected_bg.jpg") no-repeat top left scroll;
    cursor: default;
    border-bottom: 1px solid #bebebe;
}

.table_item_selected-search {
    background:#dedede url("/g/literature/table_item_selected_bg-search.jpg") no-repeat top left scroll !important;
}

.table_item_selected .table_item_attribs {
    min-height:63px;
}

div.table_item_attribs {
    cursor: pointer;
    overflow: auto;
    width: 100%;
}

p.table_item_attrib {
    -moz-user-select: none;
    float: left;
    margin: 0;
    padding: 12px 8px;
}

.col1 {
    width: 50px;
    text-align: center;
}

.col2 {
    width: 244px;
}

.col2-search {
    width: 294px !important;
}

.col3 {
    width: 160px;
}

.col3-search {
    width: 232px !important;
}

.col4 {
    width: 31px;
}

.table_item_details {
    background: #f0f0f0 url("/g/literature/table_item_details_bg.jpg") no-repeat scroll left top;
    height: 0;
    overflow: hidden;
}

.table_item_details-search {
    background: #f0f0f0 url("/g/literature/table_item_details_bg-search.jpg") no-repeat scroll left top !important;
}

.table_item_detail_image {
    float: left;
    margin: 0;
    padding: 12px 8px;
    width: 130px;
}

img.table_item_attrib {
    margin: 0;
}

div.table_item_detail_text {
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 12px 8px 14px;
    width: 380px;
}

table.table_item_detail_text {
    border: medium none;
    padding: 0 0 12px;
}

tr.table_item_detail_text {
    vertical-align: top;
}

td.table_item_detail_text_tcol1 {
    font-weight: bold;
    width: 80px;
}

.a-literature-link {
    background: url(/g/literature/read-more.png) no-repeat right top;
    border-left:1px solid #bcbcbc;
    display:block;
    margin-top: 16px;
    margin-left: -2px;
    padding: 4px 13px 10px 10px;
    height: 15px;
    margin-bottom: 14px;
}

.a-literature-link-en {
    width: 73px;
}

.a-literature-link-de {
    width: 75px;
}

.a-literature-link-fr {
    width: 69px;
}

.a-literature-link-it {
    width: 100px;
}

.a-literature-link-zh {
    width: 71px;
}

.a-relat-exh-books {
    background: url(/g/base/bullet.gif) no-repeat left 6px;
    display:block;
    padding-left: 20px;
}

.td-a-relat-exh-books {
    /*background: url(/g/base/bullet.gif) no-repeat left 5px;*/
    /*padding-left: 20px;*/
}

.a-book-more-details {
    background: url(/g/literature/read-more.png) no-repeat right top;
    border-left:1px solid #bcbcbc;
    display:block;
    margin-top: 16px;
    margin-left: -2px;
    padding: 4px 13px 10px 10px;
    height: 15px;
    margin-bottom: 14px;
}

.a-book-more-details-en, .a-book-more-details-de, .a-book-more-details-fr, .a-book-more-details-zh {
    width: 78px;
}

.a-book-more-details-it {
    width: 86px;
}

/* innser table data */

/* FEATURED TITLES */
#div-selected-titles {
    margin:0;
    padding:0;
}

#div-selected-titles .span-h2-featured-title {
    font-size:1em;
    font-weight:700;
    padding:9px 0 10px 9px;
    width:137px;
    display:block;
}

#div-selected-titles .first {
    border-top:none;
    margin-top:0px;
    padding-top:0px;
}

.a-selected-title {
    border-top:1px solid #b2b2b2;
    position:relative;
    /*height:162px;*/
    width:100%;
    display:block;
    background:#dadad9;
    color:#454545;
    /*font-size:80%;*/
}

.a-selected-title:hover {
    background:#f0f0f0;
}

.span-selected-title-image {
    padding-top:10px;
    padding-bottom:14px;
    background: url(/g/literature/featured_title_image_bg.png) repeat-y left top;
    display: block;
    text-align: center;
}

.span-selected-title-image img {
    border:1px solid #b2b2b1;
}

/* END FEATURED TITLES */

/* Detail view */

.a-literature-detail-image img {
    margin-top:10px;
    max-width: 160px;
    height: auto;
}

/* END Detail view */

/* div-literature-featured-titles */

.div-literature-featured-titles {
    padding:15px 13px 0;
}

.div-literature-featured-title {
    float: left;
    border-left: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    width:168px;
    height:196px;  
}

.div-literature-featured-titles-first-row {
    border-top: 1px solid #9a9a9a;
}

.div-literature-featured-titles-last {
    border-right: 1px solid #9a9a9a;
}

.div-literature-featured-titles .h3-section-title {
    padding-left:0;
    padding-right:0 !important;
}

.a-featured-list {
    display:block;
    height: 196px;
    width: 168px;
    overflow: hidden;
}

.a-featured-list:hover {
    background: #fcfcfc;
}

.div-literature-featured-title-img {
    background: url(/g/literature/featured-title-bg.png) no-repeat center top;
    height:81px;
    text-align: center;
    padding:18px 9px 11px 9px;
    overflow: hidden;
}

.div-literature-featured-title-img img {
    -moz-box-shadow: 0px 1px 3px #AAAAAA;
    -webkit-box-shadow: 0px 1px 3px #AAAAAA;
    box-shadow: 0px 1px 3px #AAAAAA;
}

.span-featured-list {
    display:block;
    padding:17px 9px 21px 9px;
    height:48px;
    overflow: hidden;
}

/* END div-literature-featured-titles */

/* div-detail-view-item */

.div-book-detail-tab-info {
    background: #efefef;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}

/* END div-detail-view-item */

/* div-book-overlay-content */

.div-book-overlay-content {
    display:none;
}

.div-book-overlay-content-wysiwyg {
    background: none repeat scroll 0 0 #eee;
    color: #363636;
    padding: 15px 25px;
    width: 945px;
}

/* END div-book-overlay-content */