/* ul-breadcrumbles */

div.breadcrumb {
    width: 560px;
    height: 31px;
    margin-top:7px;
    margin-bottom: 4px;
    float: left;
}

div.breadcrumb-painting-detail {
    width:665px !important;
}

div.breadcrumb-large {
    width:665px !important;
}

div.breadcrumb > ul {
    height: 31px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.breadcrumb > ul > li {
    position: relative;
    display: inline-block;
    float: left;
    height: 31px;
    background: transparent url('/g/breadcrumbles/breadcrumb-arrow.png') no-repeat right center;
    /*font: normal 11px/28px Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 11px;
    line-height:28px;
    cursor: pointer;
    margin-right: 7px;
    padding: 0 12px 0 0;
}

div.breadcrumb > ul > li:last-child {
    background:none;
}

div.breadcrumb > ul > li.no-link-breadcrumbles {
    cursor: default;
    background:none;
}

/*

div.breadcrumb > ul > li:last-child {
    padding: 0px 20px 0px 41px;
}

div.breadcrumb > ul > li:hover {
    background-position: right -31px;
}

div.breadcrumb > ul > li > a {
    text-decoration: none;
    color: rgb(244, 244, 244);
}

div.breadcrumb > ul > li:hover > a {
    border-bottom: 1px dotted white;
    color:#fff !important;
}

div.breadcrumb > ul > li:first-child a {
    color: white;
    font-weight: bold;
}

div.breadcrumb .no-link-breadcrumbles {
    cursor:default;
}
*/
/* END ul-breadcrumbles */
