.h3-chronology-title {
    font-weight:700;
    font-size:19px;
    margin-bottom: 3px;
    margin-top: 8px;
}

#content {
    width: 730px !important;
}

div.breadcrumb {
    width: 730px !important;
}

#div-chronology p {
    font: normal 12px/22px Verdana,Arial,Helvetica,sans-serif !important;
}



#mousemove {
    width: 100%;
    height: 950px;
    overflow: auto;
    margin: 0 auto;
}
 
.inside {
    width: 8360px;
    height: 930px;
}
            


            .chronology_col {
                float: left;
                margin: 3px 0px 0px 0px;
                width:180px;
            }  

            .chronology_col_left {
                float: left;
            }

            .chronology_col_right {
                float: right !important;
                margin: 3px 0 0 10px !important;
                text-align: right;
            }

            .chronology_col_first {
                margin: 10px 0px 0px 0px !important;
            }

            .chronology_col_imgtext {
                height: 31px;
                font: 400 75% Verdana, Arial, Helvetica, sans-serif;
                margin: 20px 0px 20px 0px;
                width: 171px;
            }   
            .chronology_col_content {
            /*height: 10px;*/
            font: 400 90% Verdana, Arial, Helvetica, sans-serif;
            /*margin: 20px 0px 20px 0px;*/
            }   
            .chronology_col_content img {
                width: 170px;
                height: 120px;
            }   
            .chronology_col_content p { 
                margin: 0px 0px 14px 0px;    
                line-height: 14px !important;
            }
            .chronology_col_content p .span-year {
                font-weight: bold;
            }
            p.chronology_col_quote {
                margin: 0px 22px 14px 0px;
                color: #606060;
                font-style:italic;
            }
            .style1 {
                color: #606060;
                font-style: italic;
            }
            .chronology_col_quote_info {
                font-size: 9px;
                color: #606060;
                line-height: 14px;
            }
            .chronology_col_image {}
