.p-contact-thank-you-text {
    font-size: 14px;
    margin-top: 13px;
}

#td-image-capcha {
    width:213px;
}

#img-capcha-contact, #img-reload {
    cursor:pointer;
}

/*
.div-input-file {
    position: relative;
}

.div-input-file .fileinputs {
    position: relative;
}

.div-input-file .fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.div-input-file .file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}
*/
