/* div-exhibitions */

.div-exhibitions {
    border-top:1px solid #AAAAAA;
    background: #cccccc url(/g/exhibitions/exh-list-exhibitions-bg.png) repeat-x left top;
}

.div-exhibitions-head {
    border-bottom:1px solid #999;
    background: #EFEFEF;
    padding: 18px 12px;
}

.div-exhibitions-head h3 {
    background:none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 400 !important;
}

.span-exh-order-by-text {
    color:#666 !important;
}

.div-exh-order-by {
    float:right;
    margin: 5px 5px 0 0;
}

.div-exhibition {
    /*background: url(/g/exhibitions/expandlist_item_background2.png) no-repeat scroll right -80px #E6E6E6;*/
    background: #efefef url('/js/expandlist/src/pic/expandlist_item_background.png') no-repeat left -80px;
    -moz-transition: height ease 100ms, background-color ease 400ms;
    -webkit-transition: height ease 100ms, background-color ease 400ms;
    -ms-transition: height ease 100ms, background-color ease 400ms;
    -o-transition: height ease 100ms, background-color ease 400ms;
    transition: height ease 100ms, background-color ease 400ms;
}

.div-exhibition:hover {
    /*background-position: -557px top;*/
    /*background: url(/g/exhibitions/expandlist_item_background.png) no-repeat scroll left -150px #F3F3F3;*/
     background: none repeat scroll 0% 0% rgb(252, 252, 252);
}

.div-exhibition-relations-first {
    border-top: 1px solid #ADADAD;
}

.div-exhibition-relations {
    /*background: #cccccc url(/g/exhibitions/exh-list-exhibition-bg-search.jpg) no-repeat right top !important;*/
}

.div-exhibition-relations:hover {
    /*background: #cccccc url(/g/exhibitions/exh-list-exhibition-bg-search.jpg) no-repeat left top !important;*/
}

.div-exhibition-search {
    /*background: #cccccc url(/g/exhibitions/exh-list-exhibition-bg-search.jpg) no-repeat left top !important;*/
}

.div-exhibition-search:hover {
    /*background: #cccccc url(/g/exhibitions/exh-list-exhibition-bg-search.jpg) no-repeat right top !important;*/
}

.div-exhibition-left-side {
    float:left;
    width: 59px;
    min-height: 78px;
    text-align:center;
}

.div-exhibition-right-side {
    border-left:1px solid #999;
    float:left;
    width: 494px;
    min-height: 78px;
}

.div-exhibition-right-side-search {
    width: 619px !important;
}

.img-exh-cover {
    border:1px solid #8e8d8d;
    max-width:50px;
}

.a-exhibition-list-img {
    display: block;
    margin-top: 13px;
}

.a-admin-edit-exhibiton-list {
    display: block;
    margin-top: 11px;
}

.a-exhibition-list {
    display:block;
    min-height:58px;
    padding:10px 0 10px 10px;
    background: url(/g/exhibitions/exh-list-exhibition-arrow.png) no-repeat right center;
    width: 474px;
    font-size: 90%;
}

.a-exhibition-list:hover {
    background: url(/g/exhibitions/exh-list-exhibition-arrow-hover.png) no-repeat right center;
}

.a-exhibition-list-no-arrow {
    background: none !important;
}

.a-exhibition-list-search {
    width: 619px !important;
}

.a-exhibition-list-paint-detail {
    width: 619px !important;
}

.span-exh-list-title-original {
    color: #000;
    font-weight:700;
    display:block;
    padding-bottom: 1px;
}

.span-exh-list-title-original-short {
    width: 462px;
}

.span-exh-list-title-original-wide {
    width: 585px;
}

.span-exh-list-title-translation {
    color: #999;
    font-weight:700;
    display:block;
    padding-bottom: 10px;
}

.span-exh-list-title-translation-short {
    width: 462px;
}

.span-exh-list-title-translation-wide {
    width: 585px;
}

.span-exh-list-location {
    display:block;
    min-height: 16px;
}

.span-exh-list-location-short {
    width: 462px;
}

.span-exh-list-location-wide {
    width: 585px;
}

.span-exh-list-date {
    display:block;
    min-height: 16px;
}

.span-exh-list-date-short {
    width: 462px;
}

.span-exh-list-date-wide {
    width: 585px;
}

.exhibitions-list-back-to-top {
    margin-top: 15px !important;
}

/* end div-exhibitions */

/* EXHIBITION DETAIL */

#tabs-exhibition-detail {
    margin-top: 20px;
}

.li-exh-left-show-all {
    background: url(/g/exhibitions/exh-detail-show-all.png) no-repeat left center;
    height:31px;
    width:158px;
    margin-bottom: 12px;
    /*margin-top: 10px;*/
}

.li-exh-left-show-all a {
    color:#fff;
    padding: 7px 0 0 15px !important;
}

.li-exh-left-show-all a:hover {
    background:none !important;
    color:#000;
}

.div-exh-detail-info-box {
    margin-top:13px;
    /*height:226px;*/
    min-height: 81px;
    /*background:#eaeaea;*/
    background: url(/g/exhibitions/exh-detail-info-box-bg.jpg) repeat-y center top;
    -moz-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    -webkit-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    box-shadow: 0px 1px 12px rgb(155, 155, 155);
}

.div-exh-detail-info-box-left {
    float:left;
    /*min-height:186px;*/
    min-height:122px;
    width:205px;
    text-align:center;
    padding-top:19px;
    padding-bottom: 19px;
}

.div-exh-detail-info-box-left img {
    border: 1px solid rgb(110, 110, 110);
    border: 1px solid rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 7px rgb(136, 136, 136);
    -webkit-box-shadow: 0px 0px 7px rgb(136, 136, 136);
    box-shadow: 0px 0px 7px rgb(136, 136, 136);
}

.div-exh-detail-info-box-right-full {
    width: 527px !important;
    /*border-left: none !important;*/
    min-height: 66px !important;
    background:#eaeaea !important;
}

.div-exh-detail-info-box-right {
    float: right;
    width: 325px;
    /*height: 192px;*/
    min-height: 81px;
    /*border-left: 1px solid #999999;*/
    padding: 13px;
}

.p-exh-detail-title-original {
    font-weight:700;
}

.h1-item-exh {
    margin-bottom: 0 !important;
}

.p-item-translation-exh {
    margin-top: 2px;
}

.p-exh-detail-location {
    margin-top: 32px !important;
    line-height: 26px;
}

.p-exh-detail-date {
    /*padding-top: 10px;*/
    margin-top: 9px;
}

.div-exh-detail-desc {
    background: url(/g/exhibitions/exh-detail-info-icon.png) no-repeat left top;
    margin-top: 36px;
    padding-top: 20px;
    line-height: 26px;
}

.a-admin-edit-exhibiton-detail {
    float: left;
    margin-left: 6px;
    margin-top: 42px;
}

/* end EXHIBITION DETAIL */

/* EXHIBITION DETAIL RELATIONS */

.div-exhibitions-detail-tab-info {
    /*background:#eaeaea;*/
    /*background: none repeat scroll 0 0 #E4E4E4;*/
    background: #efefef;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    width: 560px;
    /*padding-top: 0 !important;*/
    /*margin-top: 1px;*/
}

.div-exhibitions-detail-tab-info-guide {
    padding:13px 12px 18px;
    width: 536px;
    margin-top: 1px;
}

.div-exhibitions-detail-tab-sort {
    background: #efefef;
    border-bottom: 1px solid #999999;
    padding: 18px 12px;
    border-top:1px solid #AAAAAA;
}

.p-exh-detail-count-found-items {
    float:left;
}

.span-exh-detail-order-by-text {
    float:right;
    margin-right: 8px;
    color:#8e8e8e;
}

.chrome .span-exh-detail-order-by-text, .safari .span-exh-detail-order-by-text {
    padding-top:3px;
}

.select-exh-detail-order-by {
    float:right;
}

.div-per-page-exh {
}

.div-page-navigation-exh {
}

.div-exhibitions-detail-tab-info #div-thumbs {
    padding-left:12px;
    padding-top: 12px;
}

.div-exhibitions-detail-tab-info #div-thumbs .div-thumb {
    padding: 0 16px 15px 0;
}

/* end EXHIBITION DETAIL RELATIONS */

/* EXHIBITION DETAIL ARTWORK TAB */

#div-exhibition-paint-detail {

}

.div-exhibition-paint-detail-img {
    text-align: center;
    padding-top: 19px;
    padding-bottom: 18px;
}

#img-exh-detail-painting {
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 6px -1px #888888;
}

.div-exhibition-paint-detail-info {
    padding-bottom: 25px;
    padding-left: 21px;
    padding-right: 21px;
}

.p-exh-detail-paint-title-first {
    font-weight:700;
}

.p-exh-detail-paint-title-second {
    color: #595959;
    font-weight:700;
}

.p-exh-detail-paint-year {
    font-size:90%;
    padding-top: 4px;
}

.p-exh-detail-paint-size {
    font-size:90%;
}

.p-exh-detail-paint-medium {
    font-size:90%;
}

.p-exh-detail-paint-number {
    font-size:90%;
}

/* end EXHIBITION DETAIL ARTWORK TAB */

.div-tabs-headline-exh {
    margin-top: 1px !important;
    padding:0 !important;
    border-top:none;
}
