@font-face {
    font-family: 'AIUnivers';
    src: url('/fonts/universltstd-bold-webfont.eot');
    src: url('/fonts/universltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universltstd-bold-webfont.woff') format('woff'),
         url('/fonts/universltstd-bold-webfont.ttf') format('truetype'),
         url('/fonts/universltstd-bold-webfont.svg#UniversLTStd45LightBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AIUnivers';
    src: url('/fonts/universltstd-light-webfont.eot');
    src: url('/fonts/universltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universltstd-light-webfont.woff') format('woff'),
         url('/fonts/universltstd-light-webfont.ttf') format('truetype'),
         url('/fonts/universltstd-light-webfont.svg#UniversLTStd45LightRegular') format('svg');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'AIUnivers';
    src: url('/fonts/universltstd-light-webfont.eot');
    src: url('/fonts/universltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/universltstd-light-webfont.woff') format('woff'),
         url('/fonts/universltstd-light-webfont.ttf') format('truetype'),
         url('/fonts/universltstd-light-webfont.svg#UniversLTStd45LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AUnicode';
    src: url('/fonts/Arial_Unicode.eot');
    src: url('/fonts/Arial_Unicode.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Arial_Unicode.woff') format('woff'),
         url('/fonts/Arial_Unicode.ttf') format('truetype'),
         url('/fonts/Arial_Unicode.svg#Arial Unicode') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: AUnicode !important;
}
