#main p.intro1, #main p.intro2 {
    font-size:1em;
    margin:0 15px 10px;
    line-height:1.5em;
    font-weight:normal;
    background:none;
    color:#777;
    text-align:left;
}

.div_text_wysiwyg-intro {
    margin-bottom:10px;
    line-height:1.5em;
    color:#777;
}

#main #intro:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

#collage {
    margin-bottom:10px;
    /*background: url(/g/home/home_collage.jpg) no-repeat left top;*/ 
    max-width:910px;
    width: 100%;
    height:286px;
}

.collage-bg-img {
    background: url(/g/home/home_collage.jpg) no-repeat left top;
}

#collage .a-home-links {
    float:left;
    width:64px;
    height:40px;
    display:block;
    border-right:1px solid #B4B1B1;
    border-top:1px solid #B4B1B1;
}

#collage .a-home-links:hover {
    background:#fff;
    opacity:0.2;
    filter: alpha(opacity=20);
}

#collage .a-home-links-top {
    border-top:none !important;
}

#collage .a-home-links-last {
    border-right:none !important;
}

#home-blocks {
overflow:hidden;
padding:0 0 15px 15px;
width:925px;
font-size:11px;
}

#home-blocks li {
border:1px solid #999;
float:left;
margin-right:15px;
}

#home-blocks li em {
background: url(../g/home/home_nav_em_bg.gif) no-repeat left 4px;
font-size:1em;
font-weight:700;
line-height: 30px;
padding-left:20px;
padding-bottom: 5px;
padding-top: 5px;
}

#home-blocks li a {
display:block;
height:7em;
padding:0 4px;
margin:2px;
width:156px;
clear:both;
}

#home-blocks li a.artwork-block {
background:#fff url(../g/home/home_nav_artwork.gif) no-repeat right top;
}

#home-blocks li a.artwork-block:hover {
background:#fff url(../g/home/home_nav_artwork.gif) no-repeat left top;
}

#home-blocks li a.biography-block {
background:#fff url(../g/home/home_nav_biography.gif) no-repeat right top;
}

#home-blocks li a.biography-block:hover {
background:#fff url(../g/home/home_nav_biography.gif) no-repeat left top;
}

#home-blocks li a.exhibitions-block {
background:#fff url(../g/home/home_nav_exhibitions.gif) no-repeat right top;
}

#home-blocks li a.exhibitions-block:hover {
background:#fff url(../g/home/home_nav_exhibitions.gif) no-repeat left top;
}

#home-blocks li a.literature-block {
background:#fff url(../g/home/home_nav_literature.gif) no-repeat right top;
}

#home-blocks li a.literature-block:hover {
background:#fff url(../g/home/home_nav_literature.gif) no-repeat left top;
}

#home-blocks li a.videos-block {
background:#fff url(../g/home/home_nav_videos.gif) no-repeat right top;
}

#home-blocks li a.videos-block:hover {
background:#fff url(../g/home/home_nav_videos.gif) no-repeat left top;
}
