.span-search-from {
    display: block;
}

.span-search-to {
    display: block;
}

#date-day-to {
    width: 35px!important;
}

#date-month-to {
	width: 35px!important;
}

#date-year-to {
	width: 55px!important;
}

#date-day-from {
    width: 35px!important;
}

#date-month-from {
	width: 35px!important;
}

#date-year-from {
	width: 55px!important;
}

.div-content-header-block-right #form-right-search .input-text-small {
    width: 50px!important;
}