/* hides the second object from all versions of IE */
* html object.mov {
    display: none;
}

/* displays the second object in all versions of IE apart from 5 on PC */
* html object.mov/**/ {
    display: inline;
}

/* hides the second object from all versions of IE >= 5.5 */
* html object.mov {
    display/**/: none;
}

.timeline_nav {
    background: transparent url('/biography/timeline/src/pic/timeline_nav_ie.jpg') repeat-x left center;
}

.timeline_nav > div {
    border: grey;
}
