#main #content .video h2 {
    font:400 78% Verdana, Arial, Helvetica, sans-serif;
}

.video {
    margin:0 13px;
}

#main {
height:expression(this.scrollHeight < 400? "400px" : "auto" );
}

.art{
font-size:10px;
}

.painting-hover {
padding:10px;
background:#fff;
width:350px;
}
#selected-titles li {
height:expression(this.scrollHeight < 65? "65px" : "auto" );
}

/*.painting-info img {
width:expression(document.body.clientWidth > 170? "170px": "auto" );
height:expression(this.scrollHeight > 300? "300px" : "auto" );
}*/

#bookSearch {
	border: 1px solid #999;
	width: 99.5%;
}

* html #main #intro {
height:1%;
padding-bottom:10px;
}

.art div.large {
padding-right: 10px;
}



.sale .info {
padding-top:8px;
margin-top:0;
position:relative;
}

#main #content .sale h3 {
background:#b5b5b5;
padding:0;
margin-bottom:0;
}

.sales-sold-for, .sales-sold-for-details {
padding-bottom:18px;
}

#current {
    height: 80px;
}

.news-leaflet {
    padding-right: 5px;
}

#news {
    margin-top:42px;
}

.news-info td {
    padding-bottom: 6px;
}

.tabsexh  li h4 a {
    padding:2px 7px;
}

#content ul.first-group {
    padding-bottom: 7px;
}

.div_categories_image {
    margin-right: 9px;
}

#div_categories_images {
    width: 560px;
}

.submit-basic-search-top {
    padding:4px 0 0 0; 
    margin:0 0 0 -5px;
}

#input-basic-search-top {
    padding-top:3px;
}

.submit-basic-search-top {
    float:none;
}
