#main {
height:expression(this.scrollHeight < 400? "400px" : "auto" );
}

.art{
font-size:10px;
}

.painting-hover {
padding:10px;
background:#fff;
width:350px;
}
#selected-titles li {
height:expression(this.scrollHeight < 65? "65px" : "auto" );
}

/*.painting-info img {
width:expression(document.body.clientWidth > 170? "170px": "auto" );
height:expression(this.scrollHeight > 300? "300px" : "auto" );
}*/

#bookSearch {
	border: 1px solid #999;
	width: 99.5%;
}

* html #main #intro {
height:1%;
padding-bottom:10px;
}

.art div.large {
padding-right: 10px;
}



.sale .info {
padding-top:8px;
margin-top:0;
position:relative;
}

#main #content .sale h3 {
background:#b5b5b5;
padding:0;
margin-bottom:0;
}

.sales-sold-for, .sales-sold-for-details {
padding-bottom:18px;
}

.news-leaflet {
    padding-right: 5px;
}

.description-date {
    height: 78px;
}


.video ul {
    padding-top: 5px;
    padding-bottom: 8px;
}

.news-info td {
    padding-bottom: 6px;
}

.tabsexh  li h4 a { 
    padding:2px 7px;
}

#input-basic-search-top {
    padding-top:3px;
}

.submit-basic-search-top {
    float:none;
}

#div-thumbs .div-thumb-img-border {
}

#div-thumbs .div-thumb-img-border img {
/*
    bottom: none;
    left: none;
    margin: none;
    position: relative;
    right: none;
    top: none;
    vertical-align: middle;
    */
}

#div-thumbs .div-thumb-img-border img {
    position: relative;
    top: expression((this.parentNode.clientHeight-this.clientHeight)/2+"px");
    display: block;
}

.ul-exh-years-tabs li a { 
    border-bottom:1px solid  #999999;
}

.ul-exh-years-tabs li a.selected {
    border-bottom:1px solid #efefef !important;
}

.ui-tabs-active a { 
    border-bottom:1px solid #efefef !important;
}

.ul-exh-years-tabs li a:hover {
    background: #efefef;   
}

.div-exhibitions-detail-tab-sort {
    padding: 18px 12px 0px 12px !important;
}

.div-previous-next-box-around-numbers {
    padding:2px 6px 2px 6px;
}

.div-exhibitions-decades {
    padding-top:5px;
    margin-top:-15px;
}

.div-articles-head {
    margin-top:-1px;
}

.div-painting-relation-tab-info {
    margin-top:0px;
}

#search-form .xsmall, #search-form .xsmall * {
    width:40px;    
}

.span-dash {
}

table.expandlist, table.expandlist tr, table.expandlist th, table.expandlist td {
    border:none !important;
}

table.expandlist .gap {
    width: 0px;
    border:0;
    display:none;
}
