#main {
height:expression(this.scrollHeight < 400? "400px" : "auto" );
}

.art{
font-size:10px;
}

.painting-hover {
padding:10px;
background:#fff;
width:350px;
}
#selected-titles li {
height:expression(this.scrollHeight < 65? "65px" : "auto" );
}

/*.painting-info img {
width:expression(document.body.clientWidth > 170? "170px": "auto" );
height:expression(this.scrollHeight > 300? "300px" : "auto" );
}*/

#bookSearch {
	border: 1px solid #999;
	width: 99.5%;
}

* html #main #intro {
height:1%;
padding-bottom:10px;
}

.art div.large {
padding-right: 10px;
}



.sale .info {
padding-top:8px;
margin-top:0;
position:relative;
}

#main #content .sale h3 {
background:#b5b5b5;
padding:0;
margin-bottom:0;
}

.sales-sold-for, .sales-sold-for-details {
padding-bottom:18px;
}

.tabsexh  li h4 a { 
    padding:2px 9px;
}

.timeline_nav {
    background: transparent url('/biography/timeline/src/pic/timeline_nav_ie.jpg') repeat-x left center;
}

.timeline_nav > div {
    border: grey;
}

#input-basic-search-top {
    padding-top:3px;
}

#div-thumbs .div-thumb {
    width:123px;
}

.div-tabs-news-auctions ul li, .div-tabs-news-exh ul li {
    background:#DCDCDC;
}

.a-literature-link-en {
    width:76px;
}

.a-literature-link-de {
    width: 77px;
}

.a-literature-link-fr {
    width: 74px;
}

.a-literature-link-it {
    width: 105px;
}

.a-literature-link-ch {
    width: 76px;
}

.div-previous-next-box-around-numbers { 
    padding-bottom:4px;
}

.ul-exh-years-tabs li a {
    border-bottom:1px solid  #999999;
}

.ul-exh-years-tabs li a.selected {
    border-bottom:1px solid #efefef !important;
}

.ui-tabs-active a {
    border-bottom:1px solid #efefef !important;
}

.ul-exh-years-tabs li a:hover {
    background: #efefef;   
}

.div-previous-next-box-around-numbers {
    padding:2px 6px 2px 6px;
}

#search-form .xsmall, #search-form .xsmall * { 
    width:40px;            
}
