#input-basic-search-top {
    padding-top:1px;
}

#sort .title-search {
    width: 310px !important;
}

#sort .author-search {
    width: 247px !important;
}

#sort .date-search-en {
    width: 48px !important;
}

.div-tabs-news-auctions ul li, .div-tabs-news-exh ul li {
    background:#DCDCDC;
}

#search-form .xsmall, #search-form .xsmall * { 
    width:48px;    
}
