/* ----- import css ----- */
@import url("../css/reset.css");
@import url("/css/breadcrumbs.css");
@import url("/css/disable.css");

/* ----- html elements ----- */

#div-page-loading {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 99999;
    background: rgba(60, 60, 60, .95) url("/js/jquery_fancybox/img/fancybox_loading.gif") no-repeat center center;
}

a {
    color:#000;
    text-decoration:none;
}

a:hover {
    transition: ease 300ms;
}

body {
    background:#ccc;
    font:400 75% Verdana, Arial, Helvetica, sans-serif;
}

.body {
    margin-top:10px;
}

.body-bg-white {
    background: #fff !important;
}

.a-heade-site-title {
    font-size:2.5em;
    padding:8px 15px 8px 0;
    font-weight:normal;
    display: block;
    width: 380px;
}

cite {
font-style: italic;
color: #747474;
font-weight: 700;
font-size: .9em;
text-align: right;
padding-right: 15px;
display:block;
margin:10px 0px 0px 0px;
}

sub {

}

sup {
    vertical-align: baseline;
    font-size: 0.8em;
    position: relative;
    top: -0.4em;
}

#content .no_italic {
    font-style: normal;
}

blockquote {
    border-bottom:1px solid #CCC;
    margin:0px 0px 10px 0px;
    padding:0pt 0px 10px;
    line-height:1.3em;
}

.search-highlight {
    font-weight: 700;
    font-style:normal !important;
}

.a-text-link {
    color:#666666 !important;
    border-bottom:1px dotted #666666;
}

.a-text-link:hover {
    border-bottom:none;
    border-bottom:1px solid #666666;
}

#table {
    left: 50%;
    /*width: 562px;*/
    width: 560px;
    height: auto;
    /*background: rgb(181, 181, 181) url("/g/exhibitions/exhibition_artwork_header_background.jpg") repeat-x left top;*/
    border-top: 1px solid #999999;
    overflow: hidden;
    /*padding-top: 32px;*/
}

span.highlight, span.f1o1u1n1d3 {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .8);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
    padding: 0px 0px 0px 0px;
    -moz-transition: background-color ease 1s, color ease 1s;
    -webkit-transition: background-color ease 1s, color ease 1s;
    -o-transition: background-color ease 1s, color ease 1s;
    -ms-transition: background-color ease 1s, color ease 1s;
    transition: background-color ease 1s, color ease 1s;
}

.expandlist:hover span.highlight, .expandlist:hover span.f1o1u1n1d3 {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .8);
    color: rgb(255, 255, 255);
}

/* ----- common elements ----- */

.wrapper {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    width: 910px;
}

#div-header {
    background:#b5b5b5;
    border-left:1px solid #999;
    border-right:1px solid #999;
    border-top:1px solid #999;
}

#menu-header {
    display: none;
}

#main {
    background:#b5b5b5;
    border-left:1px solid #999;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    margin-bottom:10px;
    overflow:hidden;
    padding-bottom:20px;
    min-height:400px;
}

.div-main-literature {
    overflow:visible !important;
}

#footer {
    font-size:.8em;
    margin-top:12px;
}

#footer p {
padding-bottom:15px;
}


#footer p.copyright {
    float: left;
    padding-top: 9px;
    /*margin-left: 16px;*/
}

#footer p.contact {
    float: right;
}

#footer p.contact a {
    float: left;
    margin-top: 9px;
}

#footer p.credits a {
    padding-left: 10px;
    float: left;
    margin-top: 9px;
}

#footer p.credits a.credits-border {
    border-left: 1px solid #000;
}

#footer p.credits {
    float: right;
    padding-left: 10px;
}

#footer .p-disclimer a {
    padding-left: 10px;
    float: left;
    margin-top: 9px;
}

#footer .p-disclimer a.disclimer-border {
    border-left: 1px solid #000;
}

#footer .p-disclimer {
    float: right;
    padding-left: 10px;
}

#footer .p-social a {
    padding-left: 10px;
    width:30px;
    height:30px;
    display:block;
    float:right;
}

#footer .p-social .facebook, #footer .p-social .twitter {
    padding-left: 0 !important;
}

#footer .p-social a:hover {
    background-position:0px -29px;
}

#footer .p-social span.social-border {
    border-left: 1px solid #000;
    padding-left:10px;
    float: left;
    margin-top: 9px;
    margin-left: 5px;
    padding-right: 6px;
}

#footer .p-social {
    float: right;
    padding-left: 5px;
    width:216px;
}

#footer a:hover, #footer a.selected {
text-decoration:underline
}

#div-footer-right {
    float:right;
    /*margin-right: 16px;*/
}

#div-footer-right a {
    margin-right:10px;
    padding-right:10px;
    border-right: 1px solid #000;
    margin-top:10px;
    float:left;
}

.div-footer-social, .div-footer-more-info {
    float:left;
}

#div-large-content {
    width:705px;
    margin:0 0 0 30px;
    float:left;
}

.div-right-side-info-box {
    border: 1px solid #9B9B9B;
    float:right;
    width:132px;
    height: 141px;
    background:#cdcdcd;
    overflow:hidden;
    margin-top:4px;
}

.div-heading-picture {
    float:left;
    margin: 4px 0 15px;
    width: 554px;
    height: 141px;
    border: 1px solid #9B9B9B;
}

#content {
float:left;
position:relative;
width:560px;
    margin:0 0 0 15px;
}

#content a:hover {
color:#666666
}

#content p {
/*margin-bottom:15px;*/
line-height:1.5em;
}

#content p.margin {
    margin-bottom:15px;
}

#content img.main {
margin:15px 0;
}

#content .description {
background:#ccc;
padding:6px;
}

#content .extra-description {
background:#b5b5b5;
}

#content .trp h2 {
padding:8px 8px 0 8px;
}

#content .trp p {
padding:8px;
margin-bottom:0;
}

.p-amy-dickson-thanks {
    padding: 2px 5px !important;
}

#related-nav h1 span.related {
color:#666;
font-size:.75em;
}

.gallery-image {
padding-top:10px;
}

.sublink {
font-size:.95em;
font-weight:400;
padding-left:10px;
}

a .sublink, .sublink a:hover {
text-decoration:underline;
}
#content ul {
margin-bottom:15px;
}

.brief {
    position:relative;
    padding:6px;
    background:#c1c1c1;
}

.a-read-more-cat-desc {
    display:block;
    /*width: 554px;*/
    /*background: #C1C1C1;*/
    /*margin-bottom:15px;*/
    /*padding-bottom:9px;*/
    padding-left:15px;
    cursor:pointer;
}

#content h2 a:hover, #content h3 a:hover {color:#000000} /*hack to stop rollover of 'a name' */

/* ----- ajax drop down list ----- */
.selected-item {
background-color: #888;
}

/* ----- triple border class ----- */
.trp {
    background:#b8b8b8;
    border:1px solid #9b9b9b;
    padding:2px;
}

.div_triple_borders {
    background:#ccc;
    padding:2px 2px 2px 2px;
}

.content-large .trp * {
    background:#fff;
}

.trp p {
    padding-top:4px;
}

/* ----- headings class ----- */

.div-h3-bg {
    background:#747474;
    color:#fff !important;
    min-height:20px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.div-h3-bg h3 {
    background:none !important;
    display: inline;
}

.span-h3-bg {

}

/*
#main #sub-nav h1 {
background:#ccc;
color:#000;
font-size:1em;
font-weight:700;
padding:6px;
}
*/

#main #content h2 {
    background:#ccc;
    font-size:1.05em;
    /*font-weight:700;*/
    padding:6px;
    margin-bottom:15px;
    position:relative;
}

#main #content .art h2 a {
font-size: 1.1em;
}

#main #content .art h2 a:hover {
background:#000;
}

#main #content h3 {
background:#c1c1c1;
font-size:1.00em;
font-weight:700;
padding:6px;
margin-bottom:15px;
}

#related-nav h1 {
background:#ccc;
color:#000;
font-size:1em;
font-weight:700;
/*padding:3px 40px 8px 4px;*/
padding:3px 0 8px 4px;
}

.heading-picture {
    display:block;
    height:141px;
    margin:0 0 15px;
    width:99%;
}

.heading-picture-margin-top {
    margin-top: 13px;
}

/* ----- nav elements ----- */
#ul-main-nav {
    background-image:url('/g/base/main_nav_bg.jpg');
    background-repeat:repeat-x;
    background-position:left bottom;
    overflow:hidden;
    padding:0 0 14px 15px;
    width:925px;
    margin-left: -15px;
}

.main-nav-ipad-zh {
    background-position:left 31px !important;
}

#ul-main-nav li {
    background:#b5b5b5;
    margin-right:10px;
    float:left;
}

#ul-main-nav li a {
    display:block;
    font-size:1.05em;
    padding:4px 7px;
    font-weight:normal;
    transition: none;
}

#ul-main-nav li a:hover {
    border-left:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
    padding:4px 6px 6px;
}
/* #ul-main-nav li a:hover {
    border-left:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
    padding:4px 6px 6px 6px;
} */

#ul-main-nav .selected {
    background:#ccc;
    padding:4px 6px 6px 6px;
    border-left:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;
    border-bottom:none;
    font-size:1.05em;
}

#ul-main-nav .selected_none {
    padding:4px 7px 6px 6px;
    border-left:1px solid transparent;
    border-top:1px solid transparent;
    border-right:none;
    border-bottom:1px solid #999;
}

.main-nav-selected-ipad-zh {
    border-bottom:1px solid #999 !important;
}

.ul-left-microsites {
    margin-bottom: 0 !important;
}

.p-left-microsites {
    padding: 3px 0 8px 4px !important;
    font-weight: 700;
}

.ul-left-microsites a {
    padding:0 1px !important;
    background:none !important;
}

.ul-left-microsites a:hover {
    background:none !important;
    color:#666 !important;
}

.p-opened {
    height: auto !important;
}

#p-category-desc {
    /*background: none repeat scroll 0 0 #C1C1C1;*/
    height: 65px;
    overflow: hidden;
    padding: 0 15px 4px;
    position: relative;
    line-height: 22px !important;
}

.p-category-desc-short-text {
    /* padding-bottom: 38px !important; */
}

#related-nav {
float:right;
padding:0 15px 0;
width:160px;
}

#related-nav a:hover {
/*text-decoration:underline;*/
color:#666666
}

.related-block {
margin-bottom:15px;
}

.related-block ul {
padding:0 4px 10px;
}

.related-block ul li , .bio-list li, .video-nav li a, .admin-option ul li {
    padding-left:10px;
    /*background:url(../g/base/bullet.gif) no-repeat 0 6px;*/
    background:url(/g/biography/arrows.png) no-repeat 0 5px !important;
    position:relative; /* fix bullet points in IE*/
}

.related-block ul li:hover {
    background-position: 0 -88px !important;
}

#content .exhibition-list {
margin-bottom:0;
}


#content .related_video_list {
margin-left:20px;
margin-top:10px;
}

.exhibition-list li {
padding-left:10px;
background:url(../g/base/bullet.gif) no-repeat 0 6px;
position:relative; /* fix bullet points in IE*/
margin-bottom:10px;
}

#related-nav .related-exhibitions li {
padding-bottom:10px;
}

#related-nav .related-atlas li {
background:none; padding:0 0 0 15px; margin:0;
}

#related-nav .related-atlas .gallery-image {
padding:0;
}

.video-nav ul li {
background: none; padding:0;
}

.exhibitions li {
margin-bottom:8px;
}

.bio-list li {
margin:0 10px 10px 10px;
}


/* exhibition tabs */

#content ul.tabsexh  {
	position:relative;
	margin-top:20px;
	margin-bottom:0;
	margin-left:4px;
	text-align:left;
}

.tabsexh  li {
    margin:0 0 2px;
	top:1px;
	position:relative;
}

.tabsexh  li h4 {
    position:relative;
	top:1px;
}

.tabsexh  li h4 a {
    padding:2px 9px;
	display:block;
	float:left;
	border:1px solid #b5b5b5;
	border-bottom:none;
}

.tabsexh  li h4 a.sales {
	padding-left:20px;
	background:url(/g/base/info_sales.gif) no-repeat 5px 8px;
}

.tabsexh  li h4 a.collection {
	padding-left:20px;
	background:url(/g/base/info_museum.gif) no-repeat 5px 8px;
}

#content .tabsexh  li h4 a {
	border-bottom:1px solid #999;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	color:#000;
}

#content .tabsexh  h4 a.selected {
	/*border-bottom:1px solid #ccc;*/
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	color:#000;
	background-color:#ccc;
}

#content .tabsexh  h4 a.selected:hover {
	/*border-bottom:1px solid #ccc;*/
}

.tabsexh-info {
	clear:left;
    margin-top:1px;
}

.tabsexh-info .holder {
	text-align:left;
	background:url(/g/base/main_nav_bg.jpg) repeat-x left top;
	padding:6px;
	margin-bottom:10px;
	border-bottom:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	min-height:140px;
}

.div-articles-holder {
    min-height:0 !important;
}

.exhibition-type {
    padding-top: 5px;
    padding-bottom: 5px;
}

#top-tabsexh .tab {
    float: left;
    margin-right: 3px;
}

/* ----- art elements ----- */

.heading-link {
color: white;
background: url(../g/art/heading_link.gif) repeat-x 0 bottom;
padding-bottom: 2px;
}

#content .heading-link:hover {
color: #999;
}

/*--- RIGHT SIDE SEARCH ART ---*/

#related-nav .p-right-side-search {
    padding:3px 40px 4px 21px;
    background:url(/g/search/triangle_top.png) no-repeat 5px center;
    font-weight: 700;
}

#related-nav .h1-right-side-featured-titles {
    background: #ccc url(/g/literature/featured_title_header_bg.png) repeat-x left bottom;
    padding: 4px 0 5px 9px !important;
}

#related-nav .p-right-side-featured-titles {
    background: #ccc url(/g/literature/featured_title_header_bg.png) repeat-x left bottom;
    padding: 4px 0 5px 9px !important;
    font-weight:700;
}

.div-right-side-block {
    border-bottom: 1px solid #c2c0c1;
    padding: 2px 2px 0;
}

.div-right-side-block-padding {
    padding-top:5px;
    padding-bottom:2px;
}

.div-right-side-block-padding-top {
    padding: 5px 2px 0 2px;
}

.div-right-side-block-no-padding {
    padding:0 !important;
}

.div-right-side-search-trp {
    background:#b8b8b8;
    border:1px solid #9b9b9b;
    padding:2px 2px 0;
}

.div-right-side-block-inside {
    padding: 0 5px 5px;
}

.div-right-side-search-trp p {
    padding-top:4px;
}

.div-right-side-search-triple-borders {
    background:#ccc;
}

#related-nav .span-right-side-by {
    color:#454344;
    font-size:1.1em;
}

#related-nav .span-right-side-by-type {
    font-weight:700;
    color:#333333;
    font-size:1.1em;
}

.label-right-side-number {
    padding: 0 5px 5px;
}

#search-form .input-right-side-number-more {
    width:82px;
}

p.help {
    text-indent:-9999px;
}

p.help {
    background:  url(../g/base/icon_help.gif) no-repeat;
    position:absolute;
    display:block;
    height:16px;
    top:5px;
    right:20px;
    width:16px;
}

p.tip {
    margin-bottom: 6px;
}

h2.subtitle {
    font-weight: 700;
    margin-bottom: 6px;
}

#search-form p {
    padding:0 5px 5px;
}

#search-form acronym, #search-form abbr {
    background:url(/g/base/dash.gif) repeat-x left bottom;
    cursor:help;
}

#search-form #muid option {
    width:330px;
}

#search-form #search-button, #search-form #reset-button, #search-quotes #search-button, #search-quotes #reset-button, #search-exh #search-button, #search-exh #reset-button, #form-search-literature #search-button, #form-search-literature #reset-button {
    width:5em;
    margin-left:5px;
    border:1px solid #9b9b9b;
    font-size:1em;
    background:#dfdfdf url(/g/search/button_bg.png) repeat-x left bottom;
    padding:2px 0;
}

#search-form input, #search-form select, #search-form select, #search-form option {
    font-size:.9em;
    width:130px;
    margin:3px 0 4px;
}

#search-form label, #search-form p.label {
    font-size:.8em;
}

#search-form strong,p.tip span  {
    font-weight:700;
}

#search-form .small, #search-form .small * {
    width:67px;
}

#search-form .xsmall, #search-form .xsmall * {
    width:45px;
}

.chrome #search-form .xsmall, #search-form .xsmall * {
    width:47px;
}

.input-right-search-size-ipad {
    width:40px !important;
}

.margin-left-input-fr, .margin-left-input-it {
    margin: 3px 0 4px 5px !important;
}

#search-form .span-search-from {
    font-size:85%;
    padding-top: 7px;
    float: left;
}

#search-form .span-search-from-en, #search-form .span-search-from-de, #search-form .span-search-from-fr, #search-form .span-search-from-it {
    width: 33px;
}

#search-form .span-search-from-zh {
    width: 25px;
}

#search-form .input-day {
    width:20px;
}

#search-form .input-month {
    width:22px;
}

#search-form .input-year-en, #search-form .input-year-de, #search-form .input-year-fr, #search-form .input-year-it {
    width:32px;
}

#search-form .input-year-zh {
    width:47px;
}

#search-form .p-right-side-submit {
    padding-bottom:6px;
}


#search-form #height-att {
    margin-left:4px;
}

/*--- END RIGHT SIDE SEARCH ART ---*/

/*--- RIGHT SIDE SEARCH NUMBER TABS ---*/

#search-form .ul-search-number-tabs  {
    position:relative;
    margin-bottom:0;
    margin-top:3px;
    text-align:left;
    width: 132px;
    padding: 0 0 23px;
    border-bottom:1px solid #999;
}

#search-form .ul-search-number-tabs  li {
    margin:0;
    padding:0;
    top:1px;
    position:relative;
    list-style:none;
    background:none;
    float: left;
}

.ul-search-number-tabs li h4 {
    position:relative;
    top:1px;
}

#search-form .ul-search-number-tabs h4 a {
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    color:#6a6a6a;
    padding:3px 12px;
    display:block;
    float:left;
    font-size:0.9em;
    width: 30px;
    text-align: center;
    background:#d7d6d6 url(/g/search/tab_bg.png) repeat-x left bottom;
}

#search-form .ul-search-number-tabs h4 a.range-it {
    width: 44px !important;
}

#search-form .ul-search-number-tabs h4 a.range {
    border-left:none !important;
}

#search-form .ul-search-number-tabs h4 a.selected {
    border-bottom:1px solid #ccc;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    background:#dfdede url(/g/search/tab_bg_selected.png) repeat-x left bottom;
    color:#000;
}

#search-form .ul-search-number-tabs h4 a:hover {
    color:#000;
}


/*--- END RIGHT SIDE SEARCH NUMBER TABS ---*/


.category {
    font-size:.9em;
}

#content .category p {
    margin-bottom:0;
}

.art .div_cat_thumb {
    float:left;
    width:124px;
    padding:0 20px 15px 0;
    position:relative;
}

.art .large {
    float:left;
    width:170px;
    padding:0 20px 15px 0;
    position:relative;
}

.art .last {
    padding-right:0;
}

.art .div_cat_thumb img {
    padding:2px;
    border:1px solid #999;
    margin-bottom:8px;
}

.art .div_cat_thumb a {
    font-weight:300;
}

.art .div_cat_thumb img:hover {
    border:1px solid #666;
}

.related-art-info .art .div_cat_thumb, .notes-info .art .div_cat_thumb {
    padding:15px 15px 0px 28px;
}

br.clear, .clear-tab {
    clear:both;
}

.clearer {
    font-size: 0px;
    line-height: 0px;
    display: block;
    margin: 0px;
    padding: 0px;
    clear: both;
    height: 0px;
    width: auto;
}

.category-desc {
    background:#ccc;
    padding:5px;
}

.painting-desc {
font-weight:300;
display: block;
line-height: 1.3em;
}

.painting-hover {
padding:10px;
background:#fff;
min-width: 350px;
}

.painting-hover img{
border:1px solid #ccc;
display:block;
margin:0 auto 10px auto;
}

.painting-related {
margin-top: 1em;
font-weight:700;
}

.painting-info .painting-related-sub {
background-image:none;
padding:0;
}

.div-page-numbering-container {
    position: relative;
    padding:0 13px;
}

.div-page-numbering-container-border-top {
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.div-page-numbering-container-border-bottom {
    border-bottom: 1px solid #ccc;
    /*margin-bottom: 13px;*/
}

.pagelist_navigation_old {
    /*float: right;*/
}

.span-text-per-page {
    color:#606060;
    padding-right:6px;
    padding-top:2px;
    font-size:90%;
    float:left;
}

.pages-form {
margin-bottom:10px;
padding-bottom: 10px;
clear:both;
display: block;
position: relative;
}

form.top {
    border-bottom: 1px solid #ccc;
}

form.bottom {
    border-top: 1px solid #ccc;
    margin-top:10px;
    padding-top: 10px;
}

.next-decade {
position:absolute;
top:0;
right:0;
}

.pages-form .pages a, .pages-form .page-numbers, .pagelist_navigation_old .pages a, .pagelist_navigation_old .page-numbers {
padding-right:7px;
}

.pages-form .pages, .pagelist_navigation_old .pages {
padding: 0 0 0 7px;

}

.a-page-numb-show-all {
    margin-left:10px;
}

/*
#content .back-to-search {
position: absolute;
right: 5px;
top:45px;
}
*/


/*.pages-form .pages a:visited {
color:#999999
}*/

.pages-form .pages .selected, .pagelist_navigation_old .pages .selected {
text-decoration:none; font-weight:bold;
}

.pages-form .pages a:hover, .pagelist_navigation_old .pages a:hover {
text-decoration:underline;
}

.pages-form .pages a.previous, .pagelist_navigation_old .pages a.previous {
    text-decoration:none !important;
}

.pages-form .pages a.next, .pagelist_navigation_old .pages a.next {
    text-decoration:none !important;
}

.pages-form .pages a img, .pagelist_navigation_old .pages a img {
position:relative;
bottom:-3px;
}

.pages {
    text-align:center;
    margin-top:17px;
}

.pages a {
    color:#565656;
}

.pages a.selected {
    text-decoration: underline;
}



.paintings-pp {
display:none;
}

.painting-info img {
float:left;
margin-bottom:15px;
/*max-height:300px;*/
/*max-width:170px;*/
}

#main #content .painting-details {
margin-bottom:0;
float:none;
width:auto;
}

.painting-details li a {
/*border-bottom:1px dashed #000;*/ background: url(../g/base/bullet.gif) no-repeat 0% 50%; padding-left: 10px;
}

.link-space {margin: 10px 0;}

.painting-details-brief li {
float:left;
}

.painting-details-brief li a {
display:block;
height:11px;
width:1px;
}

#main #content h2.info-museum, #main #content h2.info-sales {
padding:6px 6px 6px 24px;
text-indent:0;
position:relative;
bottom:0;
overflow:visible;
font-size:1em;
font-weight:normal;
}

#main #content h2.info-sales {
background:#ccc url(../g/base/info_sales.gif) no-repeat 5px 8px;
}

#main #content h2.info-museum {
background:#ccc url(../g/base/info_museum.gif) no-repeat 5px 8px;
}

/* sales history tab */

.sale {
/*padding: 8px 0 0;*/
position:relative;
}

#main #content .sale h3 {
background:#b5b5b5;
padding:0;
margin-bottom:8px;
}

.sales-estimate-en, .sales-sold-for-en, .sales-estimate-it, .sales-sold-for-it  {
width:6em;
}

.sales-estimate-fr, .sales-sold-for-fr  {
    width:7em;
}

.sales-estimate-de,.sales-sold-for-de  {
width:7em;
}

.sales-estimate-zh,.sales-sold-for-zh  {
width:6em;
}

.sales-estimate, .sales-estimate-details, .sales-sold-for, .sales-number {
display:block;
float:left;
}

.div-tab-sales-number-notes {
    float:left;
}

.sales-estimate-details1 {
    display:block;
}

.sales-estimate-details2 {
    padding-top:4px;
    display:block;
}

.sale .info {
margin-top:6px;
}

/* ----biography elements ----- */

#biography-jumpmenu {
padding-bottom:15px;
position:relative;
}

#biography-jumpmenu p {
display:inline;
}

#jumpmenu-options {
display:inline;
}

a.top {
background:url(../g/base/back_to_top.gif) no-repeat 0 0;
padding:0 0 0 20px;
margin-top:5px;
float: right;
transition: none !important;
}

a.top:hover {
background:url(../g/base/back_to_top.gif) no-repeat 0 -240px;
}

.interviewer {
font-style: italic;
display:block;
margin:5px 0;
}

.timeline-img {
margin:10px 0 0 3px;
}

.related-block ul li a.timeline-link {
background:none;
padding:0;
}



.biography-side {
font-size:.9em;
}

.biography-side p, .biography-side ul, .biography-side h2 {
padding: 5px;
}

.biography-side ul li {
/*margin-left:3px;*/
padding-bottom: 4px;
padding-left:0;
background:none;
}

.biography-side h2 {
font-size: 1.1em;
font-weight:700;
padding-bottom:0;
}

.biography-inline-image-right {
padding:0 0 5px 10px;
float:right;
}

.biography-inline-image-left {
padding:0 10px 5px 0;
float:left;
}

/*.title {
font-style: italic;
}*/
/* ----exhibitions elements ----- */


#search-exh p {
    padding-bottom: 4px;
    padding-left: 8px;
    font-size:1em;
}

#search-exh .submit {
    padding-left: 4px;
}

#search-exh label {
    font-size:0.8em;
}

#search-exh strong {
    font-weight:700;
}

#search-exh .small, #search-exh .small * {
    width:63px;
}

#search-exh input, #search-exh option {
    font-size:0.9em;
    margin:3px 0 4px;
    width:130px;
}

#search-exh select {
    font-size:0.9em;
    margin:3px 0 4px;
    width:130px;
    height:20px;
}

#search-exh #keyword, #search-exh #location {
    background:#FFFFFF none repeat scroll 0 0;
}

.exhibition-title {
    /*width:389px;*/
    font-weight:700;
    padding-bottom:6px !important;
    padding-right:30px !important;
}

.span-exhibition-title-translation {
    font-weight:700;
    font-size:90%;
    display: inline !important;
    padding-bottom: 0 !important;
}

.exhibition-date {
    width:384px;
}

.exhibition-type, .estimate, .sold-for {
font-weight:700;
}

div.holder .exhibition-type {
    background: #cccccc;
}

.estimate, .sold-for {
display:block;
}

.group, .solo {
padding-left:10px;
}

.group {
padding-top:0px;
}

.exhibitondetail-table td {
   /* border: 1px solid red;*/
    padding: 2px;
}

#content ul.first-solo {
    margin-bottom: 11px;
}

#content ul.first-group {
    margin-bottom: 0;
}



.exhibition-desc {
    padding-left:10px;
    background: #e4e4e4;
}

.exhibition-desc li {
    padding-bottom:11px;
    /*background:transparent url(../g/base/bullet.gif) no-repeat scroll 0pt 6px;*/
    /*padding-left:40px;*/
    position:relative;
    padding-top:4px;
}

.exhibition-desc li a span.exhibition-date {
background: url(../g/exhibitions/tour.gif) no-repeat scroll 0px 0 ;
/*border: 1px solid red;*/
/*margin-left: -40px;*/
padding-left:40px;
padding-bottom:4px;
position:relative;
left:-40px;
display:block;
}

.exhibition-desc li .exhibition-video {
padding-right:0px;
margin-left:0px;
}

.exhibition-desc li span {
padding-bottom:4px;
display:block;
}

hr {
    display: none;
}

.div-nicedit-text hr, .nicEdit-main hr {
    display: block !important;
    border-top: 1px solid #CCCCCC;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.div-nicedit-text a {
    text-decoration:underline;
}

.div-nicedit-text em {
    font-style:italic;
}

#content #book-info p {
font-size:.9em;
margin-bottom:10px;
padding-left:8px;
}

#content #book-info p.last {
margin-bottom:15px;
}

#content #book-info table {
    margin-bottom:15px;
    padding-left:8px;
}

#content #book-info table th {
    padding-right:11px;
}

#content #book-info table td {
    padding-bottom:10px;
    font-size:1em;
}

#content #book-info table td p {
    margin:0;
    padding:0;
    font-size:1em;
}

.book-title {
    font-size:115%;
}

.book-title, .book-author, .first-published, .book-type, .isbn, .book-notes {
font-weight:700;
}

a.go-back {
background:url(/g/base/go_back.gif) no-repeat;
padding:0 0 0 20px;
}

a.go-back:hover {
background:url(/g/base/go_back.gif) no-repeat 0 -240px;
}

.go-back-second {
    margin-top:15px;
}

a.go-back-new {
    background: #ccc url(/g/base/go_back.gif) no-repeat 5px 7px;
    padding:6px 6px 6px 25px;
    color:#000;
    font-size:1em;
    font-weight:700;
    display: block;
}

a.go-back-new:hover {
    background: #ccc url(/g/base/go_back.gif) no-repeat 5px -233px;
}

.h1-guide {
    margin-top:15px;
}

.span-guide-desc {
    font-size:80%;
    font-weight:400 !important;
}

a.a-guide {
background:url(/g/base/go_back.gif) no-repeat 0 1px;
padding:0 0 0 20px;
display: block;
}

a.a-guide:hover {
background:url(/g/base/go_back.gif) no-repeat 0 -239px;
}

.a-guide-desc {
    background-position: 0 6px !important;
}

.a-guide-desc:hover {
    background-position: 0 -234px !important;
}

#content p.view-exhibition {
font-weight:700;
font-size:.9em;
background:url(../g/base/view_exhibition-2.gif) no-repeat;
padding:2px 0 3px 30px;
margin:5px 0 25px;
}

.ex-date, .ex-loc {
    font-size:11px;
    font-weight:400 !important;
    line-height: 1.3em;
}

.p-exhibition-title {
    line-height:1em !important;
}

.p-exhibition-title-padding-bottom {
    padding-bottom: 12px;
}

.p-exhibition-title-lang {
    /*font-size:.9em;*/
    /*font-size:11px;*/
    font-weight:400 !important;
    padding-bottom: 12px;
    padding-top: 5px;
    line-height:1em !important;
}

.span-exhibition-title-padding-bottom {
}

.span-exh-tab-title {
    font-weight:700;
    font-size: 0.9em;
}

.span-exh-tab-title-lang {
    font-size: 0.9em;
}

.span-exh-tab-loc {
    display:block;
    padding-top:6px;
}

.span-exh-tab-loc, .span-exh-tab-date {
    font-size:80%;
}

.h2-exh-title {
    font-weight:700;
    margin-bottom:7px !important;
}

.h2-exh-description {
    font-size:11px !important;
    line-height: 1.3em !important;
    font-weight:400 !important;
}

.h2-exh-description a {
    text-decoration:underline !important;
}

/*download block*/

.download li {
	margin-top:10px;
	height: 1% /* IE hack*/
}
.related-block .download a {
	margin:0;
	padding:2px 0px 2px 20px;
	font-size: .9em;
	font-weight:700;
	text-decoration:none;
	display: block;
	background:none;
}
.download .quicktime {
	background: url(../g/videos/quicktime_sm.jpg) no-repeat;
}
.download .flash {
	background: url(../g/videos/flash_sm.jpg) no-repeat;
}

/*contact page*/
legend {
display:none;
}

#contact-form .input {
    width: 331px;
}

.contact-form-table td {
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align:middle;
}

#write img {
    margin-left:1px;
}

.correctionText warning {
display:block;
font-weight:700;
}

textarea {
font-family:inherit;
font-size:1em;
}

.correctionText {
display:block;
position:relative;
bottom:-5px;
}

.warning {
color:#747474;
}

.hide {
display:none;
}

#switcher-options a {
cursor:pointer;
}

a.forward {
background:url(../g/base/link_out.gif) no-repeat 0 0;
padding:0 0 2px 20px;
transition:none !important;
}

a.forward:hover {
background:url(../g/base/link_out.gif) no-repeat 0 -240px;
transition:none !important;
}

/*
a.back-to-search {
background:url(../g/base/link_return.gif) no-repeat 0 0;
padding:0 0 0 20px;
}
*/

/*
a.back-to-search:hover {
background:url(../g/base/link_return.gif) no-repeat 0 -240px;
}
*/

.screenshot {
margin:10px 0;
}

.dealer-info {
margin-bottom:20px;
line-height: 1.5em;
}

.dealer-info h5 {
font-weight:700;
}

/*.dealer-info a:hover {
text-decoration:underline;
}*/

/* NEWS page */

#news {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 8px;
}


.new {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #e5e5e5;
    margin-top: 8px;
    width: 541px;
    margin-left:4px;
}


.new h4 {
    font-weight: 700;
    font-size: 1.1em;
    background:#CCCCCC none repeat scroll 0%;
    padding:6px;
    position:relative;
}

.span-news-title-exh {
    display:block;
    font-size:80%;
}

.news-info td {
    padding-left: 7px;
    padding-right: 14px;
    line-height: 1.5em;
}

.news-info {
    width: 526px;
    margin-top: 7px;
    margin-right: 15px;
    padding-bottom: 6px;
}

.news-text img {
    padding-right: 7px;
    padding-top: 5px;
}




.news-leaflet {
    text-align: right;
    width: 146px;
    text-decoration: underline;
}


/*
.news-img {
    float:right;
    border-left: 12px solid #B5B5B5;
    margin-top:20px;
}
*/

.nonews {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}



#content ul.news-menu {
    overflow:hidden;
    margin-bottom:0;
    width:300px;
    float:left;
}

.news-menu li {
    float:left;
    margin-right:0px;
    margin-left:4px;
    display:block;
}

.news-menu li a {
    display:block;
    font-size:1.05em;
    padding:5px 7px;
    font-weight:normal;
    border-left:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999;

}

#content .news-menu li a:hover {
    background:#ccc;
    color:#000000;
}


.news-menu li a.selected {
    background:#ccc;
    font-size:1.05em;

}

.page-numb-news-top {
    float:right;
    margin:0 !important;
    padding-top:2px;
    padding-right:10px;
    padding-bottom: 9px;
}

.table-news-auctions td {
    padding-left: 7px;
    padding-right: 5px;
    line-height: 1.5em;
}

.table-news-auctions {
    width: 526px;
    margin-right: 15px;
    padding-bottom: 6px;
}

.td-news-top-padding {
    padding-top:6px;
}

.news-auctions-text {
    padding-top:6px;
}

.td-news-sale-auctionhouse {
    font-weight:700;
}

.td-news-painting-image {
    padding-right:5px !important;
    padding-top: 4px;
    width:110px;
}

.td-news-painting-image img {
    border: 1px solid #999999;
    padding: 2px;
}

.td-news-painting-image img:hover {
    border: 1px solid #666666;
}

.td-news-painting-info {
    vertical-align:top;
    padding-top:0px !important;
}

.p-news-painting-info-title {
    padding-top:0px !important;
    padding-bottom:10px;
    font-weight:700;
}

.td-news-lot-en, .td-news-lot-it {
    width:64px
}

.td-news-lot-fr {
    width: 85px;
}

.td-news-lot-de {
    width:80px
}

.td-news-lot-zh {
    width:64px
}

.td-news-lot {
    padding-bottom:2px;
    font-weight:700;
}

.td-news-estimate {
    font-weight:700;
}

.td-news-soldfor {
    padding-top:2px;
    font-weight:700;
}


.td-news-soldfor-en, .td-news-soldfor-de, .td-news-soldfor-fr, .td-news-soldfor-zh, .td-news-soldfor-it {
    padding-right: 8px !important;
}

.td-news-sale-estimate-currency1 {
    width:370px;
}

.div-social-en, .div-social-zh, .div-social-it {
    height:61px;
}

.div-social-fr {
    height:76px;
}

.div-social-de {
    height:76px;
}

.p-news-disclimer {
    padding-bottom:4px !important;
    font-weight: 700;
}


/* SOCIAL BUTTONS */

a.socal {
    text-decoration:none;
    color:#333333;
}
div.socal_item {
    width:27px;
    height:26px;
    overflow:hidden;
    float:left;
    cursor:pointer;
    -webkit-transition: width 400ms ease;
    -moz-transition: width 400ms ease;
}
div.socal_item:hover {
    background-position:0px -36px;
}

.twitter {
    background:transparent url('/g/news/socal_twitter.png') no-repeat 0px 0px;
    transition:none !important;
    text-indent: -9999px;
}
.twitter-slide:hover {
    width:85px;
    transition:none;
}


.facebook {
    background:transparent url('/g/news/socal_facebook.png') no-repeat 0px 0px;
    transition:none !important;
    text-indent: -9999px;
}
.facebook-slide:hover {
    width:100px;
    transition:none;
}

p.socal_item {
    font: normal 12px/16px Verdana,Arial,Helvetica;
    margin:8px 10px 0px 35px;
}

.span-social-also-follow {
    color: #000000;
    font-size: 1em;
    font-weight: 700;
    padding: 3px 0 8px 4px;
    display: block;
}

.span-social-box-follow {
    display: block;
    padding: 0 0 8px 15px;
    font-weight: 700;
}

a.facebook, a.twitter {
    border-right: none !important;
    height:30px;
    width:30px;
    display:block;
    float:left !important;
    margin-top:3px !important;
    padding-right:0 !important;
    margin-right:0 !important;
}

a.facebook:hover, a.twitter:hover {
    background-position:0px -36px;
}

.span-footer-follow-us {
    display:block;
    float:left;
    margin-top:10px;
    margin-right:7px !important;
}

.span-footer-follow-us:after, .span-social-box-follow:after {
    content: ":";
}

.a-facebook-news {
    margin-left: 15px;
}

#div-large-content .a-twitter-news, #div-large-content .a-facebook-news {
    margin-top: 11px !important;
}

/* end SOCIAL BUTTONS */

.div-news-disclimer {
    font-size:92%;
    line-height:17px;
    margin:0;
    padding: 0 4px 4px 4px !important;
}


/* language */

#site-lang {
    position:absolute;
    right:158px;
    /*right:-1px;*/
    top:0;
    font-size:.9em;
    /*background: url("/g/lang_bg.png") no-repeat left top;*/
    height:33px;
    padding-left:13px;
    padding-right:13px;
    padding-top:5px;
}

.div-languages-search {
    right:-1px !important;
    background: none !important;
}

#site-lang li + li {
    margin-left: 5px;
}

#site-lang li a {
    color:#666 !important;
    background-position:left -23px;
    background-repeat:no-repeat;
    overflow:hidden;
}

#site-lang a:hover {
    text-decoration:underline;
    color:#000;
}

#site-lang a.selected {
    color:#000;
}

.english {
    right:30px;
}

.deutsch {
    right:30px;
}

.chinese {
    right:0;
}

/* END language */

#trailimageid {
font-size:0.75em;
height:0px;
left:0px;
position:absolute;
top:0px;
z-index:200;
}

.edit a, .content-large .trp .edit a {
    color:#000 !important;
    padding: 0 14px 0 0px !important;
    background: url(/g/edit.gif) no-repeat right 50% !important;
    /*position: absolute;*/
    z-index: 2;
}

.a-admin-edit-paint-detail-photos-tab {
    display:block;
}

.a-admin-edit-thumb {
    position: absolute;
    top: 0;
}

/* literature items -------------------------------------------*/

.input_borders {
    border-top:2px solid #848484 ;
    border-left:2px solid #848484 ;
    border-right:2px solid #ccc ;
    border-bottom:2px solid #ccc ;
}

#form-search-literature p {
    padding-bottom: 4px;
    padding-left: 8px;
    font-size:1em;
}

#form-search-literature .submit {
    padding-left: 4px;
}

#form-search-literature label {
    font-size:0.8em;
}

#form-search-literature strong {
    font-weight:700;
}

#form-search-literature .small, #form-search-literature .small * {
    width:63px;
}


#form-search-literature input {
    width:127px;
}

#form-search-literature input, #form-search-literature option {
    font-size:0.9em;
    margin:3px 0 4px;
}

#form-search-literature option {
    width:155px;
}

#form-search-literature select {
    font-size:0.9em;
    margin:3px 0 4px;
    width:130px;
    height:20px;
}

#form-search-literature #keyword, #form-search-literature #location {
    background:#FFFFFF none repeat scroll 0 0;
}

.div-lit-read-more p {
    display:inline;
}

#related-nav .select_books_catid {
    width:130px;
    /*display:none;*/
}

.select_per_page {
    width:145px;
}

.related-exlink {
background: url(/g/base/bullet.gif) no-repeat 0% 50%;
padding-left: 10px;
}

/* #sub-nav ul */

#sub-nav {
    float:left;
    padding:0;
    width:160px;
    margin-top:7px;
}

#sub-nav li.has-sub-items {
    background:url(/g/left_submenu_plus_icon.png) no-repeat right center;
}

#sub-nav .ul-sub-sub-nav li, #sub-nav .li-sub-sub-nav, #sub-nav li.selected {
    /*background: none !important;*/
}

#ul-biography, #ul-sub-nav-art {
    margin-bottom:15px;
    margin-top: -4px;
}

#ul-biography li, #ul-sub-nav-art li {

}

#ul-biography li a, #ul-sub-nav-art li a {
    background:url(/g/biography/border.png) no-repeat left top;
    display:block;
    padding: 11px 0 12px ;
    width:160px;
}

#ul-biography li a:hover, #ul-sub-nav-art li a:hover {
    /*background:#bcbcbc url(/g/biography/border.png) no-repeat left top;*/
    background:url(/g/biography/border.png) no-repeat left top;
    color: #666;
}

#ul-biography a.selected, #sub-nav .selected a, #ul-sub-nav-art a.selected, #ul-sub-nav-art .selected a {
    font-weight:700;
}

#ul-biography .first a {
    /*padding-top: 3px !important;*/
}

#ul-biography .first a, #ul-sub-nav-art .first a {
    background:none;
}

#ul-biography .first a:hover, #ul-sub-nav-art .first a:hover {
    /*background-color:#bcbcbc;*/
    background-image:none;
}

#ul-biography .last, #ul-sub-nav-art .last {
    background:url(/g/biography/border.png) no-repeat left bottom;
}

/* END #sub-nav ul */

/* ul-sub-sub-nav */

.ul-sub-sub-nav {
    margin-bottom:0 !important;
    padding-top: 5px;
    padding-bottom: 4px;
}

.ul-sub-sub-nav li {
    position:relative;
}

.ul-sub-sub-nav {
    background:url(/g/biography/border.png) no-repeat left top !important;
}

.ul-sub-sub-nav li a:hover {
    background:none;
    color: #666;
}

.ul-sub-sub-nav li a {
    background:url(/g/biography/arrows.png) no-repeat 0 10px !important;
    width: 139px;
    font-weight: 400;
    font-size: .9em;
    line-height:19px;
    padding: 4px 7px 6px 13px !important;
}

.ul-sub-sub-nav li.selected a {
    font-weight: 700;
}

/* END ul-sub-sub-nav */

/* ul-sub-sub-sub-nav */

.ul-sub-sub-sub-nav  {
    margin-left: 14px;
}

/* END ul-sub-sub-sub-nav  */

.h2_quote_year {
    /*background:none !important;*/
}

/* help tooltip style */
#search-form select {
z-index:1;
height:20px;
}

/* new painting details */
		#main #content h1.gallery, #main #content ul.related-titles {
		margin-bottom:0;
		}

		#main .content-large {
		width:705px;
        margin:0 0 0 30px;
		}

		#painting-information {
		width:540px;
		text-align:center;
		float:left;
		}

.div-painting-information-img {
    min-height:130px;
}

		.content-large #related-nav {
		width:195px;
		padding-left:0;
		}

		.related-block .painting-details li {
		background:none !important;
		padding:0 5px;
		}

		.related-block .painting-details .painting-title {
		font-weight:700;
		padding-top:5px;
		margin-bottom:10px;
		}

		#painting-information img {
		margin-bottom:15px;
		}

		#content ul.tabs  {
		position:relative;
		margin-top:20px;
		margin-bottom:0;
		margin-left:4px;
		text-align:left;
		}

		.tabs  li {
		/*margin:0;
		top:1px;
		position:relative;*/
		}

		.tabs  li h4 {
		position:relative;
		top:1px;
		}

		.tabs  li h4 a {
		padding:5px 12px;
		display:block;
		float:left;
		border:1px solid #b5b5b5;
		border-bottom:none;
		}

		.tabs  li h4 a.sales {
		padding-left:20px;
		background:url(/g/base/info_sales.gif) no-repeat 5px 8px;
		}

		.tabs  li h4 a.collection {
		padding-left:20px;
		background:url(/g/base/info_museum.gif) no-repeat 5px 8px;
		}

		#content .tabs  li h4 a {
		border-bottom:1px solid #999;
		border-top:1px solid #999;
		border-left:1px solid #999;
		border-right:1px solid #999;
		color:#000;
		}

		#content .tabs  h4 a.selected {
		border-bottom:1px solid #ccc;
		border-top:1px solid #999;
		border-left:1px solid #999;
		border-right:1px solid #999;
		color:#000;
		background-color:#ccc;
		}

		#content .tabs  h4 a.selected:hover {
		border-bottom:1px solid #ccc;
		}

		.tabs-info {
		clear:left;
		}

		.tabs-info .holder {
		text-align:left;
		background:url(/g/base/main_nav_bg.jpg) repeat-x left top;
		padding:15px;
		margin-bottom:10px;
		border-bottom:1px solid #999;
		border-left:1px solid #999;
		border-right:1px solid #999;
		min-height:140px;
		}

		#content .holder p {
		margin-bottom:0;
		}

		#content .notes-info p {
		margin-bottom:15px;
		}

        .paint-note-img td {
            vertical-align:top;
        }

        .notes-table-align {
            text-align: center;
            padding-right:10px;
        }

		.tab-atlas-holder a {
		float:left;
		margin-right:10px;
		}

		.tab-atlas-link {
		background:transparent url(../g/base/bullet.gif) no-repeat scroll 0 50%;
		padding-left: 10px;
		}

        .p-paint-detail-tab-video-cat-desc {
            margin-bottom:8px !important;
            font-weight:700;
        }

/* tab photos */

.p-photo-tab-type {
    font-weight:700;
    margin-bottom:11px !important;
}

.div-painting-photo-tab-images {
    /*margin-bottom: 10px;*/
    margin-left: 26px;
    margin-bottom: -12px;
}

.div-painting-photo-tab-images-exh {
    margin-left: 20px !important;
}






.div-painting-photo-tab-image {
    float:left;
    margin-right:18px;
    margin-bottom: 20px;
}

.div-painting-photo-tab-images .last {
    margin-right:0 !important;
}

.div-painting-photo-tab-image-border {
    padding:2px;
    border:1px solid #999;
    width:110px;
    height:110px;
    text-align:center;
    overflow:hidden;
    position: relative;
    line-height: auto;
    vertical-align: middle;
    margin: 1em 0 0;
    display: table-cell;
}

.div-painting-photo-tab-image-border:hover {
    border:1px solid #666;
}

.div-painting-photo-tab-image-border a {
    display:block;
    height: 110px;
    width: 110px;
}

.div-painting-photo-tab-image-border img {
    max-height: 110px;
    max-width: 110px;
}





/* tab photos */

/* tab shop */

.tab_shop_products {
    background:#ccc;
    margin-top:10px;
    height:165px;
}

.a_prod_image {
}

.tab_shop_products img {
    float:left;
    margin-top:10px;
    margin-left:10px;
}

.shop_title {
    float:left;
    margin-left:10px;
}

.shop_size1, .shop_size2, .shop_prod_desc {
    float:left;
    margin-left:20px;
}

.shop_title {
    margin-top:10px;
    font:400 120% Verdana, Arial, Helvetica, sans-serif;
}

.shop_height {
    height:89px;
}

.link_shop_more {
    float:right;
    margin-right: 10px;
    background:#b4b4b4 url(/g/shop_arrow.gif) no-repeat scroll 36px center;
    border: 1px solid #a3a3a3;
    color: #666;
    padding: 0 15px 1px 2px;
}

#content .link_shop_more:hover {
    background:#b4b4b4 url(/g/shop_arrow_over.gif) no-repeat scroll 36px center;
    color:#333333;
}

/*end tab shop */

/*tab literature */

.span-paint-det-tab-lit-title {
    font-weight:700;
    font-size: 0.9em;
    display: block;
}

.span-paint-det-tab-lit-title-periodical {
    font-size: 0.9em;
}

.span-paint-det-tab-lit-essay-author {
    font-weight:700;
    font-size: 0.9em;
    display: block;
}

.span-paint-det-tab-lit-essay-title {
    font-style:italic;
    font-weight:400 !important;
    font-size: 0.9em;
    display: block;
}

.span-paint-det-tab-lit-location {
    display:block;
    font-size: 0.9em;
}

.span-paint-det-tab-lit-additional {
    display:block;
    padding-top:6px;
}

.span-paint-det-tab-lit-illustrated, .span-paint-det-tab-lit-mentioned, .span-paint-det-tab-lit-discussed {
    display:block;
    font-size:90%;
}
/*end tab literature */

.photos-section {
text-align:center;
}

.photos-section h1, .photos-section form {
text-align:left;
}

/* zoomer */
/*
.content-large .zoomer {
background:#ccc;
padding:8px 5px;
display:block;
font-weight:700;
background:#ccc url(../g/base/icon_zoom.gif) no-repeat top right;
}
    */


/* 404 */
#main .errorBg {padding: 10px 10px 10px 10px; margin:10px; background-color:#ccc;}
#main p.error404 {text-align:center; color:#000; font-weight:700; font-size:2.5em;}
#main p.errorText {text-align:center; color:#000; font-weight:700;}
.errorBg a:hover {text-decoration:underline}
#main p.maintenance-page {text-align:center; color:#000; font-weight:700; font-size:1.5em;}

/* BIOGRAPHY QUOTES */

.heading-picture-quotes {
    display:block;
    height:141px;
    margin:0 0 25px;
    width:554px;
}

#div_categories_images {
    width:578px;
    margin-top:20px;
}

.div_categories_image {
    float:left;
    margin-right:22px;
    width:170px;
    min-height:135px;
    text-align:left;
}

* html .div_categories_image {
    height:135px;
}

.div_categories_image span {
    font-size:100%;
    line-height:1.5em;
}

.div_categories_image img {
    border: 1px solid #999999;
    padding: 2px;
    margin-bottom:5px;
}

.div_categories_image img:hover {
    border: 1px solid #666666;
}

#search-quotes #keyword {
    background:#fff;
}

#search-quotes p {
    /*padding-bottom: 5px;*/
    padding-left: 8px;
    font-size:1em;
}

#search-quotes .submit {
    padding-left: 4px;
}

#search-quotes label {
    font-size:0.8em;
}

#search-quotes strong {
    font-weight:700;
}

#search-quotes .small, #search-quotes .small * {
    width:63px;
}

#search-quotes input, #search-quotes option {
    font-size:0.9em;
    margin:3px 0 4px;
    width:130px;
}

#search-quotes select {
    font-size:0.9em;
    margin:3px 0 4px;
    width:130px;
    height:20px;
}

.a_browse_all_quotes {
    background:url(/g/base/browse_all_quotes.gif) no-repeat -42px 0px;
    padding:0 0 1px 24px;
    margin-top:0px;
    font-size: 0.9em;
}

.a_browse_all_quotes:hover {
    background:url(/g/base/browse_all_quotes.gif) no-repeat -282px 0;
}

#main #content .h2_quote_category {
    padding:12px 6px !important;
    margin-bottom: 27px !important;
    font-size:100% !important;
}

.a_quotes_main {
    color:#666;
}



/* end BIOGRAPHY QUOTES */

/* LINKS */

.div-links-sections {
    width:100%;
    margin-bottom: 20px;
}

.div-links-articles {
    float:left;
}

.div-links-articles a, .div-links-dealers a {
    width:262px;
    height:118px;
    border:1px solid #9c9c9c;
    display:block;
    padding:3px;
}

.div-links-articles a:hover, .div-links-dealers a:hover {
    border:1px solid #666;
}

.span-link-sections {
    margin-top:8px;
    margin-left:-3px;
    display:block;
}

.div-links-dealers {
    float:right;
}

.h2-artiles-year {
    font-weight:700;
    margin-bottom: 0 !important;
}

.div-articles-list {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*background: url(/g/exhibitions/expandlist_item_background.png) no-repeat scroll left -80px #E6E6E6;*/
    /*background: #cccccc url(/g/exhibitions/exh-list-exhibition-bg-search.jpg) no-repeat left top !important;*/
    background: url(/g/exhibitions/expandlist_item_background2.png) no-repeat scroll right -80px #E6E6E6;
}

.div-articles-list:hover {
    /*background: url(/g/exhibitions/expandlist_item_background.png) no-repeat scroll left -150px #F3F3F3;*/
    /*background: #cccccc url(/g/exhibitions/exh-list-exhibition-bg-search.jpg) no-repeat right top !important;*/
    background: none repeat scroll 0% 0% rgb(252, 252, 252);
}

.div-articles-list-first {
    padding-top: 8px;
}

.div-articles-list-last {
    padding-bottom: 13px;
}

.a-links-link {
    background: url(/g/exhibitions/exh-list-exhibition-arrow.png) no-repeat 676px center;
    min-height: 58px;
    display:block;
}

.a-links-link:hover {
    background: url(/g/exhibitions/exh-list-exhibition-arrow-hover.png) no-repeat 676px center;
}

.span-links-title {
    font-weight:700;
    color:#000 !important;
    display:block;
    padding:0 0 1px 0;
    width: 513px;
}

.span-links-author {
    color:#747474 !important;
    font-size:90%;
    display:block;
    font-size:90%;
    padding:0 0 1px 0;
    width: 513px;
}

.span-links-in {
    color:#747474 !important;
    font-size:90%;
    display:block;
    font-size:90%;
    padding:0 0 1px 0;
    width: 513px;
}

.span-links-date {
    font-size:90%;
    color:#000 !important;
    display:block;
    padding:0 0 1px 0;
    width: 513px;
}

.span-links-description {
    line-height:12px;
    margin-top:5px;
    font-size:90%;
    display:block;
    width: 513px;
}

/* end LINKS */

/* BASIC SEARCH */

#form-basic-search-top {
    position:absolute;
    right:7px;
    top:1px;
    font-size:.9em;
    /* background: url("/g/lang_bg.png") no-repeat left top; */
    height:33px;
    padding-left:13px;
    padding-top:8px;
}

.form-hide {
    display:none;
}

#input-basic-search-top {
    background: url("/g/search_basic/search_input_bg_small2.png") no-repeat left top;
    border:none;
    height:21px;
    width:104px;
    padding:0 0 1px 10px;
    font-size:110%;
    color:#666;
    float:left;
}

.submit-basic-search-top {
    background: url(/g/search_basic/search_button_bg.png) no-repeat left top;
    border:none;
    width:24px;
    height:22px;
    padding:0;
    margin:0;
    float:right;

}

.span-keyword-found, .f1o1u1n1d1 {
    background-color: rgba(255, 255, 255, 0.5) !important;
    padding: 2px 0;
    font-weight: 700;
}

.span-keyword-found2, .f1o1u1n1d12 {
    background:#B4B4B4 !important;
    padding: 2px 0;
    font-weight: 700;
}

#content .a-found-search-highlight, #div-large-content .a-found-search-highlight, #content .h1i1g1h1l1i1g1h1t1 {
    border-bottom: none !important;
    color: #000 !important;
    font-weight: 700;
}

/* end BASIC SEARCH */

/* TEXT */



.div_text_wysiwyg {
    /*
    -ms-word-break: break-all;
     word-break: break-all;

     word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
        */
}

.div_text_wysiwyg a {
    border-bottom: 1px dotted #666666 !important;
    color: #666666 !important;
    text-decoration:none !important;
}

.div_text_wysiwyg .h1i1g1h1l1i1g1h1t1 {
    border-bottom: none !important;
}

.div_text_wysiwyg span {
    text-decoration:none !important;
}

.div_text_wysiwyg hr {
    display: block !important;
    border-top: 1px solid #CCCCCC;
    border-bottom:none;
    border-left:none;
    border-right:none;
}

#div-chronology .a-no-border {
    border:none !important;
}

/* end TEXT */

/* div-admin */

#div-admin {
    height: 38px;
    width: 100%;
    background: #f8f8f8;
    position: fixed;
    z-index: 9999;

}

.div-admin-clearer {
    height: 38px;
    margin-top: -10px;
    margin-bottom: 10px;
    width: 100%;
}

.div-admin-content {
    margin: 0 auto;
    width: 940px;
    padding-top: 4px;
    position: relative;
}

.div-admin-icons {
    float:left;
}

.div-admin-icons a {
    cursor: pointer;
    display: inline-block;
    transition: none !important;
    height:30px;
    width:30px;
    margin-right: 5px;
}

.div-admin-icons a:hover {
    background-position: left bottom;
}

.a-admin-dashboard {
    background: url(/g/icon_dashboard.png) no-repeat left top;
}

.a-admin-show-edit {
    background: url(/g/icon_edit.png) no-repeat left top;
}

.a-admin-logged-in-as {
    background: url(/g/icon_arrow_down_admin.png) no-repeat right 12px;
    height:22px;
    width: 400px;
    float: right;
    text-align: right;
    padding: 6px 34px 6px 0;
    transition: none !important;
    cursor: pointer;
}

.a-admin-logged-in-as-hover {
    background-position: right -32px !important;
}

.span-admin-loggedin {
    font-weight: 700 !important;
}

.ul-admin-more-options {
    list-style: none;
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 9999;
}

.ul-admin-more-options li {
    background-color: #1415c8;
}

.ul-admin-more-options li a {
    color: #fff !important;
    padding: 15px;
    display: block;
}

.li-logout {
    border-top: 1px solid #fff;
}

/* div-admin */

/* different */

.span-placeholder {
    font-size:10px !important;
    font-weight:700 !important;
}
