/*   |   COLLAGE  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#main .collage {
	display: block;
	position: relative;
	width: 911px;
	height: 287px;
	font-size: 0px;
	line-height: 0px;
}

#main .collage .container {

}

#main .collage a {
	display: inline-block;
	position: relative;
	width: 65px;
	height: 41px;
	overflow: hidden;
}

#main .collage a .img {
	display: block;
	position: relative;
	width: 64px;
	height: 40px;
	background: #b5b5b5 url("/js/mobile/menu/pic/ajax-loader.gif") no-repeat center center;
}

#main .collage a .img.loaded {
	background-position: center top;
	background-size: cover;
}

#main .collage .information {
	display: none;
}

.swipe {
	outline: 4px dotted orange;
}

/*   |   SEARCH SECTION FORM ELEMENTS  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

#form-right-search-mobile {

}

#form-right-search-mobile .p-right-search-field-info, #form-right-search-mobile .span-search-from, #form-right-search-mobile .span-search-from, #form-right-search-mobile .span-search-to {
	text-transform: uppercase;
	margin: 0 0 13px 13px;
	font: normal 16px/24px "Univers LT Std 57 Condensed" !important;
}

#form-right-search-mobile .span-search-to {
	margin: 0 0 13px 40px !important;
}

#form-right-search-mobile .p-right-search-field-info strong {
	font-weight: 400 !important;
}

#form-right-search-mobile .span-dash {
	display: none;
}

#form-right-search-mobile .abbr-size {
    margin-left: 13px;
	font: normal 16px/24px "Univers LT Std 57 Condensed" !important;
	text-decoration: none !important;
	display: inline-block;
	width: 13px !important;
}

#div-header #date-day-from-mobile, #div-header #date-day-to-mobile {
	width: 20px !important;
	margin-right: 10px !important;
}

#div-header #date-month-from-mobile, #div-header #date-month-to-mobile {
	width: 26px !important;
	margin-left: 0 !important;
	margin-right: 10px !important;
}

#div-header #date-year-from-mobile, #div-header #date-year-to-mobile {
	width: 42px !important;
	margin-left: 0 !important;
}

/* . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */
/* Mobile landscape */

@media all and (max-width: 959px) and (min-width: 480px) {

}

/* . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */
/* Mobile portrait */

/*@media all and (max-width: 479px) {*/

@media all and (max-width: 959px) {

	#div-page-loading {
		display: block;
	}

	#main .disable {
		display: block;
	}

	#footer .disable {
		display: block;
	}

	body {
		background: #dfdfdf !important;
		font-family: 'Univers LT Std 55';
		font-style: normal;
	}

	.wrapper {
		/*width: 250px;*/
		width: 100%;
	}

	.wrapper-home {
		/*width: 280px !important;*/
		padding: 0 !important;
	}

	#main {
		background: #efefef;
		margin-bottom: 0 !important;
		border: none !important;
		padding: 0;
		min-height: auto !important;
	}

	#menu-header {
	    display: block;
	}

	header {
		z-index: 9999;
	}

	#div-header {
		/*width: 280px !important;*/
		padding:0 !important;
		background: #5c5c5c;
		border-right: none !important;
		border-left: none !important;
		border-top: none !important;
		/*border-bottom: 1px solid rgba(255,255,255, 0.7) !important;*/
		height: 0px;
		color: #fff;
		position: relative;
	}

	#footer {
		/*width: 250px !important;*/
		/*padding:36px 15px 36px 15px !important;*/
		padding:36px 0 !important;
		background: #646464;
		margin-top: 0 !important;
		color: #fff !important;
		height: 183px;
		/*margin-bottom: 10px;*/
	}

	#footer p.copyright {
	    position: absolute;
	    top:208px;
	    text-transform: uppercase;
	    padding-top: 0 !important;
	    padding-left: 13px;
		font-family: 'Univers LT Std 47 Light Condensed';
		font-size: 14px;
	}

	#div-footer-right {
	    float: left !important;
	    padding: 0 13px;
	}

	#div-footer-right a {
		color: #fff !important;
		font-weight: 400;
		border-right: none !important;
		margin: 0 0 25px 0 !important;
		text-transform: uppercase;
		font-family: 'Univers LT Std 67 Bold Condensed';
		font-size: 14px;
	}

	#footer .twitter {
		background:url(/g/mobile/icon-twitter.jpg) no-repeat left 3px !important;
		text-indent: 0 !important;
		float: none !important;
		height: 16px !important;
		padding-left: 18px;
	}

	#footer .facebook {
		background:url(/g/mobile/icon-facebook.jpg) no-repeat left 3px !important;
		text-indent: 0 !important;
		float: none !important;
		height: 16px !important;
		padding-left: 18px;
	}

	.div-footer-more-info {
		float: left;
		padding-right: 32px;
	}

	.p-footer-more-info {
		padding-bottom: 26px !important;
		font-family: 'Univers LT Std 47 Light Condensed';
		font-size: 14px;
	}

	.div-footer-more-info a {
		float: none !important;
		display: block;
	}

	.div-footer-social {

	}

	.span-footer-follow-us {
		padding-bottom: 26px !important;
		text-transform: uppercase;
		float: none !important;
		margin-top: 0 !important;
		margin-right: 0 !important;
		font-family: 'Univers LT Std 47 Light Condensed';
		font-size: 14px;
	}

	.span-footer-follow-us:after {
	    content: "";
	}

	#ul-main-nav {
    	margin-left: 0 !important;
    	width: 100%;
    	padding: 0;
    	background-image: none;
    	display: none !important;
	}

	#site-lang li a {
		color: rgb( 255, 255, 255) !important;
	}

	#site-lang li + li {
		margin-left: 12px;
	}

	.a-heade-site-title {
		display: none !important;
	}

	#site-lang {
    	height: auto;
    	right: 0;
	}

	#site-lang a:hover {
		text-decoration: none;
		color: #fff;
	}

	#form-basic-search-top {
		display: none !important;
	}

	.div_text_wysiwyg {
		text-align: justify;
		line-height: 20px;
	}

	/******* HOME *********/

	#intro {
		display: none;
	}

	.div_text_wysiwyg-intro {
	    color: #000 !important;
	    padding: 30px 15px 32px 15px;
	    border-top: 1px solid #646462;
	    margin-bottom: 0 !important;
	}

	#main-nav-mobile-home li {
		border-top: 1px solid #646462;
		background:url(/g/mobile/menu-arrow-right.jpg) no-repeat 97% center;
	}

	#main-nav-mobile-home li a {
		text-transform: uppercase;
		display: block;
		/*width: 100%;*/
		padding: 18px 13px 17px;
	}

	#collage {
	    margin-bottom: 0 !important;
	}

	/* END ******* HOME *********/

	/* ******* ART *********/

	#sub-nav {
		display: none;
	}

	.div-content-header-block {
		margin-bottom: 0 !important;
	}

	.div-content-header-block-left {
		border-bottom: 1px solid #646464;
		overflow: hidden;
	}

	.div-content-header-block-right {
		display: none;
	}

	.h1-section {
		font-family: 'Univers LT Std 57 Condensed';
		text-transform: uppercase;
		font-size: 25px;
		padding: 14px 0 16px 16px !important;
		width: calc(100% - 16px) !important;
		max-width: 523px;
	}

	#div-large-content {
		width: 100%;
		margin: 0;
	}

	.div-category-landing-page-padding-topbottom {
		padding: 0 !important;
	}

	#p-category-desc {
		padding-top: 10px !important;
	}

	.breadcrumb {
		display: none;
	}

	.div-mobile-back {
		border-bottom: 1px solid #646464;
		width: calc(100% - 66px);
		padding: 12px 13px 14px;
		float: left;
	}

	.a-mobile-back {
		display: block;
		background:url(/g/mobile/menu-arrow-left.jpg) no-repeat left center;
		padding-left: 13px;
		width: 87%;
		text-transform: uppercase;
		font: normal 17px/24px "Univers LT Std 47 Light Condensed";
		/*
		font-family: 'Univers LT Std 57 Condensed';
		font-size: 17px;
		*/
	}

	.a-share-button {
		height: 50px;
		background-position: 0 4px;
	}

	.a-share-email {
		background-position: -13px -92px;
	}

	.a-share-facebook {
		background-position: -13px -132px;
	}

	.a-share-twitter {
		background-position: -13px -172px;
	}

	.a-share-pinterest {
		background-position: -13px -212px;
	}

	.div-share .close {
		border-bottom: 1px solid #646464;
	}

	#ul-share-options {
	    right: 0;
	    width: 100%;
	}

	#main #ul-share-options .li-share-this-page {
		background-position: right -39px;
		padding-top: 13px !important;
	}

	#main #ul-share-options li .a-share-option {
		text-transform: uppercase;
		font-family: 'Univers LT Std 67 Bold Condensed';
		font-weight: 400 !important;
	}

	#main .a-share-this-page {
		background-position: right 4px !important;
		font-family: 'Univers LT Std 47 Light Condensed' !important;
	}

	.div-category-landing-page-content {
		padding: 0;
	}

	.p-section-description {
		padding: 25px 13px;
		/*border-bottom:1px solid #646464;*/
	}

	#div-large-content .h3-section-title {
		text-transform: uppercase;
		font-family: 'Univers LT Std 47 Light Condensed' !important;
		font-weight: 400 !important;
		font-size: 26px !important;
		padding: 35px 13px 30px;
		background:url(/g/mobile/category-h3-arrow.png) no-repeat calc(100% - 13px) calc(50% + 3px);
	}

	#div-large-content .h2-section-title {
		font: normal 18px/24px 'Univers LT Std 67 Bold Condensed' !important;
		margin-top: 18px;
	}

	.div-section-categories {
		padding: 0;
		border-bottom: none;
	}

	.div-section-category {
		width: 100%;
		border-top: none;
		border-top:1px solid #646464;
		border-left:none;
		border-right:none;
		border-bottom: none;
	}

	.div-section-categories-show-all {
		border-bottom:1px solid #646464;
	}

	.div-section-category-mobile {
		padding: 12px;
	}

	.a-lit-cat {
		text-align: center;
	}

	.a-lit-cat, .a-lit-cat:hover {
		width: 100%;
		padding: 0;
		background:url(/g/mobile/menu-arrow-right.jpg) no-repeat 98% 119px;
	}

	#main .div-section-category img {
		/*width: 98% !important;*/
	}

	.span-lit-cat-title {
		font-weight: 400;
		margin: 22px 0;
		text-transform: uppercase;
		font-family: 'Univers LT Std 57 Condensed';
		font-size: 19px;
	}

	#img-painting-info {
		width: 100%;
		max-width: 673px;
		height: auto;
	}

	#div-painting-info {
		border-top: none !important;
	    -webkit-box-shadow: none !important;
	    -moz-box-shadow: none !important;
	    box-shadow: none !important;
	}

	.span-painting-info-year, .span-painting-info-size, .span-painting-info-crnumber {
		display: block;
	}

	/* END ******* ART *********/

	/* ******* BIOGRAPHY *********/

	.h3-biography-title {
		margin-left: 15px;
		margin-top: 25px !important;
		font: normal 17px/24px "Univers LT Std 57 Condensed";
		text-transform: uppercase;
	}

	/* END ******* BIOGRAPHY *********/

	/* ******* QUOTES *********/

	a.top {
		margin-bottom: 15px;
		margin-right: 15px;
	}

	blockquote {
	    text-align: justify;
	}

	.div-quote .cite_quote {
	    text-align: left;
	}

	#div-quotes {
		border:none !important;
		margin-top: 0 !important;
	}

	/* END ******* QUOTES *********/

	/* ******* EXHIBITIONS *********/

	.div-exhibition-left-side {
		width: 20%;
	}

	.div-exhibition-right-side {
		width: 79% !important;
	}

	#main .a-exhibition-list {
		width: 96% !important;
	}

	.span-exh-list-title-original-wide, .span-exh-list-title-translation-wide, .span-exh-list-location-wide, .span-exh-list-date-wide {
		width: 79% !important;
	}

	.h1-item, .p-exh-detail-location, .p-exh-detail-date {
		margin-left: 15px;
	}

	.p-exh-detail-date {
		margin-bottom: 15px;
	}

	.div-detail-view-item {
		-moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}

	.div-detail-view-item-left, .div-detail-view-item-right , .div-detail-view-item-right-exhibitions {
    	width: 100%;
    	padding: 0;
	}

	.div-exhibitions {
	    border-bottom: 1px solid #aaaaaa;
	}

	/* END ******* EXHIBITIONS *********/

	/* ******* LITERATURE *********/

	.div-literature-featured-titles {
		margin-bottom: 0 !important;
		padding: 0 !important;
	}

	#bookSearch {
		border: none !important;
	}

	table.expandlist > tbody > tr > td .expand-box {
		width:310px !important;
		/*width:100% !important;*/
	}

	table.expandlist > tbody > tr > td .expand-box .div-expand-box-images-container {
		width: 20% !important;
	}

	table.expandlist > tbody > tr > td .expand-box .expand-box-details {
		width: 79% !important;
		/*width: calc(100% - 133px) !important;*/
	}

	.div-you-searched-for {
		padding: 0;
		width: 100%;
		border: none;
	}

	.div-detail-view-item-right-literature table {
		margin-left: 15px;
	}

	.div-literature-featured-title {
		border-bottom: none !important;
		border-left: none !important;
		width: 100% !important;
	}

	.a-featured-list {
		width: 100% !important;
	}

	.span-featured-list {
	    text-align: center;
	}

	.div-literature-featured-title-img {
		background-color: #d5d5d5 !important;
	}

	/* END ******* LITERATURE *********/

	/* ******* VIDEO *********/

	#div-video-detail-content video {
		width: 100%;
		height: auto;
	}

	.div-video-detail-subtitles-srt {
		max-width: 912px !important;
		width: 100% !important;
		padding-right: 0 !important;
		height: 54px !important;
	}

	/* END ******* VIDEO *********/

	/* ******* LINKS *********/

	.span-links-title, .span-links-author, .span-links-in, .span-links-date {
		width: 100%;
	}

	.dealer-info {
    	margin-left: 15px;
    	margin-right: 15px;
	}

	/* END ******* LINKS *********/

	/* ******* NEWS *********/

	.div-news-publication-left {
		width: 100% !important;
	}

	.div-news-publication-right {
	    text-align: center;
	    width: 100%;
	    margin-top: 20px;
	}

	.p-news-dislaimer-title {
		margin: 0 15px 15px !important;
		font-size: 13px !important;
	}

	.div-news-dislaimer {
		margin: 0 15px 15px;
	}

	/* END ******* NEWS *********/

	/* ******* OPP FORM *********/

	.div-brief-trp {
		margin-bottom: 0 !important;
	}

	.div-brief-left {
		padding-top: 23px;
		width: 100% !important;
		text-align: center;
	}

	.img-brief {
		float: none !important;
	}

	.div-brief-right {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		height: auto !important;
	}

	.span-opp-title, .div-brief-right p {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	#div-brief-popup-content {
		/*width: 100% !important;*/
	}

	/* END ******* OPP FORM *********/

	/* ******* CONTACT *********/

	#contact-form {
		width: 100%;
	}

	#contact-form .input, #contact-form textarea {
		width: 100% !important;
	}

	.contact-form-table td {
    	float: left;
	    padding-left: 15px;
    	padding-right: 15px;
	}

	/* END ******* CONTACT *********/

	/* ******* SEARCH *********/

	#form-basic-search {
	    padding-bottom:82px !important;
	}

	#input-basic-search {
		width: 87% !important;
	}

	.submit-basic-search {
		margin-top: 25px !important;
	}

	#div-search-loader {
	    left: 90% !important;
	    top: 60px !important;
	    height: 13px;
	    width: 13px;
	}

	#div-search-loader img {

	}


	#main .div-quotes-cite-last {
		padding: 0 0 0 9px !important;
	}

	.div-videos {
    	width: 100% !important;
    	padding-left: 0 !important;
    	padding-bottom: 0 !important;
	}

	.div-video {
		width: 100% !important;
		border-bottom: none !important;
		border-left: none !important;
		border-top: 1px solid #9b9b9b;
	}

	.img-video-thumb-play {
		display: none !important;
	}

	/* END ******* SEARCH *********/

	/* ******* PAGE NUMBERING *********/

	.span-text-per-page {
		display: none;
	}

	.div-page-numbering-container-border-top {
	    border-top: none;
	}

	.div-page-numbering-container-border-bottom {
	    border-bottom: 1px solid #646464;
	}

	/* END ******* PAGE NUMBERING *********/

	/* ******* THUBNAILS *********/

	.div-section-categories .div-thumb {
		width: 100%;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: 1px solid #646464;
	}

	.div-section-categories .div-thumb .div-thumb-img-border {
		display: block;
		width: 100%;
		margin: 0;
		padding: 15px 0;
		height: auto !important;
	}

	.div-section-categories .div-thumb-with-title, .div-section-categories .div-thumb-with-title .a-thumb-link
	{
		height: auto !important;
		padding-bottom: 15px;
	}

	.div-section-categories .div-thumb .info-museum2 {
		margin-left: -1px !important;
	}

	.div-previous-next {
		/*display: none;*/
	}

	.a-previous-next-back {
		width: 195px !important;
	}

	/* END ******* THUBNAILS *********/

	/* ******* TABS *********/

	.ul-tabs li a {
		text-transform: uppercase;
		font-weight: 400;
		font: normal 16px/24px "Univers LT Std 47 Light Condensed";
	}

	.ul-tabs li {
		/*margin-bottom: -2px !important;*/
	}

	.ul-tabs {
		border-bottom: 1px solid #aaaaaa !important;
	}

	/* END ******* TABS *********/

	/* ******* MICROSITES *********/

	#div-microsite-content #holder {
		border-left: none !important;
		border-right: none !important;
	}

	#div-microsite-content #footer {
	    height: 15px;
	}

	.paintings {
		padding-left:0 !important;
		padding-right: 0 !important;
	}

	.editionSearch {
		position: relative;

	}

	#div-microsite-content #about {
	    text-align: center;
	}

	#editionShow {
		margin-top: 6px;
		padding-left: 16px;
	}

	.editionSearch label a {
		display: block;
		margin-bottom: 6px;
	}

	#div-microsite-content .paintings li {
		/*width: 100%;*/
		padding: 0 0 0 15px;
	}

	#div-microsite-content .paintings li a {
		margin: 0 auto;
	}

	#searchEditions {
	    padding: 5px 0;
	}

	.a_versions {
	    margin-left: 14px;
	}

	.div_version_info {
	    margin-left: 0;
	}

	.p_version_title, .p_version_text  {
	    padding:0 14px;
	}

	.li_left {
    	margin-left: 0;
	}

	/* END ******* MICROSITES *********/

}
