.div-right-side-info-box-news-publications {
    padding:8px;
    width: 116px !important;
    height:125px !important;
}

#div-news-publications {
    background:#efefef;
    box-shadow: 0 1px 12px #9B9B9B;
}

.div-news-publication {
    border-top:1px solid #b6b6b6;
    background: url("/g/news/gerhard-richter.com_news-publications_row-bottom-gradient.png") repeat-x center bottom;
}

.div-news-publication-item {
    background: url("/g/news/gerhard-richter.com_news-publications_row-top-gradient.png") repeat-x center top;
    padding: 30px 30px 25px 0;
}   

.div-news-publication-first {
    border-top:none !important;
} 

.p-new-publications-count {
    border-bottom:1px solid #b6b6b6;
    padding:20px 0 20px 16px;
    margin:0;
    font-size:12px;
}

.div-news-publication-left {
    float:left;
    width:456px;
}

.div-news-publication-large {
    width:100% !important;
}

.div-news-publication-right {
    float:right;
}

.div-news-publication-right img {
    border:1px solid #b2b6b2;
    max-width: 160px;
}

.p-news-publication-title {
    font-weight:700;
    padding-left:15px;
    margin-top: -2px;
}

.table-news-publication-values {
    margin-top:12px;
}

.table-news-publication-values td {
    padding:6px 15px 6px 15px;
}

.p-no-news {
    padding-left: 18px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.a-news-publications-more {
    background-image: url(/g/news/more.png);
    background-repeat:no-repeat;
    background-position: right top;
    display:block;
    width:44px;
    height:29px;
    padding-top:5px;
    padding-left: 16px;
    margin-top: 11px;
    transition: none !important;
}

.a-news-publications-more:hover {
    background-position: right -61px;
}

.h2-news-upcoming {
    background-color: #EEEEEE;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #E6E6E6);
    background-image:    -moz-linear-gradient(top, #EEEEEE, #E6E6E6);
    background-image:      -o-linear-gradient(top, #EEEEEE, #E6E6E6);
    background: linear-gradient(to bottom, #EEEEEE 0%, #E6E6E6 16%, #E6E6E6 100%) repeat scroll 0 0 transparent !important;
    padding: 23px 12px 23px !important;
}

.p-news-painting-title {
    font-weight:700;
}

.p-news-dislaimer-title {
    padding:0;
    margin:20px 0 10px 0;
    color: #5A5A5A;
    font-weight:700;
    font-size:10px;
}

#div-news-disclimer {
    font-size:10px !important;
    color: #5A5A5A;
    text-align: justify;
    padding:0;
    margin:0 0 25px 0;
}

.div-exhibitions-head-news {
    padding: 18px 12px !important;
    background: #EFEFEF;
    border-bottom:1px solid #999;
}
