.div-brief-trp {
    margin-bottom: 20px;
}

#div-brief-popup-content {
    display:none;
    width:730px;
    padding:15px 25px;
    background:#eee;
    color:#363636;
}

#div-brief-popup-content {
    color:#666666;
}

.div-brief-left {
    float:left;
    background: #969696;
    width:168px;
    height:140px;
}

.div-brief-right {
    float:right;
    background: #969696;
    width:331px;
    padding:23px 30px;
    color:#fff;
    height:94px;
}

.div-brief-right-large {
    width:476px;
}

.img-brief {
    float:left;
}

#a_form_opp_read_more {
    background-image: url(/g/opp_form/more-button.png);
    background-repeat:no-repeat;
    background-position: right top;
    display:block;
    width:98px;
    color:#fff;
    text-align:center;
    padding: 6px 0 8px;
    float:left;
    margin:88px 0 0 -168px ;
    transition:none !important;
}

#a_form_opp_read_more:hover {
    background-position: right bottom;
    cursor:pointer;
    color:#fff !important;
}

#a_form_opp_click_here, #a_form_opp_click_here:hover {
    color: #fff;
    text-decoration: underline;
}

.a-opp-email {
    border-bottom:1px dotted #666666;
    color:#666666;
}

.span-opp-title {
    display:block;
    font-weight:700;
    font-size:115%;
    padding-bottom:5px;
}

.span-opp-text {
    display:block;
    margin-top:10px;
    height: 89px;
}

.a-contactus-opp {
    color:#fff;
    display:block;
    font-weight:700;
    height:20px;
    margin-left: 357px;
    padding-top: 0;
    padding-bottom: 10px;
}

.a-contactus-opp-en, .a-contactus-opp-fr, .a-contactus-opp-it {
    padding-left: 18px;
    width:115px;
}

.a-contactus-opp-de {
    padding-left: 0px;
    width:146px;
    margin-left: 345px !important;
}

.a-contactus-opp-ch {
    padding-left: 86px;
    width:91px;
}

.a-contactus-opp:hover {
    color:#fff !important;
    text-decoration:underline;
}

.ul-opp-collecting {
    list-style: disc;
}

#div-brief-popup-content p {
    padding:7px 0 7px 0;
}


#div-brief-popup-content .p-no-padding-top {
    padding-top:0 !important;
}

#div-brief-popup-content .p-no-padding-bottom {
    padding-bottom:0 !important;
}

.ul-opp-collecting {
    margin-left:30px;
    margin-top:7px !important;
    margin-bottom:7px !important;
}

.div-opp-section-divider {
    width:100%;
    border-bottom: 1px solid #666666;
    margin:15px 0 15px 0;
}

.a-read-more-opp-form {
    display:block;
    width: 69px;
    margin-bottom:15px;
    padding-top:10px;
    padding-bottom:9px;
    padding-left:25px;
    color:#fff;
    cursor:pointer;
}

.a-read-more-close {
    margin-top: -72px;
}

.a-read-more-opp-form:hover {
    color:#000 !important;
}

.form-opp-submit-info {
    margin-top:10px;
    margin-bottom:10px;
}

.form-opp-submit-info th {
    width:220px;
}


.table-opp-1, .table-opp-2 {
    width:100%;
    /*table-layout: fixed;*/
}

.td-opp-form-title {
	width: 100px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.td-opp-form-value {
	vertical-align: top;
}

.table-opp-1 td label, .table-opp-2 td label {
    padding-right:5px;
    min-width:221px;
    display:block;
}

/*
.table-opp-2 td label {
    padding-right:5px;
    min-width:221px;
    display:block;
}
*/

.form-opp-submit-info th,.form-opp-submit-info td {
    padding-top:5px;
    padding-bottom:5px;
}

.opp-textarea-like-input {
    width:302px;
    max-width:302px;
    height: 21px;
    border:1px solid #b7b7b7;
    min-width:302px;
    font-size: 11px;
}

.input-opp-form-large {
    width:298px;
}

.input-opp-form-date {
    width:81px;
}

.select-opp-signature1 {
    width:94px;
    float: left;
    margin-right: 4px;
    margin-top: 4px;
}

.select-opp-signature2 {
    width:149px;
}

.input-opp-form-xsmall {
    width:50px;
}

.input-opp-form-medium {
    width:149px;
}

.textarea-opp-form {
    width:303px;
    height:40px;
    max-width:303px;
    min-width:303px;
}

.textarea-opp-form-full {
    width: 726px;
    height:40px;
    max-width:726px;
    min-width:302px;
    float:right;
}

.div-exhibition-publ-list {
    width: 100%;
    margin-top:20px;
}

.div-exhibition-publ-list div {
    border-bottom:1px solid #cccccc;
    margin-bottom:5px;
    padding-bottom: 4px;
}

.div-exhibition-publ-list div.last {
    border:none !important;
    margin-bottom:0 !important;
    padding-bottom: 0 !important;
}

.span-opp-exh-publ-list {
    width:706px;
    float: right;
    padding-top: 2px;
}

.span-opp-exh-publ-title {
    font-weight:700;
}

.span-opp-exh-publ-location {
}

.span-opp-exh-publ-date {
}

.table-opp-2 {
    margin-top:10px;
    margin-bottom:10px;
    width: 100%;
}

.td-table2-checkbox {
    text-align:center;
    vertical-align:middle;
    width:60px;
    border-top:1px solid #666;
    border-bottom:1px solid #666;
    border-left:1px solid #666;
}

.td-table2-checkbox-info-part {
    width:468px;
    padding:10px 0 10px 0;
    border-top:1px solid #666;
    border-bottom:1px solid #666;
    border-right:1px solid #666;
}

.submit-opp {
    background:url(/g/brief_submit.png) no-repeat left top;
    border:none;
    width: 200px;
    height:32px;
    color:#fff;
    font-weight:700;
    font-size:110%;
    padding-bottom: 4px;
    cursor:pointer;
    text-align: right;
    padding-right: 23px;
}

.a-submit-opp {
    background:url(/g/brief_submit.png) no-repeat right top;
    width: 200px;
    height:32px;
    color:#fff;
    font-weight:700;
    font-size:110%;
    cursor:pointer;
    text-align: right;
    padding-top: 6px;
    padding-right: 23px;
    display:block;
    float:right;
}

.a-submit-opp:hover {
    color:#fff !important;
}

/*
.p-category-desc {
    background:#c1c1c1;
    position:relative;
    padding:6px 6px 4px 6px;
    overflow: hidden;
    height: 50px;
}

.p-opened {
    height: auto !important;
}
*/

/* PRINT AREA */

.div-opp-form-print {
    margin: 30px auto 0;
    width: 700px;
    text-align:center;
}

.div-opp-form-print table td {
    padding:5px;
}

.div-opp-form-print table th {
    font-weight:700;
}

.a-opp-thankyou-print {
    border:1px solid #9b9b9b;
    font-size:1em;
    background:#dfdfdf url(/g/search/button_bg.png) repeat-x left bottom;
    padding:4px 11px;
}

#img-capcha-opp {
    cursor: pointer;
}

#img-reload {
    cursor: pointer;
}
