.div-page-numbering-container {
    padding-top: 18px;
    padding-bottom: 21px;
}

.div-page-numbering-container-border-top {

}

.div-page-numbering-container-border-bottom {

}

.div-page-numbering-info-text {
    float: left;
    height: 21px;
    padding-top: 4px;
}

.page_header_caption {
    float: right;
}

.span-text-per-page {
    color:#606060;
    padding-right:6px;
    padding-top:2px;
    font-size:13px;
    float:left;
}

.pagelist_navigation {
    float: right;
    padding-left: 20px;
}

.pagelist_navigation > ul { 
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.pagelist_navigation > ul > li {
    display: block;
    padding: 0px;
    margin: 0px;
    float: left;
}

.pagelist_navigation > ul > li + li {
    margin-left: 1px;
}

.pagelist_navigation .first + li,
.pagelist_navigation li + .last {
    margin-left: 0px;
}

.pagelist_navigation > ul > li > a { 
    display: block;
    height: 22px;
    min-width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    overflow: hidden;
    font: 12px/21px Verdana,Helvetica,sans-serif;
    padding: 0px 5px 0px 5px;
    color: #575757;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    background: transparent url("/g/page-numbering/ric_pagelist_lines.png") repeat-x left top;
    transition:none !important;
}

.pagelist_navigation > ul > li > a:hover { 
    border-left: 1px solid #949494;
    border-right: 1px solid #949494;
    color: #686868;
    background-position: left -22px;
}

.pagelist_navigation .first > a {
    border-right: none !important;
    background-color: #dddddd;
    color: #575757;
    padding-left: 9px;
}

.pagelist_navigation .next > a,
.pagelist_navigation .prev > a {
    width: 11px;
    border-left: none;
    border-right: none;
    background: transparent url("/g/page-numbering/ric_pagelist_arrows.png") no-repeat right top;
}

.pagelist_navigation .prev > a {
    background-position: left top;
}
        
.pagelist_navigation .next > a:hover {
    border-left: none;
    border-right: none;
    background-position: right bottom;
}

.pagelist_navigation .prev > a:hover {
    border-left: none;
    border-right: none;
    background-position: left bottom;
}

.pagelist_navigation .last > a {
    border-left: none !important;
    background-color: #dddddd;
    color: #575757;
    padding-right: 9px;
}

.pagelist_navigation li.selected {
    background: #a3a3a3;
}

.pagelist_navigation li.selected > a {
    color: #fff !important;
}


/* Firefox specific */
@-moz-document url-prefix() {       

    .pagelist_navigation > ul > li > a, #footer_pagelist_navigation > ul > li > a {
        font: 12px/20px Verdana,Helvetica,sans-serif;
    }

}

.div-items-found-container {
    float: left;
    font-size: 12px;
    padding-left: 16px;
    padding-top: 3px;

}

.div-per-page-numbering-container {
}

.span-show-per-page {
    color:#6c6c6c;
    font-size: 12px;
    display: inline-block;
    margin-top: 2px;
    margin-right: 3px;
}

.select-show {
    border: 1px solid #b4b4b4;
} 

.select-show, .select-show span, .select-show .selectboxit-options a {
    line-height: 19px !important;
    height: 20px !important;
}

.select-show .selectboxit-default-arrow {
    background: url("/js/jquery_selectbox/select_arrow2.png") no-repeat right top !important;
    width: 14px !important;
}

.select_pp {
    border: 1px solid #b6b6b6;
}

.select_pp .selectboxit-text {
  font-size: 12px;
  text-indent: 0px;
  padding: 0 0 0 13px;
}

.select_pp .selectboxit-default-arrow {
    width: 5px;
    height: 20px;
    background: url(/js/jquery_selectbox/select_arrow2.png) no-repeat right top;
}

.select_pp, .select_pp span, .select_pp .selectboxit-options a {
    height:20px;
    line-height: 19px; /* Vertically positions the drop down text */
}

.select_pp .selectboxit-arrow-container {
  width: 13px;
}
