.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}

/* div-tooltips-microsite-preview */

.div-tooltips-info-microsite {
    display: none;
}

.div-tooltips-info-content-microsite {
    padding:8px;
    border-top: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    background: #fcfcfc;
    width: 134px;
    text-align: center;
    background: #fcfcfc;
    box-shadow: 0 1px 8px #AAAAAA;
    -moz-box-shadow: 0px 1px 8px #AAAAAA;
    -webkit-box-shadow: 0px 1px 8px #AAAAAA;
}

.div-tooltips-info-content-microsite-bottom {
    background: url(/g/art/microsite_preview_bg.png) no-repeat center bottom;
    width: 152px;
    height: 11px;
}

.p-paint-detail-microsite-prev-title {
    font-size: 11px;
    padding-top: 3px;
    padding-bottom: 5px;
}

/* END div-tooltips-microsite-preview */

/* RELATION TABS */

.div-painting-relation-tabs-exh .ul-painting-relation-tabs li {
    /*border-top: 1px solid #b5b5b5;*/
    /*border-bottom: 1px solid #b5b5b5;*/
    background-color: #AAAAAA;
}

.div-painting-relation-tabs-exh .ul-painting-relation-tabs li.ui-tabs-active {
    border-bottom: none !important;
}

.div-painting-relation-tabs-exh .ul-painting-relation-tabs li.ui-tabs-active a {

}

.div-painting-relation-tab-info {
    background:#EfEfEf;
    /*margin-top: 1px;*/
    /*border-top:1px solid #AAAAAA;*/
    /*line-height: 22px;*/
}

#tab-notes-tabs {
    line-height: 22px;
}

#tab-notes-tabs-artwork, #tab-notes-tabs, #tab-sales-history-tabs-artwork, #tab-sales-history-tabs, #tab-collection-tabs-artwork, #tab-collection-tabs {
    padding:15px 14px 13px;
    margin-top: 1px;
}

#tab-information-tabs {
    padding: 31px 16px;
    line-height: 24px;
    margin-top: 1px;
}

.div-thumbs-photos {
    padding: 0 26px 15px;
}

#tab-sales-history-tabs-artwork h3, #tab-sales-history-tabs h3 {
    background:none !important;
}

/* END RELATION TABS */

/* VIDEOS TAB */

/* end VIDEOS TAB */

/* LITERATURE TAB */

.p-literature-section-desc-text {
    padding: 1px 14px 26px !important;
}
/* end LITERATURE TAB */

/* EXHIBITIONS TAB */

.p-exhibitions-section-desc-text {
    padding: 1px 0 24px 14px !important;
}
/* end EXHIBITIONS TAB */

/* PHOTOS TAB */

.p-photos-section-desc-text {
    padding: 1px 0 24px 0 !important;
}
/* end PHOTOS TAB */

/* ATLAS TAB */

.p-atlas-section-desc-text {
    padding: 1px 0 24px 0 !important;
    margin-left: -12px;
}
/* end ATLAS TAB */

/* ATLAS ASSOC TAB */

.p-atlas-assoc-section-desc-text {
    padding: 1px 0 24px 14px !important;
}
/* end ATLAS ASSOC TAB */
