.div-tabs-headline {
    margin-top: 2px;
}

#div-painting-info {
    background:#efefef;
    padding:16px 0 29px 0;
    margin-bottom:20px;
    /*-moz-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    -webkit-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    box-shadow: 0px 1px 12px rgb(155, 155, 155);*/

/*-webkit-box-shadow: 0 9px 8px -1px rgb(155, 155, 155);*/
-webkit-box-shadow: 0 11px 11px 0px rgb(155, 155, 155);
-moz-box-shadow: 0 11px 11px 0px rgb(155, 155, 155);
box-shadow: 0 11px 11px 0px rgb(155, 155, 155);

    border-top:1px solid #b4b4b4;
}

.div-painting-info-exh {
    margin-bottom:0 !important;
    /*margin-top: -3px !important;*/
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.div-painting-info-img {
    margin-bottom:25px;
    padding:0 16px 0 16px;
}

.div-painting-info-img-exh {
    margin-top:-2px;
    margin-bottom:25px;
    padding:0 14px 0 14px;
}

#img-painting-info {
    outline:#cdcdcd solid thin;
}

.img-scale-width {
    width:673px;
    height:auto;
}

.img-scale-height {
    width:auto;
    height:673px;
}

#div-painting-info-box {
    padding:0 15px 0 15px;
}

.p-painting-info-smaller {
    width:526px;
}

.p-painting-info-smaller-exh {
    width:380px;
}

.p-painting-info-title {
    padding-bottom: 10px;
}

.span-painting-info-number-in-title {
    font-weight: 700;
}

.span-painting-title1 {
    font-weight: 700;
}

q .span-painting-title1 {
    font-weight: 400;
}

.span-painting-title2 {
    color: #999999 !important;
    font-weight: 700;
}

.span-ment-disc-illus {
    color: #999999 !important;
}

.p-painting-info-year-size-etc {

}

.span-painting-info-year {
    padding-right:18px;
}

.span-painting-info-size {
    padding-right:18px;
}

.span-painting-info-crnumber {
    padding-right:18px;
}

.p-painting-info-medium {

}

.p-painting-detail-badge-destroyed {
    background: url(/g/art/ric_badge_destroyed_gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 95px;
    margin: 20px 0 0;
    padding: 11px 15px;
    color: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 8px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    height: 10px;
    line-height: 8px;
}

.div-painting-relation-tabs-paint-detail #div-thumbs {
    padding-left: 11px;
    padding-top: 11px;
}

.div-painting-relation-tabs-paint-detail #div-thumbs .div-thumb {
    padding: 0 25px 15px 0;
    width: 117px;
}

.table-books-paint-detail {
    width: 735px !important;
}

.table-books-paint-detail .col2 {
    width: 300px !important;
}

.table-books-paint-detail .col3 {
    width: 276px !important;
}

.div-thumbs-tab-content {
    /*padding-top: 0 !important;*/
}

/* div-painting-info-button-box */

.div-painting-info-button-box {
    float:right;
    border:1px solid #b7b7b7;
    margin-top: -22px;
}

.a-painting-info-button {
    cursor: pointer;
    display:block;
    height:18px;
    padding:9px 13px 8px 38px;
}

.a-painting-info-zoomer {
    background: url("/g/zoom-icon.png") no-repeat 13px center;
}

.a-painting-info-zoomer-en, .a-painting-info-zoomer-de, .a-painting-info-zoomer-fr, .a-painting-info-zoomer-it, .a-painting-info-zoomer-zh {
    padding-left:38px !important;
}

.a-painting-info-see-microsite {
    background: url("/g/see-microsite-icon.png") no-repeat 13px center;
}

.a-painting-info-see-microsite-en, .a-painting-info-see-microsite-de, .a-painting-info-see-microsite-fr, .a-painting-info-see-microsite-it, .a-painting-info-see-microsite-zh {
    padding-left:38px !important;
}

.a-painting-info-button:hover {
    background-color:#fcfcfc;
}

/* END div-painting-info-button-box */
