#div-quotes {
    margin-top:15px;
    margin-bottom:15px;
    background: #f0f0f0;
    border: 1px solid #999999;
    /*width: 706px;*/
    width: 100%;
}

.div-category-landing-page-content-quotes {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.div-quote {
    background: url("/g/quotes/bg_quote.png") repeat-x left top;
    padding: 6px 15px 17px;
    overflow: hidden;
}

.div-quote:last-child {
    padding-bottom: 35px;
}

.div-quote .blockquote_quote { 
    border: medium none;
    line-height: 22px;
    padding: 0 0 0 29px !important;
    margin: 0 0 8px !important;
    /*background: url("/g/quotes/icon_quote.png") no-repeat left 5px;*/
}

.ui-helper-hidden-accessible {
    position: absolute; left:-999em;
}

.div-quote .cite_quote {
    color: #000;
    float: left;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    padding-right: 9px;
    padding-top: 3px;
    text-align: right;
    max-width: 585px;
}

.div-quotes-cite, .div-quotes-cite-last {
    padding: 0 0 0 29px !important;
}

.div-heading-picture-quotes {
    height: 141px !important;
    width: 526px !important;
}

.div-right-side-info-box-quotes {
    height: 141px !important;
    width: 160px !important;
}

.div-right-side-block-last {
    border-bottom: medium none !important;
}

.div-right-side-info-box-quotes .div-right-side-block-padding {
    padding-top: 2px !important;
}

.p-right-side-search {
    background: url("/g/search/triangle_top.png") no-repeat scroll 5px center rgba(0, 0, 0, 0);
    font-weight: 700;
    padding: 4px 40px 4px 21px;
}

.span_source_text {
    height:11px;
    border: 1px solid #000;
    color: #000;
    font-size:73%;
    text-align: center;
    padding-right:2px;
    padding-left:2px;
    cursor:default;
    float: right;
}

.div-quotes-cite-last {
    border-bottom:none !important;
    /*width:100%;*/
    padding-bottom:5px;
}

#content .blockquote_quote {
    border:none;
    margin:15px 0 5px;
    padding:0 0 0 0;
    line-height:1.3em;
    float:right;
    width: 100%;
}


.help {
    background: url("/g/base/icon_help.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    position: absolute;
    right: 36px !important;
    text-indent: -9999px;
    top: 52px !important;
    width: 16px;
}

/* quotes source text tooltips */

div.div-tooltips-quotes-source {
    padding: 8px;
    background: none repeat scroll 0 0 #efefef;
    font-size: 90%;
    margin: 0;
    padding-bottom: 8px;
    border: 1px solid #999999;
    width:225px;
}

div.div-tooltips-quotes-source p {
    padding:0;
    margin: 0;
}

/* END quotes source text tooltips */