/* H tags */

.h1-section {
    color:#000;
    margin:0;
    padding:10px 16px 15px 16px;
    font-weight: 700;
    font-size: 19px;
    position: absolute;
    background:url(/g/h1-section.png) repeat-y left top;
    width:507px;
}

.h1-item {
    color:#000;
    margin:12px 0 0 0;
    padding:0;
    font-weight: 700;
    font-size: 19px;
}

.h2-section-title {
    padding:0 0 21px 13px;
    margin:0;
    font: bold 19px/20px Lucida sans,Verdana,Helvetica,_sans !important;
}

.h3-section-title {
    padding:0 13px 24px 13px;
    margin:0;
    font: bold 15px/16px Lucida sans,Verdana,Helvetica,_sans !important;
}

.h3-section-title-second {
    padding-top:20px !important;
}

/* end H tags */

/* P tags */

.p-section-title {
    background:#EFEFEF;
    padding: 18px 12px 18px !important;
    margin-top: 1px;
}

.p-section-title-min {
    padding: 7px 5px 7px !important;
}

.p-section-title-border-bottom {
    border-bottom:1px solid #999999;
}

.p-section-description {
    line-height: 22px;
    padding:0 13px 22px;
}

.p-section-description-modified {
    padding-bottom: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-item-translation {
    color: #999999 !important;
    font-weight:700;
    padding:0;
    font-size: 19px;
}

.span-category-show-all {
    width: 679px;
    display: block;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 13px;
    padding-right: 13px;
}

.span-category-show-all-left {
    float: left;
    display: block;
    width: 490px;
}

.a-cat-show-all {
    display: block;
    float: right;
    background:url(/g/base/show-all-button-bg.jpg) repeat-x left center;
    border:1px solid #a8a8a8;
    min-width:121px;
    padding:2px 15px 2px 15px;
    text-align: center;
}

.span-category-text {
    padding-left: 13px;
    padding-right: 13px;
    display: block;
}

/* end P tags */

/* div-previous-next paintings detail view */

.div-previous-next {
    height:34px;
    width: 100%;
    background:#EFEFEF;
    margin-top: 1px;
}

.div-previous-next-left {
    float:left;
}

.div-previous-next-right {
    float:right;
    padding:6px 14px 6px 0;
}

.a-previous-next-back {
    display:block;
    width:306px;
    height:26px;
    background-image: url("/g/page-numbering/back-button.png");
    background-position:left top;
    background-repeat:no-repeat;
    padding:8px 0 0 29px;
    font-size:12px;
    transition: none !important;
}

.a-previous-next-back:hover {
    background-position:left bottom;
    color:#000 !important;
}

.div-previous-next-box-around-numbers {
    border:1px solid #adadad;
    display: inline;
    padding:2px 6px 2px 6px;
    float: right;
    margin: 0;
    font-size:12px;
}

.safari .div-previous-next-box-around-numbers {
    padding-top:3px !important;
}

.ff2 .div-previous-next-box-around-numbers {
    padding-top:1px;
}

.a-previous-next-left {
    float:right;
    text-indent:-9999px;
    display:block;
    width:22px;
    height:22px;
    background-image: url("/g/page-numbering/previous-button.png");
    background-position:left top;
    background-repeat:no-repeat;
    transition: none !important;
}

.a-previous-next-left:hover {
    background-position:left bottom;
}

.a-previous-next-right {
    float:right;
    background-image: url("/g/page-numbering/next-button.png");
    background-repeat:no-repeat;
    background-position:right top;
    text-indent:-9999px;
    display:block;
    width:22px;
    height:22px;
    transition: none !important;
}

.a-previous-next-right:hover {
    background-position:right bottom;
}

/* END div-previous-next paintings detail view */

/* section images */

.p-interactive-timeline {
    font-weight:700;
    height: 54px;
    padding-left:22px;
    padding-top:0px;
}

.p-interactive-timeline-fr {
    height: 55px !important;
    padding-top:2px !important;
    line-height:17px !important;
}

.a-timeline-play-button {
    background:url(/g/biography/timeline.png) no-repeat left top;
    width:164px;
    height:118px;
    display:block;
    float:right;
    transition:none !important;
    box-shadow: 0 1px 10px #AAAAAA;
    -moz-box-shadow: 0px 1px 10px #AAAAAA;
    -webkit-box-shadow: 0px 1px 10px #AAAAAA;
}

.a-timeline-play-button:hover {
    background-position: left bottom;
}

/* END section images */

/* div-content-header-block */

.div-content-header-block {
    height:208px;
    margin-bottom: 20px;
    /*width:706px;*/
    width:100%;
}

.div-content-header-block-left {
    float:left;
    /*width:523px;*/
    width:100%;
    max-width:523px;
    height:208px;
    /*border-right: 1px solid #aaaaab;*/
}

.div-content-header-block-left-full {
    width:705px !important;
}

.div-content-header-block-right {
    float: right;
    width:182px;
    background:#efefef;
    padding:17px 0;
    height:174px;
}

.div-content-header-block-right-large {
    height:auto !important;
    z-index: 9999;
    position: absolute;
    right: 29px;
    box-shadow: 0 1px 12px #AAAAAA;
    -moz-box-shadow: 0px 1px 12px #AAAAAA;
    -webkit-box-shadow: 0px 1px 12px #AAAAAA;
}

.div-content-header-block-right .div-content-header-block-right-search-title {
    padding:0 17px;
}

.div-content-header-block-right .p-content-header-block-right-search-title {
    padding:0;
    margin: 0 0 20px 0;
    font-weight:700;
}

.div-content-header-block-right #form-right-search {
    padding:0 17px;
}

.div-content-header-block-right #form-right-search .input-text-field {
    border:none;
    background: #f9f9f9;
    color:#575757;
    width:134px;
    height:24px;
    margin:5px 0;
    padding:0 7px;
    box-shadow: 0 1px 3px #AAAAAA;
}

.div-content-header-block-right #form-right-search .input-text-small {
    width: 42px !important;
}

.abbr-size {
    width: 19px;
    display: inline-block;
}

.input-day {
    width:16px !important;
}

.input-day-en, .input-day-de {
    width:16px !important;
}

.input-day-fr, .input-day-it {
    width:20px !important;
}

.input-day-zh {
    width:20px !important;
    font-size: 10px;
}

.input-month-en, .input-month-de {
    width:19px !important;
}

.input-month-fr, .input-month-it {
    width:21px !important;
}

.input-month-zh {
    width:20px !important;
    font-size: 10px;
}

.input-year-en, .input-year-de, .input-year-fr, .input-year-it {
    width:29px !important;
}

.input-year-zh {
    width:42px !important;
    font-size: 10px;
}

.span-search-from {
    font-size: 11px;
}

.span-search-to {
    font-size: 11px;
}

.span-search-to-en {
    padding-right: 15px;
}

.span-search-to-de {
    padding-right: 5px;
}

.span-search-to-fr {
    padding-right: 7px;
}

.span-search-to-it {
    padding-right: 8px;
}

.span-search-to-zh {
    padding-right: 0;
}

#artworkid_artSelectBoxItOptions {
    min-width: 191px !important;
}

.a-right-side-advanced-search {
    color:#777777;
    font-size:10px;
    cursor: pointer;
}

#div-block-crnumber .ui-widget-content {
     border-radius:0;
     background: none;
     border: none;
     color: #000;
}

#div-block-crnumber .ui-widget-header {
    background: none;
    border: none;
    color: #6a6a6a;
    font-weight: bold;
}

#div-block-crnumber .ui-corner-all, #div-block-crnumber .ui-corner-top, #div-block-crnumber .ui-corner-right, #div-block-crnumber .ui-corner-tr {
    border-radius:0;
    border: none;
}

#div-block-crnumber .ui-state-active, #div-block-crnumber .ui-widget-content .ui-state-active, #div-block-crnumber .ui-widget-header .ui-state-active {
     border-radius:0;
     background: none;
     border: none;
}

#div-block-crnumber .ui-state-default a, #div-block-crnumber .ui-state-default a:link, #div-block-crnumber .ui-state-default a:visited {
    color: #6a6a6a;
}

#div-block-crnumber .ui-state-hover a,
#div-block-crnumber .ui-state-hover a:hover,
#div-block-crnumber .ui-state-hover a:link,
#div-block-crnumber .ui-state-hover a:visited,
#div-block-crnumber .ui-state-focus a,
#div-block-crnumber .ui-state-focus a:hover,
#div-block-crnumber .ui-state-focus a:link,
#div-block-crnumber .ui-state-focus a:visited {
    color: #000;
    text-decoration: none;
}

#div-block-crnumber .ui-widget input, #div-block-crnumber .ui-widget select, #div-block-crnumber .ui-widget textarea, #div-block-crnumber .ui-widget button {
    font-size: 100%;
}

.input-right-side-number-more {
    width: 70px !important;
    margin-right: 2px !important;
}

.a-right-side-number-add, .a-right-side-number-remove {
    color: #999 !important;
    cursor: pointer;
}

#div-block-crnumber .a-right-side-number-add:hover, #div-block-crnumber .a-right-side-number-remove:hover {
    color: #000 !important;
}

#input-number-from, #input-number-to {
    width: 51px !important;
}

.ul-search-number-tabs {
    border-bottom: 1px solid #999 !important;
    margin-bottom: 0;
    margin-top: 3px !important;
    padding: 0 0 23px;
    position: relative;
    text-align: left;
    width: 148px;
}

.ul-search-number-tabs li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
}

.ul-search-number-tabs a {
    background: #efefef;
    border: 1px solid #999;
    color: #6a6a6a;
    display: block;
    float: left;
    font-size: 11px;
    padding: 3px 12px;
    text-align: center;
    width: 30px;
}

.ul-search-number-tabs .ui-tabs-active a {
    background: #dfdede url("/g/search/tab_bg_selected.png") repeat-x scroll left bottom !important;
    border-color: #999 #999 #ccc !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: #000 !important;
}

.ul-search-number-tabs a.range {
    border-left: medium none !important;
}

.a-right-side-number-add, .a-right-side-number-remove {
    border:1px solid #999;
    text-align:center;
    padding: 4px 8px;
    background:#e0e0e0;
}

.div-right-side-number-tabs-info {
    clear:left;
}

.div-right-side-number-tabs-info .holder {
    text-align:left;
    margin-bottom:5px;
    margin-top: 5px;
}

.div-right-side-number-tabs-info {
    box-shadow: none !important;
}

.ul-search-number-tabs a.selected {
    background: #dfdede url("/g/search/tab_bg_selected.png") repeat-x scroll left bottom;
    border-color: #999 #999 #ccc;
    border-style: solid;
    border-width: 1px;
    color: #000;
}

.div-content-header-block-right #form-right-search .select-field {
    margin:5px 0;
    height:24px;
    color:#575757 !important;
    box-shadow: 0 1px 3px #AAAAAA;
}

.div-content-header-block-right #form-right-search .select-large {
    width:148px !important;
}

.div-content-header-block-right #form-right-search .select-small {
    width:69px !important;
}

.div-content-header-block-right #form-right-search .select-year-from {
    margin-right:7px;
}

.div-content-header-block-right .p-right-search-field-info {
    padding:0;
    margin: 11px 0 1px;
}

.div-content-header-block-right .a-right-search-show-more-options {
    cursor: pointer;
    display: block;
    background-image: url(/g/right-side/search-more-options.png);
    background-repeat:no-repeat;
    background-position:left 2px;
    color:#545454;
    padding: 0 0 0 17px;
    transition:none !important;
}

.div-content-header-block-right .a-right-search-show-more-options-less {
    background-position:left -21px !important;
}

.div-content-header-block-right #input-right-search-submit {
    background:url(/g/right-side/search-button-bg.png) no-repeat left center;
    border:#a6a6a6;
    border: none;
    width:121px;
    height:26px;
    margin:17px 0 19px -4px;
    padding: 0;
}

.div-content-header-block-right #input-right-search-reset {
    background:url(/g/right-side/reset-button-bg.png) no-repeat right center;
    border:#a6a6a6;
    border: none;
    width:26px;
    height:26px;
    margin:17px 0 19px;
    text-indent: -9999px;
    padding: 0;
    cursor: pointer;
}

.div-search-reset-buttons div {
    float: left;
}

/* END div-content-header-block */

/* div-category-landing-page-content */

.div-category-landing-page-padding-topbottom {
    padding-top:35px;
    padding-bottom:35px;
}

/* END div-category-landing-page-content */

/* div-section-categories */

.div-section-content {
    background:#efefef;
}

.div-section-content-text {
    padding: 35px 15px;
}

.div-section-categories {
    padding:13px 13px 35px;
}

.div-section-categories-border-bottom {
    border-bottom: 1px solid #9a9a9a;
}

.div-section-category {
    float: left;
    border-left: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    width:168px;
    height:168px;
}

.div-section-category img {
    width: 148px !important;
    max-height: 93px !important;
}

.a-lit-cat {
    display:block;
    height: 150px;
    padding: 9px;
    width: 150px;
    overflow: hidden;
}

.a-lit-cat:hover {
    background:#fcfcfc;
}

.a-lit-cat img {
    border: 1px solid #c4c4c4;
}

.span-lit-cat-title {
    font-weight: 700;
    display:block;
    margin:22px 0 27px;
}

.div-section-categories-first-row {
    border-top: 1px solid #9a9a9a;
}

.div-section-categories-last {
    border-right: 1px solid #9a9a9a;
}

.div-section-categories-show-all {
    text-align: center;
}

.div-section-categories-show-all a {
    color: #b5b5b5;
    font-size: 17px !important;
}

.div-section-categories-show-all a span {
    font-weight: 400 !important;
    margin-top: 62px !important;
}

/* END div-section-categories */

/* div-detail-view-item */

.div-detail-view-item {
    background:#efefef;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 1px 12px #666;
    -webkit-box-shadow: 0px 1px 12px #666;
    box-shadow: 0px 1px 12px #666;
    display: flex;
}

.div-detail-view-item-left {
    float:left;
    /*min-height:350px;*/
    padding: 17px 17px 17px 16px;
    overflow: hidden;
    min-height: 154px;
    border-right: 1px solid #acacac;

    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 75%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 75%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 75%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}

.div-detail-view-item-left-exhibitions {
    width:160px;
}

.div-detail-view-item-left-literature {
    width:322px;
}

.div-detail-view-item-images {
    position: relative;
    /*min-height:217px;*/
}

.div-detail-view-item-images .img-enlarge-icon {
    display: none;
    background-color: rgba(252, 252, 252,0.7);
    padding:10px;
  -webkit-transition-property: background color;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background color;
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease;
  -o-transition-property: background color;
  -o-transition-duration: 300ms;
  -o-transition-timing-function: ease;
  -ms-transition-property: background color;
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease;
  transition-property: background color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.div-detail-view-item-images:hover .img-enlarge-icon {
    display: inline;
    position:absolute;
    bottom:0;
    right:-1px;
    z-index:1;
}

.div-detail-view-item-images .img-detail-view {
    border:1px solid #969698;
    position:absolute;
    bottom:0;
    left:-1px;
    z-index:0;
}

.div-detail-view-item-right {
    float:right;
    padding: 13px 30px 30px;
    background:#efefef;
}

.div-detail-view-item-right-exhibitions {
    width:451px;
}

.div-detail-view-item-right-literature {
    width:291px;
}

.div-detail-view-item-right-large {
    width:675px;
}

.div-detail-view-item-right table td {
    padding-bottom: 9px;
}

.div-detail-view-item-right table .td-title {
    padding-right: 14px;
}

.div-detail-view-item-right table .td-title-zh {
    width: 75px;
}

.div-detail-view-item-right table .td-value {

}

/* END div-detail-view-item */

/* div-left-search-block */

.div-left-search-block {
    width:160px;
    padding:11px 0;
    height:309px;
    background:#efefef;
    margin-top: 37px;
}

.div-left-search-block .div-content-header-block-right-search-title {
    border-bottom: 1px solid #A6A6A6;
    padding:0 12px 13px;
    margin-bottom: 6px;
}

.div-left-search-block .p-content-header-block-right-search-title {
    padding:0;
    margin: 0 0 0 0;
    font-weight:700;
}

.div-left-search-block #form-right-search {
    padding:0 12px;
}

.div-left-search-block #form-right-search .input-text-field {
    border:none;
    background: #f9f9f9;
    color:#575757;
    width:122px;
    height:24px;
    margin:5px 0;
    padding:0 7px;
    box-shadow: 0 1px 3px #AAAAAA;
}

.div-left-search-block #form-right-search .select-field {
    margin:5px 0;
    height:24px;
    color:#575757 !important;
    box-shadow: 0 1px 3px #AAAAAA;
}

.div-left-search-block #form-right-search .select-large {
    width:136px !important;
}

.div-left-search-block #form-right-search .select-small {
    width:62px !important;
}

.div-left-search-block #form-right-search .select-year-from {
    margin-right:7px;
}

.div-left-search-block .p-right-search-field-info {
    padding:0;
    margin: 11px 0 1px;
}

.div-left-search-block .a-right-search-show-more-options {
    cursor: pointer;
    display: block;
    background-image: url(/g/right-side/search-more-options.png);
    background-repeat:no-repeat;
    background-position:left 2px;
    color:#545454;
    padding: 0 0 0 17px;
}

.div-left-search-block .a-right-search-show-more-options-less {
    background-position:left -21px !important;
}

.div-left-search-block #input-right-search-submit {
    background:url(/g/right-side/search-button-bg.png) no-repeat left center;
    border:#a6a6a6;
    border: 1px solid #a6a6a6;
    width:136px;
    height:24px;
    margin:17px 0 19px;
    padding-left: 32px;
}

/* END div-left-search-block */

/* div-you-searched-for */

.div-you-searched-for {
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid #999999;
    width: 686px;
    margin-bottom: 20px;
    line-height: 1.5em;
}

.div-results {
    border: 1px solid #999999;
    background: #f0f0f0;
    width: 706px;
}

.result-error {
    font-weight: 700;
    padding: 10px;
}

/* END div-you-searched-for */


/* DIV THUMB */

.div-section-categories .div-thumb {
    border-bottom: 1px solid #9a9a9a;
    border-left: 1px solid #9a9a9a;
    float: left;
    height: 176px;
    width: 168px;
    overflow: hidden;
    position: relative;
}

.div-section-categories .div-thumb-with-title, .div-section-categories .div-thumb-with-title .a-thumb-link  {
    height: 382px !important;
}

.div-section-categories .div-thumb-with-title .a-thumb-link  {
    display: block;
}

.div-section-categories .div-thumb-first-row {
    border-top: 1px solid #9a9a9a;
}

.div-section-categories .div-thumb-last {
    border-right: 1px solid #9a9a9a;
}

.div-section-categories .div-thumb .div-thumb-img-border {
    background:url('/g/art/thumbnail_bg.png') repeat-x left bottom;
    padding:2px;
    width:168px;
    height:173px;
    text-align:center;
    overflow:hidden;
    position: relative;
    line-height: auto;
    vertical-align: middle;

    margin: 1em 0 15px;
    display: table-cell;
}

.div-section-categories .div-thumb .a-thumb-link:hover .div-thumb-img-border {
    background: #fcfcfc !important;
}

.div-section-categories .div-thumb .div-thumb-img-border img {
    /*
    max-height: 110px;
    max-width: 110px;
    */
    max-height: 148px;
    max-width: 148px;
    outline: thin solid #c1c1c1;
    /*bdbdbd*/
    box-shadow: 0 1px 3px #aaaaaa;

}

.div-section-categories .div-thumb .span-thumb-title {
    padding: 18px 9px;
    display: block;
    height: 184px;
    overflow-x: scroll;
}

.div-section-categories .div-thumb .span-painting-title1 {
    font-weight: 700;
}

.div-section-categories .div-thumb .span-painting-title2 {
    display: inline-block;
    margin-top: 3px;
}

.div-section-categories .div-thumb .span-painting-year {
    display: block;
    padding-top: 15px;
}

.div-section-categories .div-thumb .span-painting-artworkid {
    display: block;
    padding-top: 3px;
}

.div-section-categories .div-thumb .span-painting-number {
    display: block;
    padding-top: 2px;
}

.div-section-categories .div-thumb .span-painting-desc {
    display: block;
    padding-top: 7px;
}


.div-section-categories .div-thumb .span-ment-disc-illus {
    display: block;
    padding-top: 2px;
}

.div-section-categories .div-thumb .info-sales, .div-section-categories .div-thumb .info-museum {
    display:inline-block;
    height:7px;
    width: 7px;
    margin-left: 9px;
    margin-right: 1px;
}

.div-section-categories .div-thumb .info-museum2 {
    margin-left: -4px !important;
}

.div-section-categories .div-thumb .a-thumb-link .info-museum {
    background-color: #6699ff;
}

.div-section-categories .div-thumb .a-thumb-link .info-sales {
    background-color: #de3c3c;
}

    /* for thumbs artwork type prints */

.span-painting-titleandnumber-prints {
    font-size: 13px;
}

.span-painting-number-prints {
    font-weight: 700;
}

.span-painting-title-prints {

}

.span-painting-year-prints {
    display: block;
    padding-top: 8px;
    font-size: 12px;
}

.span-painting-size-prints {
    display: block;
    padding-top: 8px;
    font-size: 12px;
}

.span-painting-medium-prints {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    height: 61px;
    overflow: hidden;
    line-height: 21px;
}

    /* END for thumbs artwork type prints */

/* end DIV THUMBS */

/* div-share */

.div-share {
    float: right;
}

.a-share-button {
    cursor: pointer;
    display: block;
    /*background:url(/g/share/icon_share.png) no-repeat 13px center;*/
    width: 40px;
    height: 40px;
    background:url(/g/base/icon_share_buttons.png) no-repeat 13px 3px;
    background-size: 40px 240px;
}

/*


.a-share-button:hover {
    background-position: 14px -38px;
    transition:auto !important;
}
*/

#ul-share-options {
    width: 209px;
    list-style: none;
    display: none;
    background-color: #fff;
    box-shadow: 0 1px 12px #AAAAAA;
    -moz-box-shadow: 0px 1px 12px #AAAAAA;
    -webkit-box-shadow: 0px 1px 12px #AAAAAA;
    position: absolute;
    right: 17px;
    top: 0;
    margin:0;
    padding: 3px 0 0 0;
    z-index: 9999;
}

#ul-share-options li {
    padding: 13px;
    border-top: 1px solid #e4e4e4;
}

#ul-share-options .li-share-this-page {
    padding-right: 0 !important;
    padding-top: 10px !important;
    border-top: none !important;
    /*background:url(/g/share/icon_share.png) no-repeat right -3px;*/
    background:url(/g/base/icon_share_buttons.png) no-repeat right -40px;
    background-size: 40px 240px;
}

#ul-share-options li .a-share-option {
    color: #3a3a3a;
    cursor: pointer;
    display: block;
    padding-left: 25px;
    font-weight: 700;
}

.a-share-this-page {
    cursor: pointer;
    width: 100% !important;
    background-position: right center !important;
    background: none !important;
    border-top: none !important;
    height: 17px !important;
    padding-left: 0 !important;
    font-weight: 400 !important;
}

.a-share-email {
    /*background:url(/g/share/icon_share_email.png) no-repeat left center;*/
    background:url(/g/base/icon_share_buttons.png) no-repeat -13px -91px;
    background-size: 40px 240px;
    width: 100%;
}

.a-share-facebook {
    /*background:url(/g/share/icon_share_facebook.png) no-repeat left center;*/
    background:url(/g/base/icon_share_buttons.png) no-repeat -13px -131px;
    background-size: 40px 240px;
}

.a-share-twitter {
    /*background:url(/g/share/icon_share_twitter.png) no-repeat left center;*/
    background:url(/g/base/icon_share_buttons.png) no-repeat -13px -171px;
    background-size: 40px 240px;
}

.a-share-pinterest {
    /*background:url(/g/share/icon_share_pinterest.png) no-repeat left center;*/
    background:url(/g/base/icon_share_buttons.png) no-repeat -13px -211px;
    background-size: 40px 240px;
}

/* END div-share */

/* div-related-block */

.div-related-block {
    background: #cdcdcd;
    margin-bottom: 25px;
    box-shadow: 0 1px 10px #AAAAAA;
    -moz-box-shadow: 0px 1px 10px #AAAAAA;
    -webkit-box-shadow: 0px 1px 10px #AAAAAA;
    /*
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    */
}

.div-related-block .p-related-block-title {
    font-weight: 700;
    padding:14px 10px;
}

.div-related-block .div-related-block-desc {
    padding:0 10px 14px;
}

.div-related-block .ul-related-block {
    list-style: none;
    margin: 0;
    padding: 0;
}

.div-related-block .ul-related-block li {
    border-top: 1px solid #a5a5a5;
    background: url("/g/base/arrow-right.png") no-repeat 145px center;
}

.div-related-block .ul-related-block li a {
    display: block;
    padding:6px 10px;
    width: calc(100% - 25px);
}

/* END div-related-block */

/* Placeholder */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #575757;
    opacity: 100;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #575757;
    opacity: 100;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #575757;
    opacity: 100;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #575757;
    opacity: 100;
}

/* END Placeholder */

/* Different */

.hidden {
    display: none;
}

#main .show {
    display: block !important;
}

/* END Different */

/* QUOTES . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

:lang(en) q, :lang(en) blockquote { quotes: '“' '”'; }
:lang(fr) q, :lang(fr) blockquote { quotes: '«' '»'; }
:lang(it) q, :lang(it) blockquote { quotes: '“' '”'; }
:lang(de) q, :lang(de) blockquote { quotes: '„' '“'; }
:lang(zh) q, :lang(zh) blockquote { quotes: '»' '«'; }

q:before { content: open-quote; }
q:after { content: close-quote; }

blockquote p:first-child:before {
	display: inline-block;
	font: normal 55px/40px Helvetica;
	color: rgb(180, 180, 180);
	content: open-quote;
	margin-right: 10px;
}


:lang(en) blockquote p:first-child:before, :lang(it) blockquote p:first-child:before {
    height: 5px;
    vertical-align: -24px;
}

:lang(de) blockquote p:first-child:before {
    vertical-align: 1px;
    line-height: 7px;
}

:lang(fr) blockquote p:first-child:before, :lang(zh) blockquote p:first-child:before  {
    vertical-align: -10px;
    line-height: 7px;
}


/* search ? tooltips */

.div-tooltips-info-content {
    display:none;
}

.div-tooltips-search-help {
    background: none repeat scroll 0 0 #CCCCCC;
    font-size: 90%;
    margin: 0;
    padding-bottom: 8px;
    border: 1px solid #999999;
}

div.div-tooltips-search-help .p-tooltips-title {
    background: none repeat scroll 0 0 #747474;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: 700;
    margin: 0 0 8px 0;
    padding: 5px 8px;
}

div.div-tooltips-search-help .tip {
    padding: 0 8px;
}
/* END search ? tooltips */
