/* BASIC SEARCH */

#div-basic-search-results {

}

.a-menu-search-page {
    background: url(/g/search_basic/menu_search.jpg) no-repeat left top;
    width: 33px;
    height: 27px;
    position: absolute;
    right: 13px;
    top: 55px;
}

.language_search {
    right: 1px !important;
}

#form-basic-search {
    background: #efefef;
    margin-top:5px;
    height: 60px;
    padding: 10px 6px 18px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.43);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.43);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.43);
}

.div-form-basic-search-bottom {
    background: url(/g/search_basic/search-field-arrow.png) no-repeat center top;
    height: 19px;
    width: 100%;
    margin-bottom: 6px;
}

.h1-section-search {
    position: relative !important;
    padding: 0 0 7px 0 !important;
    background: none !important;
    margin-left: 9px !important;
    /*display: inline-block;*/
}

.a-search-show-more-opt {
    cursor: pointer;
    display: block;
    background-image: url(/g/right-side/search-more-options.png);
    background-repeat:no-repeat;
    background-position:left 2px;
    color:#545454;
    padding: 0 0 0 17px;
}

.a-search-show-more-opt-less {
    background-position:left -21px !important;
}

#input-basic-search {
    background: transparent url(/g/search_basic/search_input_bg2.png) no-repeat left center;
    border: none;
    width:524px;
    height:26px;
    padding:6px 16px;
    margin:0;
    float: left;
    font-size: 12px;
}

.submit-basic-search {
    border:none;
    width:128px;
    height:26px;
    border: 1px solid #999;
    padding:0;
    margin-top: 6px;
    background: url(/g/search_basic/search_button_bg2.png) repeat-x left center;
    font-size: 12px;
}

.div-search-basic-bg-line {
    background: url(/g/search_basic/search_results_bg.png) no-repeat left bottom;
    font-weight:700;
    font-size:115%;
    padding:0 0 22px 15px;
}

.ul-left-basic-search {
    margin-top:14px;
}

.ul-left-basic-search li {
}

.ul-left-basic-search a {
}

.ul-left-basic-search a:hover {
}

.content-search-basic-results {
    width: 706px !important;
    margin: 0 0 0 30px !important;
}

.h2-search-basic-section {
    margin-top:15px;
    margin-bottom:0 !important;
    /*width:693px !important;*/
    background: #efefef;
    color:#000;
    font-size:12px;
    font-weight: 700;
    padding: 20px 17px 23px 15px;
}

.span-basic-search-results {
    padding-left:7px;
    font-weight: 400 !important;
}

.a-basic-search-show-all {
    float: right;
    background: url("/g/search_basic/show_all_bg_arrow.png") no-repeat right 6px;
    font-weight: 400 !important;
    padding-right: 12px;
}

.a-basic-search-show-all:hover {

}

.li-basic-search-color-0-results, .li-basic-search-color-0-results a {
    color:#666 !important;
}

.span-basic-search-left-count {
    float:right;
}

/* painting results */

.div-basic-searc {
    margin-bottom:22px;
}

.div-basic-searc div {
    float:left;
    width:116px;
    padding:0 25px 15px 0;
    position:relative;
    margin-top:15px;
}

.div-basic-searc div.last {
    padding-right:0;
    padding-left: 1px;
}

.div-basic-searc div img {
    padding:2px;
    border:1px solid #999;
    margin-bottom:8px;
}

.div-basic-searc div a {
    font-weight:300;
}

.div-basic-searc div img:hover {
    border:1px solid #666;
}

.div-thumbs-global-search {
    padding-top:0px;
    background: #efefef;
}

/* END paintin results */

/* biography results */
.table-basic-search {
    /*
    width: 703px;
    border-bottom:1px solid #979797;
    border-right:1px solid #979797;
    border-left:1px solid #979797;
    */
    margin-bottom:22px;
}

.table-item-basic-search:hover {
    background-position:right top;
}

.table-item-basic-search {
    /*background: #d5d5d5 url("/g/search_basic/table_item_bg.jpg") no-repeat left top;*/
    background: #efefef url("/g/quotes/bg_quote.png") repeat-x left top;
    overflow: hidden;
    /*min-height:37px;*/
    padding:10px;
}

.table-item-selected-basic-search {
    background:#efefef;
    background:#dedede url("/g/literature/table_item_selected_bg.jpg") no-repeat left top;
    cursor: default;
    border-bottom: 1px solid #bebebe;
}

.span-basic-search-title {
    font-weight:700;
    font-size:110%;
    display: block;
    padding-bottom: 2px;
}

.span-basic-search-text {
    font-size: 90%;
    line-height: 18px !important;
}

.span-basic-search-text p {
    line-height: 18px !important;
}

.p-basic-search-no-results-found {
    margin-top:15px;
}

/* END biography results */

/* Chronology results */

.table-basic-search-text-chronology {
    /*
    width: 703px;
    border-bottom:1px solid #979797;
    border-right:1px solid #979797;
    border-left:1px solid #979797;
    */
    margin-bottom:22px;
}

/* END Chronology results */

/* Quotes results */

.table-basic-search-quotes {
    /*
    width: 703px;
    border-bottom:1px solid #979797;
    border-right:1px solid #979797;
    border-left:1px solid #979797;
    */
    margin-bottom:22px;
    background:#ccc;
}

.table-basic-search-quotes .div-quote {
    /*background: url("/g/search_basic/table_item_bg.jpg") no-repeat scroll left top #d5d5d5;*/
    /*width: 674px;*/
}

.table-basic-search-quotes #div-quotes {
    margin:0;
    border:none !important;
    padding: 0 !important;
}

.table-basic-search-quotes .div-quote:hover {
    background-position: right top;
}

.table-basic-search-quotes .blockquote_quote {
    font-size:90%;
    line-height: 18px !important;
}

.table-basic-search-quotes .div-quotes-cite {
    /*border-bottom: 1px solid #999999 !important;*/
}

/* END quotes results */

/* exhibitions results */

.span-basic-search-title-original{
    font-weight:700;
    font-size:110%;
    display: block;
    padding-bottom: 2px;
}

.span-basic-search-title-exh {
    font-weight:700;
    font-size:90%;
    display: block;
    padding-bottom: 2px;
}

.span-basic-search-location {
    display: block;
}

.span-basic-search-date {
    display: block;
}

/* END exhibitions results */

/* LITERATURE results */

.div-basic-search-thead {

}

.div-basic-search-col-title-head {
    background: url("/g/literature/table_header_bg.png") repeat-x scroll left top transparent;
    float:left;
    width:299px;
    height:21px;
    border-top:1px solid #959595;
    border-bottom:1px solid #959595;
    padding-top:4px;
    padding-left:76px;
}

.div-basic-search-col-author-head {
    background: url("/g/literature/table_header_bg.png") repeat-x scroll left top transparent;
    float:left;
    width:236px;
    height:21px;
    border-left:1px solid #959595;
    border-top:1px solid #959595;
    border-bottom:1px solid #959595;
    padding-top:4px;
    padding-left:10px;
}

.div-basic-search-col-date-head {
    background: url("/g/literature/table_header_bg.png") repeat-x scroll left top transparent;
    float:left;
    width:46px;
    height:21px;
    border-left:1px solid #959595;
    border-top:1px solid #959595;
    border-bottom:1px solid #959595;
    padding-top:4px;
}

.col-date-en, .col-date-fr, .col-date-it {
    width: 51px;
    padding-left:5px;
}

.col-date-de {
    width: 54px;
    padding-left:2px;
}

.col-date-ch {
    width: 51px;
    padding-left:5px;
}

.img-date-sort-arrow-en, .img-date-sort-arrow-fr, .img-date-sort-arrow-it {
    float:right;
    margin-right:8px;
    margin-top:3px;
}

.img-date-sort-arrow-de {
    float:right;
    margin-right:2px;
    margin-top:3px;
}

.img-date-sort-arrow-ch {
    float:right;
    margin-right:9px;
    margin-top:3px;
}

.table_item {
    cursor:pointer;
    background: #cdcdcd url("/g/search_basic/table_item_bg.jpg") no-repeat left top;
    /*height:74px;*/
    min-height:40px;
    width:679;
}

.table_item:hover {
    color:#666;
}

.table_items_height {
    height:40px !important;
}

.table_item_height {
    height:50px !important;
}

.table_item_image {
    float:left;
    /*background: #cdcdcd url("/g/search_basic/literature_item_bg.png") repeat-x left top;*/
    /*height:50px;*/
    width:50px;
    padding: 12px 8px;
    text-align:center;
}

.table_item_title {
    float:left;
    border-left:1px solid #959595;
    width:292px;
    /*height:50px;*/
    padding: 12px 8px;
    /*background: #cdcdcd url("/g/search_basic/literature_item_bg.png") repeat-x left top;*/

}

.table_item_author {
    float:left;
    width:230px;
    /*height:50px;*/
    border-left:1px solid #959595;
    padding-top:4px;
    padding-left:10px;
    padding: 12px 8px;
    /*background: #cdcdcd url("/g/search_basic/literature_item_bg.png") repeat-x left top;*/
}

.table_item_date {
    float:left;
    /*background: #cdcdcd url("/g/search_basic/literature_item_bg.png") repeat-x left top;*/
    /*height:50px;*/
    width:40px;
    padding: 12px 8px;
    border-left:1px solid #959595;

}


/* END LITERATURE results */

/* VIDEOS results */

.table-basic-search-videos {
    /*
    width: 703px;
    border-bottom:1px solid #979797;
    border-right:1px solid #979797;
    border-left:1px solid #979797;
    */
    margin: 0 0 22px 0;
    background:#efefef;
    /*padding:14px 0 0 0;*/
}

/* END VIDEOS results */


/* LINKS results */

.table-basic-search-links {
    /*
    width: 703px;
    border-bottom:1px solid #979797;
    border-right:1px solid #979797;
    border-left:1px solid #979797;
    */
    margin-bottom:22px;
    background:#ccc;
}

/* END LINKS results */

/* NEWS - TALKS results */

.new-search {
    margin-left: 0 !important;
    margin-top: 0 !important;
    width: 703px !important;
    border-top: none !important;
}

/* END NEWS - TALKS results */

/* credits results */

.table-basic-search-text-credits {
    width: 705px;
}

/* end credits results */

/* disclaimer results */

.table-basic-search-text-disclaimer {
    width: 703px;
}

/* end disclaimer results */


.span-keyword-found {
    /*background:#e5e5e5 !important*/;
    background-color: rgba(0, 0, 0, 1) !important;
    color:#fff !important;
    padding: 2px 0;
}

.span-keyword-found2 {
    background-color: rgba(0, 0, 0, 1) !important;
    color:#fff !important;
    padding: 2px 0;
}

#div-search-loader {
    left: 746px;
    position: absolute;
    top: 100px;
    height: 13px;
    width: 13px;
}

.img-search-loader {

}

/* end BASIC SEARCH */
