/* filter form */
#filter-site-stats {
margin-bottom: 1px;
padding: 6px;
background: #ccc;
}

#filter-site-stats, #filter-custom-dates {
position: relative;
}

#help-simple-date, #help-custom-date {
position: absolute;
top: 5px;
right: 5px;
display: none;
width: 124px;
text-indent: -9999px;
background: url(../g/stats/feedback-boxes.gif) no-repeat;
}

#filter-site-stats:hover #help-simple-date, #filter-custom-dates:hover #help-custom-date {
display: block;
}

#help-simple-date {
height: 25px;
background-position: 0 0;
}

#help-custom-date {
height: 75px;
background-position: 0 -50px;
}

#filter-custom-dates {
background: #ccc;
margin-bottom: 15px;
padding:6px;
}

#content #date-list {
margin-bottom: 6px;
}

#date-list li {
margin-bottom: 6px;
}

#custom-date-filter {
margin:0 0 6px 0;
line-height: normal;
}


#custom-date-filter label, #custom-date-filter input {
font-weight: 700;
font-size: .9em;
display: block;
float:left;
position: relative;
top: 2px;
}

#custom-date-filter label {
width:50px;
}

#custom-date-filter-submit {
clear: both;
display: block;
width: 48px;
height:18px;
text-indent: -9999px;
background: url(../g/stats/dashboard-search.gif) no-repeat 0 0;
}

#custom-date-filter-submit:hover {
background-position: 0 -20px;
}



/* !table styles */
.stats-table, .compare-table, #details, #details-geo {
border-left: 1px solid #9a9a9a;
width: 560px;
margin-bottom: 15px;
}

/* !table captions */
.stats-table caption {
background: #777;
padding: 6px;
color: #fff;
border: 1px solid #9a9a9a;
}

.compare-table caption, #details caption, #details-geo caption {
display: none;
}

/* !table columns */
.table-channels-column1, .compare-table .column1, #details-geo .column1 {
width: 412px;
}

.table-channels-column2, .compare-table .column2, .no-header .visits, #details-geo .column2 {
width: 55px;
}

.table-channels-column3, .compare-table .column3, .no-header .unique-visits, #details-geo .column3 {
width: 93px;
}

#details .column1, #details .column2, #details .column3, #details .column4, #details .column5 {
width: 112px;
}

/* !table rows and headers */
.stats-table td, .stats-table th, .compare-table td, .compare-table th, #details td, #details th, #details-geo td, #details-geo th {
border-right: 1px solid #9a9a9a;
border-bottom: 1px solid #9a9a9a;
font-size: .9em;
}

.stats-table th, .compare-table th, #details th, #details-geo th {
font-weight: 700;
background: #ccc;
padding: 10px;
}

.stats-table td, .compare-table td, #details td, #details-geo td {
padding: 6px 10px;
}

.compare-table, #details, #details-geo {
border-top: 1px solid #9a9a9a;
}

.no-header thead {
display: none;
}

.compare-table .compare-table-options {
background:#bbb url(/g/stats/compare-table-options-background.jpg) repeat-x 0 0;
padding: 0;
}

.compare-table-options table {
width: 100%;
}

.compare-table-options td {
border: none;
}

.compare-table .compare-table-options {
font-size: 1em;
}

.compare-table .view-stats a {
padding: 3px 0 3px 30px;
background: url(/g/stats/stats.gif) no-repeat 6px 0px;
display: block;
width: 60px;
}

.compare-table .view-stats a:hover {
background-position: 6px -30px;
}

.compare-table .remove a {
padding: 3px 0 3px 10px;
background: url(/g/stats/remove.gif) no-repeat 3px 5px;
display: block;
width: 60px;
}

.compare-table .remove a:hover {
background-position: 3px -25px;
}

.view-stats, .watch-list, .compare, .remove {
width: 25%;
}

/* calender styling */
input.dashboard,select.dashboard {
width:80px;
background: none;
border: none;
cursor: default;
color: #000;
}

button.dashboard {
background:url(/g/stats/dashboard-icon.gif);
border:0;
cursor:pointer;
height:20px;
margin-right:10px;
width:20px;
}

button.dashboard:hover,button.dashboard.active {
background-position:0 20px;
}

div.dashboard {
background:url(/g/stats/dashboard.png);
height:175px;
text-align:center;
width:147px;
padding:0 12px;
}

div.dashboard * {
margin:0;
padding:0;
}

div.dashboard div {
background:none !important;
cursor:move;
height:165px;
overflow:hidden;
padding-top:10px;
position:relative;
width:147px;
}

div.dashboard caption {
color:#CF0;
font:normal 12px/17px Arial, Helvetica, sans-serif;
padding-top:4px;
text-align:center;
width:100%;
}

div.dashboard caption a {
cursor:pointer;
display:block;
height:11px;
overflow:hidden;
position:absolute;
text-indent:-100px;
top:16px;
width:11px;
}

div.dashboard caption a.prev {
background-image:url(/g/stats/dashboard-prev.gif);
left:1px;
}

div.dashboard caption a.next {
background-image:url(/g/stats/dashboard-next.gif);
right:1px;
}

div.dashboard caption a:hover {
background-position:0 11px;
}

div.dashboard caption span {
height:25px;
position:relative;
text-align:center;
}

div.dashboard caption span.month {
padding-right:8px;
}

div.dashboard caption span.month:after {
content:',';
}

div.dashboard table {
border:0;
border-collapse:collapse;
border-spacing:0;
cursor:default;
overflow:hidden;
width:147px;
margin:0 auto;
}

div.dashboard td,div.dashboard th {
border:0;
color:#999;
font:normal 12px Arial, Helvetica, sans-serif;
height:19px;
text-align:center;
width:21px;
}

div.dashboard td {
color:#333;
font-size:11px;
padding-right:5px;
text-align:right;
width:16px;
}

div.dashboard td.invalid {
color:#666;
}

div.dashboard td.valid {
color:#FFF;
cursor:pointer;
}

div.dashboard td.active,div.dashboard td.hover {
color:#CF0;
cursor:pointer;
}