/* ul-exh-decades-tabs */

.ul-exh-decades-tabs  {
    box-shadow: 0 0 7px #888888;
}

.ul-exh-decades-tabs li {
    border-bottom:none !important;
    background: #AAAAAA;
}

.ul-exh-decades-tabs li a {
    background-color:#d6d6d6;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d6d6d6, endColorstr=#cccccc);
    background-image:-moz-linear-gradient(top, #d6d6d6 0%, #cccccc 25%,#c2c2c2 100%);
    background-image:linear-gradient(top, #d6d6d6 0%, #cccccc 25%,#c2c2c2 100%);
    background-image:-webkit-linear-gradient(top, #d6d6d6 0%, #cccccc 25%,#c2c2c2 100%);
    background-image:-o-linear-gradient(top, #d6d6d6 0%, #cccccc 25%,#c2c2c2 100%);
    background-image:-ms-linear-gradient(top, #d6d6d6 0%, #cccccc 25%,#c2c2c2 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#d6d6d6), color-stop(25%,#cccccc),color-stop(100%,#c2c2c2));
}

.ul-exh-decades-tabs li.last {
}

.ul-exh-decades-tabs a.selected {
    background-color:#cfcfcf !important;
    border-bottom:none !important;
}

.ul-exh-decades-tabs a:hover {
    background:#fcfcfc;
}

/* end ul-exh-decades-tabs */

/* div-exhibitions-decades */

.div-exhibitions-decades {
    background: #cfcfcf;
    border-top:1px solid #AAAAAA;
    padding-top:7px;
    /*-moz-box-shadow: 0px 0px 7px rgb(136, 136, 136);*/
    -moz-box-shadow: 0px 0px 7px #AAAAAA;
    -webkit-box-shadow: 0px 0px 7px #AAAAAA;
    box-shadow: 0px 0px 7px #AAAAAA;
}

/* END div-exhibitions-decades */
