.ul-tabs  {
    margin-bottom:0 !important;
}

.ul-tabs li {
    float:left;  
    padding:1px 1px 0 0;
    display: inline-block;
    background-color: #AAAAAA;
    margin-bottom: -1px;
}

.ul-tabs li.last {
    /*padding-right:0;*/
}

.ul-tabs li.selected {
    padding-bottom:0 !important;
    border-bottom: none!important;
}

.ul-tabs li a {
    background-color:#efefef;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#efefef, endColorstr=#dddddd);
    background-image:-moz-linear-gradient(top, #efefef 0%, #dddddd 100%);
    background-image:-webkit-linear-gradient(top, #efefef 0%, #dddddd 100%);
    background-image:-ms-linear-gradient(top, #efefef 0%, #dddddd 100%);
    background-image:linear-gradient(top, #efefef 0%, #dddddd 100%);
    background-image:-o-linear-gradient(top, #efefef 0%, #dddddd 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#efefef), color-stop(100%,#dddddd));

    padding: 8px 9px;
    display:block;
    float:left;
    color:#000;
    min-width: 34px;
    text-align: center;
    transition:none !important;
}

.ul-tabs li a.last {
}

.ul-tabs a.selected, .ui-tabs-active a  {
    color:#000 !important;
    font-weight:700;
    background:#efefef !important;
    padding-bottom: 9px;
}

.ui-state-hover a.selected, .ui-tabs .ui-tabs-nav li.ui-state-hover {
    background:#AAAAAA !important;
}

.ui-tabs-active a {
    padding-bottom: 9px !important;
}

.ul-tabs a:hover, .ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-state-hover a {
    color:#000 !important;
    background:#fcfcfc;
}

.ui-tabs-active {

}

/* headline */

.div-tabs-headline {
    background: #EFEFEF;
    padding: 18px 12px;
    border-top:1px solid #AAAAAA;
}

.div-tabs-headline-border-bottom {
    border-bottom:1px solid #999;
}

/* END headline */
