.tool-tip {
    color: #fff;
    width: 250px;
    z-index: 13000;
    font-size:12px;
    z-index: 13000;
    
}
 
.tool-title {
    font:400 90% Verdana, Arial, Helvetica, sans-serif;
    border:1px solid #999;
    border-bottom:none;
    padding:8px 8px 5px; 
    background:#747474;
    display: none;
}

.tool-text {
    font:400 85% Verdana, Arial, Helvetica, sans-serif;
    border:1px solid #999;
    padding:8px;
    background:#747474;
    color:#fff;
}
