.tool-tip {
    color: #fff;
    width: 408px;
    z-index: 13000;
    font-size:12px;
    z-index: 13000;
    
}
 
.tool-title {
    font-weight: 700; 
    font-size: 13px;
    border:1px solid #999;
    border-bottom:none;
    padding:8px 8px 5px; 
    background:#747474;
}

.tool-text {
    border:1px solid #999;
    padding:8px;
    background:#ccc;
    color:#000;
}

