::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.div-videos {
    width: 677px;
    height:auto;
    padding: 0 14px 13px;
}

.div-videos-page {
    background:#efefef;
    padding:0 14px 14px 14px !important;
    margin-top:0;
}

.div-videos-page-with-header {
    padding-top: 14px;
}

.div-video {
    float:left;
    width:150px;
    margin:0;
    min-height:326px;
    border-left:1px solid #9b9b9b;
    border-bottom:1px solid #9b9b9b;
    overflow:hidden;
    padding:9px;
}

.div-videos .last {
    border-right:1px solid #9b9b9b;
}

.div-videos .first-line {
    border-top:1px solid #9b9b9b;
}

.div-video:hover {
    background:#fcfcfc;
}

.span-img-video-thumb {
    display:block;
    text-align:center;
}

.img-video-thumb {
    outline: thin solid #cbcbcb;
    width: 150px;
    height: auto;
}

.img-video-thumb-play {
    display:none;
}

.div-video:hover .img-video-thumb-play {
    margin-left: 57px;
    position: absolute;
    display:inline;
    margin-top: 30px;
}

.span-video-thumb-desc {
    display:block;
    text-align:left;
    margin-top: 16px;
}

.span-video-thumb-title-short {
    font-weight:700;
    display:block;
    margin-top:9px;
}

.span-video-thumb-name {
    display:block;
    margin-top: 12px;

}

.span-video-thumb-location {
    display: block;
    margin-top: 9px;
    overflow:hidden;
}

.span-video-thumb-category {
    display: block;
    color:#666;
}

.p-video-section-desc-text {
    padding:1px 0 24px 0 !important;
}

.div-right-side-info-box-videos {
    width: 160px !important;
    height: 134px !important;
}

.div-heading-picture-videos {
    width: 526px !important;
    height: 134px !important;
}

#tooltip-videos {
    text-indent:-9999px;
    background:  url(../g/base/icon_help.gif) no-repeat;
    position:absolute;
    display:block;
    height:16px;
    right: 36px !important;
    top: 52px !important;
    width:16px;
}

.tooltip-videos {

}

.div-right-side-info-box-videos #search-quotes p {
    padding-bottom: 9px !important;
    padding-top: 9px;
}

.p-right-side-search {
    font-weight:700;
    background: url("/g/search/triangle_top.png") no-repeat scroll 5px center transparent;
    padding: 4px 40px 4px 21px;
}

.div-right-side-block-last {
    border-bottom:none !important;
}

.p-section-title-videos {
    padding: 18px 14px 4px !important;
    background: #efefef !important;
}

/* detail view video */

#div-video-detail-content {
    background: none repeat scroll 0 0 #EFEFEF;
    box-shadow: 0 1px 12px #9B9B9B;
    padding: 16px 16px 23px;
    margin-bottom:20px;
    margin-top: 2px;
}

#div-video-detail-content video {
    border-top: 1px solid #686868;
    border-left: 1px solid #686868;
    border-right: 1px solid #686868;
    border-bottom: 1px solid #686868;
    background-color: #686868;
}

.p-video-detile-title {
    padding: 0 0 18px;
    font-weight:700;
    margin:0;
    font-size:15px;

}

.div-video-detail-subtitles-srt {
    max-width:632px;
    width:100%;
    height:38px;
    /*padding:14px 40px 16px 40px;*/
    color:#efefef;
    text-align:center;
    /*letter-spacing: 0.05ex;*/
    /*font: 100 14px/18px Arial,Helvetica,sans-serif;*/
    background:#7E7E7E;
    border-bottom: 1px solid #686868;
    border-left: 1px solid #686868;
    border-right: 1px solid #686868;
    margin-top: -3px;
    padding: 9px 40px 22px 0;
    font: normal 14px/22px Verdana,Arial,Helvetica,sans-serif;
    text-shadow: 0px 0px 4px rgb(60,60,60);
    letter-spacing: -0.01em;

}

.div-video-detail-subtitles-srt-hide {
    display:none;
}

.div-subtitles-choose {
    float:right;
    margin-top:-20px;
}

.a-subtitles-button {
    height:16px;
    display:block;
    background: url(/g/videos/subtitles-button.png) no-repeat left top;
    padding-left:31px;
    cursor:pointer;
}

.a-subtitles-button:hover {
}

.div-subtitles-list-bg {
    display:none;
    z-index:9999;
    position:absolute;
    background: url(/g/videos/subtitles-box-bg.png) repeat-x left bottom;
    margin-left: -40px;
    margin-top: -73px;
    padding-bottom: 8px;
}

.div-subtitles-list-bg-show {
    display:block !important;
}

.ul-subtitles-list {
    width:101px;
    background: #efefef;
    border-top:1px solid #a6a6a6;
    border-left:1px solid #a6a6a6;
    border-right:1px solid #a6a6a6;
    text-align:center;
    padding:11px 0;
    margin:0 !important;
    -moz-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    -webkit-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    box-shadow: 0px 1px 12px rgb(155, 155, 155);
}

.ul-subtitles-list li {
    padding:1px 0;
}

.ul-subtitles-list a {
    display:block;
    width:100px;
    padding:1px 0 2px;
    cursor:pointer;
    color:#373737;

}

.ul-subtitles-list a:hover {
    background:#fcfcfc;
    color:#373737 !important;
    -moz-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    -webkit-box-shadow: 0px 1px 12px rgb(155, 155, 155);
    box-shadow: 0px 1px 12px rgb(155, 155, 155);
}

.ul-subtitles-list a.selected {
    font-weight:700;
}

.div-video-detail-info {

}

.p-video-detail-title-year-etc {
    padding-top: 23px;
}

.span-video-info-year, .span-video-info-name, .span-video-info-time  {
    padding-right: 23px;
}

div.warning {
    position:relative;
    width:531px;
    padding:10px 10px 10px 10px;
    background:#eecc00;
    text-align:center;
    font: normal 12px/17px Arial,Helvetica;
    margin:0px 0px 0px 0px;
}

div.warning_close {
    position:absolute;
    left:100%;
    top:50%;
    margin:-6px 0px 0px -24px;
    height:12px;
    width:12px;
    border:1px solid #aa9900;
    color:#996600;
    overflow:hidden;
    background:#ddbb00;
    cursor:pointer;
    font: normal 10px/10px Arial,Helvetica;
    text-align:center;
}

#flashContent {
    padding:7px;
    width:544px;
    height:304px;
    overflow:hidden;
}

/* END detail view video */

/*--- div-video-tabs ---*/

.div-tab-vid-paint {
    overflow: auto;
    margin-top: 1px;
}

.div-tab-vid-paint #div-thumbs {
    min-height: 290px;
}

.div-video-paint-thumbs {
    min-height: 280px;
}

/*
.div-tab-vid-paint .div-thumb {
    float: left !important;
    position: relative !important;
    width: 124px !important;
    padding: 15px 29px 0 28px !important;
}
*/

.div-video-paint-thumbs div .img-thumb {
    padding:2px;
    border:1px solid #999;
    margin-bottom:8px;
}

.div-video-paint-thumbs div a {
    font-weight:300;
}

.div-video-paint-thumbs div .img-thumb:hover {
    border:1px solid #666;
}


/*--- END div-video-tabs ---*/
