/*
// | zoom.css
// | 
// | Description: css file for zoom image view with mouse and touch events 
// | Author: Eric Kuhnert
// | Date: 2012-01-11
// | 
*/

.zoom {
	position: relative;
	width: 500px;
	height: 500px;
	border: 1px solid grey;
	background: rgb(200, 200, 200);
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.zoom > div:first-child {
	position: absolute;
	width: 500px;
	height: 500px;
	overflow: hidden;
}

.zoom_noanim {
	-moz-transition-property:none;  
	-webkit-transition-property:none;  
	-o-transition-property: none;  
}


.zoom_anim {
	-moz-transition-property:background-size, background-position;  
	-moz-transition-duration: 300ms, 300ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property:background-size, background-position;  
	-webkit-transition-duration: 300ms, 300ms;
	-webkit-transition-timing-function: ease;				
	-o-transition-property: background-size, background-position;  
	-o-transition-duration: 300ms, 300ms;
	-o-transition-timing-function: ease;				
}

.zoom_500 {
	background-size: 500px 500px;
	background-position: 0px 0px;
}

.zoom_2500 {
	background-size: 2500px 2500px;
	background-position: 0px 0px;
}

.zoom div p {
	position: absolute;
	left: 0px;
	width: 500px;
	height: 40px;
	background: rgba(255,255,255,.8);
	color: rgb(80, 80, 80);
	text-align: center;
	text-transform: uppercase;
	font: normal 11px/27px Verdana,Arial,Helvetica,_sans;
	cursor: default;
	-moz-transition-property: top;  
	-moz-transition-duration: 1000ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: top;  
	-webkit-transition-duration: 1000ms;
	-webkit-transition-timing-function: ease;
	-o-transition-property: top;  
	-o-transition-duration: 1000ms;
	-o-transition-timing-function: ease;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.zoom_info_visible {
	top: 460px;
}

.zoom_info_hidden {
	top: 500px;
}

.zoom_navigator {
	position: absolute;
	top: 450px;
	left: 510px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,.1);
}

.zoom_navigator > div:first-child {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,.3);
	-moz-transition-property: top, left, width, height;  
	-moz-transition-duration: 300ms, 300ms, 300ms, 300ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: top, left, width, height;  
	-webkit-transition-duration: 300ms, 300ms, 300ms, 300ms;
	-webkit-transition-timing-function: ease;
	-o-transition-property: top, left, width, height;  
	-o-transition-duration: 300ms, 300ms, 300ms, 300ms;
	-o-transition-timing-function: ease;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.zoom_navigator > div.zoom_navigator_sensor {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	background: rgba(255,255,255,.3);
}