/*!
	|	CSS
	|	main.mobile.js
	|	Eric Kuhnert
	|	Cascading Style Sheets (Mobile)
	|	Version 0.15.09.09
*/

body, html {
	padding: 0px;
	margin: 0px;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
}

.hidden {
	display: none !important;
}

.ui-loader {
	display: none;
}


@media all and (max-width: 959px) and (min-width: 300px) {

	body {
/*		font-family: oswaldlight;*/
		background: rgb(240, 240, 240);
	}

	/*   |   HEADER   = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

	header {
		display: block;
		position: fixed;
		width: 100%;
		height: 50px;
		top: 0px;
		left: 0px;
		background: rgb(120, 120, 120) url('../pic/ric_rwd_header_bg.jpg') top right;
		padding: 0px;
		z-index: 10000;
	}

	/*   |   HEADER-LOGO  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

	a.header_logo	{
		display: block;
		padding: 12px 13px 13px 13px;
		font-size: 24px;
		line-height: 24px;
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(255, 255, 255);

	}


	/*   |   SITE-LANG  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

	#site-lang-desktop {
	}

	#site-lang-mobile {
	}

	#site-lang {
		display: block;
		position: relative;
		margin: 0px 0px 33px 0px;
		padding: 0px 0px 0px 0px;
	}

	#site-lang a.caption {
		display: block;
		position: relative;
		margin: 0px 13px 0px 13px;
		padding: 8px 13px 8px 13px;
		border: 1px solid rgb(255, 255, 255);
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-transform: uppercase;
		text-decoration: none;
		color: rgb( 255, 255, 255);
		background: transparent url('../pic/ric_rwd_menu_lang_arrow.png') no-repeat right top;
		background-size: 40px 40px;
	}

	#site-lang ul {
		display: block;
		position: absolute;
		top: 40px;
		left: 0px;
		list-style-type: none;
		margin: 0px 13px 0px 13px;
		padding: 8px 0px 8px 0px;
		font-size: 0px;
		line-height: 0px;
		border: 1px solid rgb(255, 255, 255);
		z-index: 1000;
		background: rgb(45, 45, 45);
		box-shadow: 0px 8px 13px rgb(45, 45, 45);
	}

	#site-lang ul li {
		display: block;
		margin: 0px 0px 0px 0px;
		padding: 0px;
		height: 40px;
		float: none;
	}

	#site-lang ul li.selected {
		display: none;
	}

	#site-lang ul li a {
		display: block;
		margin: 0px;
		padding: 8px 13px 8px 13px;
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-transform: uppercase;
		text-decoration: none;
		color: rgb( 255, 255, 255);
		cursor: pointer;
		overflow: hidden;
	}

	#site-lang ul li a:active {
		background: rgb(66, 66, 66);
	}


	/*   |   SITE-SEARCH  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

	#site-search-btn {
		display: block;
		position: fixed;
		width: 40px;
		height: 50px;
		top: 0px;
		left: 100%;
		margin-left: -81px;
		padding: 0px;
		background: transparent url('../pic/ric_rwd_header_icons.png') left top;
		background-size: 240px 100px;
		cursor: pointer;
		transition: background-color ease 200ms;
	}

	#site-search-btn.selected,
	#site-search-btn:active {
		background-color: rgb(45, 45, 45);
	}

	#site-search {
		display: block;
		position: absolute;
		width: 100%;
		height: auto;
		top: 50px;
		left: 0px;
		background: rgb(45, 45, 45);
		overflow: hidden;
	}

	#site-search div.content {
		display: block;
		position: relative;
		margin: 33px 0px 0px 0px;
		overflow: scroll;
		width: 100%;
		height: 500px;
	}

	#site-search div.content input, #form-right-search-mobile input[type="submit"], #form-right-search-mobile input[type="button"] {
		display: inline-block;
		position: relative;
		margin: 0px 13px 13px 13px;
		padding: 8px 13px 8px 13px;
		border: 1px solid rgb(255, 255, 255);
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-decoration: none;
		color: rgb( 255, 255, 255);
		background-color: transparent;
		transition: background-color ease 200ms;
		text-transform: uppercase;
	}

	#size-height-min-mobile, #size-width-min-mobile {
		margin: 0 10px 13px 13px !important;
	}

	#form-right-search-mobile input[type="button"] {
		border-width: 2px !important;
		margin-right: 12px !important;
	}

	#form-right-search-mobile .selectboxit {
	    margin-left: 13px;
	    margin-bottom: 13px;
	}

	#form-right-search-mobile .selectboxit-container .selectboxit-options {
		margin-left: 13px;
	}

	#artworkid_art-mobileSelectBoxItOptions, #books_catid_book-mobileSelectBoxItOptions, #articles_catid_articles-mobileSelectBoxItOptions {
		margin-top: -13px;
	}

	#site-search div.content input:first-child:focus, #form-right-search-mobile input[type="submit"]:focus, #form-right-search-mobile input[type="button"]:focus {
		background-color: rgb(90, 90 , 90);
	}

	#form-right-search-mobile .selectboxit-container span, #form-right-search-mobile .selectboxit-container .selectboxit-options a {
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-decoration: none;
		color: rgb( 255, 255, 255);
		text-transform: uppercase;
	}

	#form-right-search-mobile .select-field {
		background-color: transparent;
		padding: 8px 13px 8px 13px;
		border: 1px solid rgb(255, 255, 255);
		transition: background-color ease 200ms;
	}

	#form-right-search-mobile .select-field .selectboxit-text {
	    padding: 0 !important;
	    text-indent: 0 !important;
	}

	#artworkid_art-mobileSelectBoxItText, #colorid_art-mobileSelectBoxItText, #books_catid_book-mobileSelectBoxItText, #languageid_book-mobileSelectBoxItText, #articles_catid_articles-mobileSelectBoxItText, #languageid_articles-mobileSelectBoxItText {
		max-width: 250px !important;
	}

	#year-from-mobileSelectBoxItContainer .selectboxit-text {
		max-width: 50px !important;
	}

	#year-from-mobileSelectBoxItContainer .selectboxit-text, #year-to-mobileSelectBoxItContainer .selectboxit-text {
		max-width: 70px !important;
	}

	#form-right-search-mobile .selectboxit-list {
		background-color: #000 !important;
	}

	#form-right-search-mobile .selectboxit-list .selectboxit-option-anchor:hover {
		color: #000 !important;
	}

	#form-right-search-mobile .select-field .selectboxit-default-arrow {
		background: transparent url('/g/mobile/select_fields_arrow_dows.png') no-repeat right top !important;
	}

	#form-right-search-mobile input[type="submit"] {
		margin-left: 0 !important;
		background: #fff !important;
		color: rgb( 0, 0, 0) !important;
	}

	#form-right-search-mobile input[type="submit"], #form-right-search-mobile input[type="button"] {
		text-transform: uppercase;
	}

	#size-height-max-mobile, #size-width-max-mobile {
		margin-left: 0 !important;
	}

	#site-search div.content form[id='form-basic-search-top-mobile'] input[type='submit'] {
		display: block;
		position: absolute;
		width: 40px;
		height: 40px;
		top: 0px;
		left: 100%;
		margin: 0px 0px 0px -53px;
		background: transparent url('../pic/ric_rwd_site-search_submit_bg.png') no-repeat left top;
		background-size: 40px 40px;
		border: none;
	}

	#site-search ul[data-nav-type="main"] {
		display: block;
		position: relative;
		margin: 33px 0px 33px 0px;
		padding: 0px;
		list-style-type: none;
		border-top: 1px solid rgb(255, 255, 255);
		border-bottom: 1px solid rgb(255, 255, 255);
	}

	/*#site-search ul[data-nav-type="main"] li {*/
	#site-search .main-nav-li, #site-search .main-nav-sub-li {
		display: block;
		position: relative;
		background: transparent url('../pic/ric_rwd_header_menu_ul_li_bg.png') repeat-y top right;
		overflow: hidden;
		height: 50px;
		transition: height ease 150ms;
		float: none;
	}

	/*#site-search ul[data-nav-type="main"] li + li {*/
	#site-search .main-nav-li + li, #site-search .main-nav-sub-li + li {
		border-top: 1px solid rgb(255, 255, 255);
	}

	#site-search ul[data-nav-type="main"] li.expanded {

	}

	#site-search a.section {
		display: block;
		position: relative;
		margin: 0px;
		padding: 13px 13px 13px 13px;
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-decoration: none;
		text-transform: uppercase;
		//background: transparent url('../pic/ric_rwd_header_icons.png') no-repeat right -50px;
		color: rgb(255, 255, 255);
		transition: background-color ease 150ms;
	}

	#site-search ul[data-nav-type="main"] a.expand {
		display: block;
		position: absolute;
		padding: 0px;
		width: 40px;
		height: 50px;
		left: 100%;
		top: 0px;
		margin: 0px 0px 0px -40px;
		outline: none;
		border: none;
		background: transparent url('../pic/ric_rwd_header_icons.png') no-repeat -80px top;
		background-size: 240px 100px;
	}

	#site-search ul[data-nav-type="main"] li.expanded a.expand {
		background-position: -120px top;
	}


	/*   |   SITE-NAVIGATION    . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

	#site-navigation-btn {
		display: block;
		position: fixed;
		width: 40px;
		height: 50px;
		top: 0px;
		left: 100%;
		margin-left: -40px;
		padding: 0px;
		background: transparent url('../pic/ric_rwd_header_icons.png') -40px top;
		background-size: 240px 100px;
		cursor: pointer;
		transition: background-color ease 200ms;
	}

	#site-navigation-btn.selected,
	#site-navigation-btn:active {
		background-color: rgb(45, 45, 45);
	}

	#site-navigation {
		display: block;
		position: absolute;
		width: 100%;
		height: auto;
		top: 50px;
		left: 0px;
		background: rgb(45, 45, 45);
		overflow: hidden;
	}

	#site-navigation div.content {
		display: block;
		position: relative;
		margin: 33px 0px 0px 0px;
		overflow: scroll;
		width: 100%;
		height: 500px;
	}

	#site-navigation ul[data-nav-type="main"] {
		display: block;
		position: relative;
		margin: 0px 0px 33px 0px;
		padding: 0px;
		list-style-type: none;
		border-top: 1px solid rgb(255, 255, 255);
		border-bottom: 1px solid rgb(255, 255, 255);
	}

	#site-navigation ul[data-nav-type="main"] li {
		display: block;
		position: relative;
		background: transparent url('../pic/ric_rwd_header_menu_ul_li_bg.png') repeat-y top right;
		overflow: hidden;
		height: 50px;
		transition: height ease 150ms;
		float: none;
	}

	#site-navigation ul[data-nav-type="main"] li + li {
		border-top: 1px solid rgb(255, 255, 255);
	}

	#site-navigation ul[data-nav-type="main"] li.expanded {
	}

	#site-navigation a.section {
		display: block;
		position: relative;
		margin: 0px;
		padding: 13px 13px 13px 13px;
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-decoration: none;
		text-transform: uppercase;
		background: transparent url('../pic/ric_rwd_header_icons.png') no-repeat right -50px;
		background-size: 240px 100px;
		color: rgb(255, 255, 255);
		transition: background-color ease 150ms;
	}

	#site-navigation a.section:active {
		background-color: rgba(255, 255, 255, .08);
	}

	#site-navigation ul[data-nav-type="main"] a.expand {
		display: block;
		position: absolute;
		padding: 0px;
		width: 40px;
		height: 50px;
		left: 100%;
		top: 0px;
		margin: 0px 0px 0px -40px;
		outline: none;
		border: none;
		background: transparent url('../pic/ric_rwd_header_icons.png') no-repeat -80px top;
		background-size: 240px 100px;
	}

	#site-navigation ul[data-nav-type="main"] li.expanded a.expand {
		background-position: -120px top;
	}

	#site-navigation ul[data-nav-type="sub"] {
		list-style-type: none;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 15px 0px;
	}

	#site-navigation ul[data-nav-type="sub"] li {
		display: block;
	}

	#site-navigation ul[data-nav-type="sub"] li + li {
		border-top: none;
	}

	#site-navigation ul[data-nav-type="sub"] a.section {
		font: normal 16px/24px "Univers LT Std 47 Light Condensed";
		letter-spacing: 0.03em;
		padding-left: 26px;
		outline: none;
		border: none;
		color: rgb(230, 230, 230);
	}

	#site-navigation .li-sub-sub {
		padding-left: 20px !important;
	}

	/*   |   SECTIONS   = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

	section {
		padding: 30px 13px 30px 13px;
	}

	section + section {
		border-top: 1px solid rgb(120, 120, 120);
	}

	section.header {
		margin: 50px 0px 0px 0px;
		padding: 0px;
		height: 0px;
	}

	section.keyvisual {
		padding: 1px 0px 0px 0px;
	}

	section.introduction {
		padding: 30px 13px 30px 13px;
	}


	/*   |   H1   . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

	section h1 {
		position: relative;
		padding: 0px;
		margin: 0px;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
	}

	section h2 + h1,
	section h3 + h1,
	section p + h1 {
		margin-top: 24px;
	}


	/*   |   P  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

	section p {
		padding: 0px;
		margin: 0px;
		font-size: 13px;
		line-height: 24px;
	}

	section h1 + p,
	section h2 + p,
	section h3 + p {
		margin-top: 12px;
	}


	/*   |   COLLAGE  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */



	#main .collage {
		width: 100%;
		height: 250px;
		background-color: rgb(60, 60, 60);
		overflow: hidden;
	}

	#main .collage .container {

	}

	#main .collage a {
		display: block;
		position: absolute;
		width: 100%;
		height: 250px;
		z-index: 1;
	}

	#main .collage a.selected {
		z-index: 2;
	}


	#main .collage a .img {
		width: 100%;
		height: 250px;
	}

	#main .collage .information {
		display: block;
		position: absolute;
		top: 175px;
		left: 0px;
		width: 320px;
		height: 75px;
		background: rgba(230, 230, 230, .5) url("/g/h1-section.png") repeat-y left top;
		background-size: 100% auto;
		z-index: 9999;
	}

	#main .collage .information span.title {
		display: block;
		padding-top: 12px;
		font: normal 16px/24px "Univers LT Std 57 Condensed";
		text-align: center;
	}

	#main .collage .information span.data {
		display: block;
		font: normal 16px/24px "Univers LT Std 47 Light Condensed";
		text-align: center;
	}

	#main .collage .information button.prev {
		position: absolute;
		display: block;
		border: none;
		outline: none;
		left: 0px;
		top: 0px;
		height: 75px;
		width: 50px;
		background: transparent url("/g/mobile/home/arrow-left.png") no-repeat center center;
		cursor: pointer;
	}

	#main .collage .information button.next {
		position: absolute;
		display: block;
		border: none;
		outline: none;
		left: 100%;
		top: 0px;
		height: 75px;
		width: 50px;
		margin-left: -50px;
		background: transparent url("/g/mobile/home/arrow-right.png") no-repeat center center;
		cursor: pointer;
	}

	a.share {
		display: inline-block;
		position: absolute;
		left: 100%;
		margin: -7px 0px 0px -30px;
		width: 40px;
		height: 40px;
		background: transparent url("../pic/ric_rwd_shareicon.png") no-repeat center center;
	}

	/*   |   FOOTER   = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


}
