/*!
	|	CSS
	|	main.fonts.js
	|	Eric Kuhnert
	|	Cascading Style Sheets (Fonts)
	|	Version 0.15.09.09
*/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=71b18f7f-6aee-4c63-811b-fe670ab2e87b");

@font-face{
	font-family:"Univers LT Std 45 Light";
	src:url("../fnt/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix");
	src:url("../fnt/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix") format("eot"),url("../fnt/9fa24f1f-00d8-4d28-910f-78e925eaead6.woff2") format("woff2"),url("../fnt/d64e7bbc-e9ea-46ad-982c-6195ae4a3c61.woff") format("woff"),url("../fnt/d270a34d-b6b8-4c07-8454-03a6a3db7603.ttf") format("truetype"),url("../fnt/b2ea19ff-0237-4d94-a107-eaa12af161ef.svg#b2ea19ff-0237-4d94-a107-eaa12af161ef") format("svg");
}

@font-face{
	font-family:"Univers LT Std 55";
	src:url("../fnt/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
	src:url("../fnt/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),url("../fnt/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("../fnt/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),url("../fnt/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype"),url("../fnt/bd04ae3d-23dc-4975-9967-e21c43e5b59f.svg#bd04ae3d-23dc-4975-9967-e21c43e5b59f") format("svg");
}

@font-face{
	font-family:"Univers LT Std 65 Bold";
	src:url("../fnt/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix");
	src:url("../fnt/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix") format("eot"),url("../fnt/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2") format("woff2"),url("../fnt/05a79c4b-9e9d-46e4-9d4b-610be05371c4.woff") format("woff"),url("../fnt/4e00405b-a96d-4972-bdff-2d55e1066c45.ttf") format("truetype"),url("../fnt/1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e.svg#1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e") format("svg");
}

@font-face{
	font-family:"Univers LT Std 75 Black";
	src:url("../fnt/e5fb72ca-12c4-49f5-9253-653474f25a27.eot?#iefix");
	src:url("../fnt/e5fb72ca-12c4-49f5-9253-653474f25a27.eot?#iefix") format("eot"),url("../fnt/9d846738-13de-43dd-a3f2-ff53924f926c.woff2") format("woff2"),url("../fnt/ea880276-dfca-4a2a-a7ce-3d597e85112a.woff") format("woff"),url("../fnt/a0361fe2-856b-41d4-a5e3-e87579315974.ttf") format("truetype"),url("../fnt/402203c8-9b56-4ded-8eb9-f5cf92a95713.svg#402203c8-9b56-4ded-8eb9-f5cf92a95713") format("svg");
}

@font-face{
	font-family:"Univers LT Std 47 Light Condensed";
	src:url("../fnt/30d23194-f646-428e-9323-c85f8aea47ed.eot?#iefix");
	src:url("../fnt/30d23194-f646-428e-9323-c85f8aea47ed.eot?#iefix") format("eot"),url("../fnt/58c01d2a-ce4a-4360-a61f-761e91aa67c0.woff2") format("woff2"),url("../fnt/ccd9698a-60c5-48f7-acbe-5352b4aa81d4.woff") format("woff"),url("../fnt/ba8ec1ac-e90e-4cea-bda8-85f718fb8fd0.ttf") format("truetype"),url("../fnt/5e991f15-a051-4a36-b07e-660ad0a9fcd7.svg#5e991f15-a051-4a36-b07e-660ad0a9fcd7") format("svg");
}

@font-face{
	font-family:"Univers LT Std 57 Condensed";
	src:url("../fnt/4a916908-f6f7-4df6-90a1-176fb83137d9.eot?#iefix");
	src:url("../fnt/4a916908-f6f7-4df6-90a1-176fb83137d9.eot?#iefix") format("eot"),url("../fnt/bf8f8741-5f64-4db9-a877-a44624092e68.woff2") format("woff2"),url("../fnt/7ce02c2c-45d4-4dee-90f2-f8034e29ac24.woff") format("woff"),url("../fnt/0955c906-88fc-47e8-8ea2-0765bdf88050.ttf") format("truetype"),url("../fnt/2fec7d2f-9df6-445b-8d59-892ed9b8ab56.svg#2fec7d2f-9df6-445b-8d59-892ed9b8ab56") format("svg");
}

@font-face{
	font-family:"Univers LT Std 67 Bold Condensed";
	src:url("../fnt/7815db54-3fc9-46f7-a082-a7db4c26b44d.eot?#iefix");
	src:url("../fnt/7815db54-3fc9-46f7-a082-a7db4c26b44d.eot?#iefix") format("eot"),url("../fnt/3bdb4597-ff70-447c-8620-8836686bf840.woff2") format("woff2"),url("../fnt/5599ac9f-d136-4277-aeee-f82aac5d527f.woff") format("woff"),url("../fnt/ae81ec98-60d0-408d-960f-8c3f9f74e6c7.ttf") format("truetype"),url("../fnt/6a2c8943-c768-4f87-8d9d-0b70a871e8fe.svg#6a2c8943-c768-4f87-8d9d-0b70a871e8fe") format("svg");
}

@font-face{
	font-family:"Univers LT Std 39 Thin Ultra Condensed";
	src:url("../fnt/2ddbcfcb-e513-49c4-b2b2-81171ebaec14.eot?#iefix");
	src:url("../fnt/2ddbcfcb-e513-49c4-b2b2-81171ebaec14.eot?#iefix") format("eot"),url("../fnt/ee0bcf37-ef39-4e15-8656-26f0094ce91e.woff2") format("woff2"),url("../fnt/bb114ead-d947-4913-884f-b772259d8dd4.woff") format("woff"),url("../fnt/f7201343-c51c-4478-8ba8-f88c2bc34bdb.ttf") format("truetype"),url("../fnt/16358bc1-1241-4674-8580-504fea21c352.svg#16358bc1-1241-4674-8580-504fea21c352") format("svg");
}

@font-face{
	font-family:"Univers LT Std 63 Bold Extended";
	src:url("../fnt/06910c6d-79cf-4428-8f2e-99b2fd185015.eot?#iefix");
	src:url("../fnt/06910c6d-79cf-4428-8f2e-99b2fd185015.eot?#iefix") format("eot"),url("../fnt/215be6ba-8f98-4b15-85a3-7ae5a600566d.woff2") format("woff2"),url("../fnt/cc5c55d9-a704-4fcb-bebb-cf89ecfbc600.woff") format("woff"),url("../fnt/f4cafd45-557b-490e-8bd4-39e334d35f48.ttf") format("truetype"),url("../fnt/5e36bf93-f02f-4688-a8ce-aa35fd73ba84.svg#5e36bf93-f02f-4688-a8ce-aa35fd73ba84") format("svg");
}

@font-face{
font-family:"Univers LT Std 73 Black Extended";
	src:url("../fnt/086f21b9-5ccd-43da-a9d6-f2974656de07.eot?#iefix");
	src:url("../fnt/086f21b9-5ccd-43da-a9d6-f2974656de07.eot?#iefix") format("eot"),url("../fnt/432c8ae9-5371-4df8-86c1-e7c396a8a4fc.woff2") format("woff2"),url("../fnt/e2f29f24-5594-4d53-a94c-d72f13f30bea.woff") format("woff"),url("../fnt/a7fd9d04-9b53-4ff9-b091-5a97f029fe0f.ttf") format("truetype"),url("../fnt/1dd4337f-183b-47ca-a6c7-d717052b9bbd.svg#1dd4337f-183b-47ca-a6c7-d717052b9bbd") format("svg");
}

.u37	{ font-family: 'Univers LT Std 37 Thin Condensed'; font-style: normal; }
.u39	{ font-family: 'Univers LT Std 39 Thin Ultra Condensed'; font-style: normal; }

.u45	{ font-family: 'Univers LT Std 45 Light'; font-style: normal; }
.u45i	{ font-family: 'Univers LT Std 45 Light'; font-style: italic; }
.u47	{ font-family: 'Univers LT Std 47 Light Condensed'; font-style: normal; }
.u47i	{ font-family: 'Univers LT Std 47 Light Condensed'; font-style: italic; }
.u49	{ font-family: 'Univers LT Std 49 Light Ultra Condensed'; font-style: normal; }

.u53i	{ font-family: 'Univers LT Std 53 Extended'; font-style: italic; }
.u55	{ font-family: 'Univers LT Std 55'; font-style: normal; }
.u55i	{ font-family: 'Univers LT Std 55'; font-style: italic; }
.u57	{ font-family: 'Univers LT Std 57 Condensed'; font-style: normal; !important; }
.u57i	{ font-family: 'Univers LT Std 57 Condensed'; font-style: italic; }
.u59	{ font-family: 'Univers LT Std 59 Ultra Condensed'; font-style: normal; }

.u63	{ font-family: 'Univers LT Std 63 Bold Extended'; font-style: normal; }
.u63i	{ font-family: 'Univers LT Std 63 Bold Extended'; font-style: italic; }
.u65	{ font-family: 'Univers LT Std 65 Bold'; font-style: normal; }
.u65i	{ font-family: 'Univers LT Std 65 Bold'; font-style: italic; }
.u67	{ font-family: 'Univers LT Std 67 Bold Condensed'; font-style: normal; }
.u67i	{ font-family: 'Univers LT Std 67 Bold Condensed'; font-style: italic; }

.u73	{ font-family: 'Univers LT Std 73 Black Extended'; font-style: normal; }
.u73i	{ font-family: 'Univers LT Std 73 Black Extended'; font-style: italic; }
.u75	{ font-family: 'Univers LT Std 75 Black'; font-style: normal; }
.u75i	{ font-family: 'Univers LT Std 75 Black'; font-style: italic; }

.u83	{ font-family: 'Univers LT Std 83 Extra Black Extended'; font-style: normal; }
.u83i	{ font-family: 'Univers LT Std 83 Extra Black Extended'; font-style: italic; }
.u85	{ font-family: 'Univers LT Std 85 Extra Black'; font-style: normal; }
.u85i	{ font-family: 'Univers LT Std 85 Extra Black'; font-style: italic; }

/*
    @font-face{
        font-family:"LinotypeUniversW02-Thin_726091";
        src:url("Fonts/5e4c2718-5562-4fdb-be12-4e74811b2c58.eot?#iefix");
        src:url("Fonts/5e4c2718-5562-4fdb-be12-4e74811b2c58.eot?#iefix") format("eot"),url("Fonts/ceb42b8c-86fd-4d71-8935-05fde3aaf9f4.woff2") format("woff2"),url("Fonts/24684329-57eb-4928-8f6c-20d159c64b5c.woff") format("woff"),url("Fonts/17ed02dc-83df-48d8-b09b-4390af1a4538.ttf") format("truetype"),url("Fonts/6bb34c80-2959-4fcd-89d8-7ec709ba6f66.svg#6bb34c80-2959-4fcd-89d8-7ec709ba6f66") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_45 Light1475944";
        src:url("Fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix");
        src:url("Fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix") format("eot"),url("Fonts/9fa24f1f-00d8-4d28-910f-78e925eaead6.woff2") format("woff2"),url("Fonts/d64e7bbc-e9ea-46ad-982c-6195ae4a3c61.woff") format("woff"),url("Fonts/d270a34d-b6b8-4c07-8454-03a6a3db7603.ttf") format("truetype"),url("Fonts/b2ea19ff-0237-4d94-a107-eaa12af161ef.svg#b2ea19ff-0237-4d94-a107-eaa12af161ef") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_55 Roman1475956";
        src:url("Fonts/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
        src:url("Fonts/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),url("Fonts/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("Fonts/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),url("Fonts/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype"),url("Fonts/bd04ae3d-23dc-4975-9967-e21c43e5b59f.svg#bd04ae3d-23dc-4975-9967-e21c43e5b59f") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_65 Bold1475968";
        src:url("Fonts/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix");
        src:url("Fonts/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix") format("eot"),url("Fonts/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2") format("woff2"),url("Fonts/05a79c4b-9e9d-46e4-9d4b-610be05371c4.woff") format("woff"),url("Fonts/4e00405b-a96d-4972-bdff-2d55e1066c45.ttf") format("truetype"),url("Fonts/1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e.svg#1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_75 Black1475980";
        src:url("Fonts/e5fb72ca-12c4-49f5-9253-653474f25a27.eot?#iefix");
        src:url("Fonts/e5fb72ca-12c4-49f5-9253-653474f25a27.eot?#iefix") format("eot"),url("Fonts/9d846738-13de-43dd-a3f2-ff53924f926c.woff2") format("woff2"),url("Fonts/ea880276-dfca-4a2a-a7ce-3d597e85112a.woff") format("woff"),url("Fonts/a0361fe2-856b-41d4-a5e3-e87579315974.ttf") format("truetype"),url("Fonts/402203c8-9b56-4ded-8eb9-f5cf92a95713.svg#402203c8-9b56-4ded-8eb9-f5cf92a95713") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_47 Light1475998";
        src:url("Fonts/30d23194-f646-428e-9323-c85f8aea47ed.eot?#iefix");
        src:url("Fonts/30d23194-f646-428e-9323-c85f8aea47ed.eot?#iefix") format("eot"),url("Fonts/58c01d2a-ce4a-4360-a61f-761e91aa67c0.woff2") format("woff2"),url("Fonts/ccd9698a-60c5-48f7-acbe-5352b4aa81d4.woff") format("woff"),url("Fonts/ba8ec1ac-e90e-4cea-bda8-85f718fb8fd0.ttf") format("truetype"),url("Fonts/5e991f15-a051-4a36-b07e-660ad0a9fcd7.svg#5e991f15-a051-4a36-b07e-660ad0a9fcd7") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_57 Condensed";
        src:url("Fonts/4a916908-f6f7-4df6-90a1-176fb83137d9.eot?#iefix");
        src:url("Fonts/4a916908-f6f7-4df6-90a1-176fb83137d9.eot?#iefix") format("eot"),url("Fonts/bf8f8741-5f64-4db9-a877-a44624092e68.woff2") format("woff2"),url("Fonts/7ce02c2c-45d4-4dee-90f2-f8034e29ac24.woff") format("woff"),url("Fonts/0955c906-88fc-47e8-8ea2-0765bdf88050.ttf") format("truetype"),url("Fonts/2fec7d2f-9df6-445b-8d59-892ed9b8ab56.svg#2fec7d2f-9df6-445b-8d59-892ed9b8ab56") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_67 Bold_1476016";
        src:url("Fonts/7815db54-3fc9-46f7-a082-a7db4c26b44d.eot?#iefix");
        src:url("Fonts/7815db54-3fc9-46f7-a082-a7db4c26b44d.eot?#iefix") format("eot"),url("Fonts/3bdb4597-ff70-447c-8620-8836686bf840.woff2") format("woff2"),url("Fonts/5599ac9f-d136-4277-aeee-f82aac5d527f.woff") format("woff"),url("Fonts/ae81ec98-60d0-408d-960f-8c3f9f74e6c7.ttf") format("truetype"),url("Fonts/6a2c8943-c768-4f87-8d9d-0b70a871e8fe.svg#6a2c8943-c768-4f87-8d9d-0b70a871e8fe") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_39 Thin Ult Cn";
        src:url("Fonts/2ddbcfcb-e513-49c4-b2b2-81171ebaec14.eot?#iefix");
        src:url("Fonts/2ddbcfcb-e513-49c4-b2b2-81171ebaec14.eot?#iefix") format("eot"),url("Fonts/ee0bcf37-ef39-4e15-8656-26f0094ce91e.woff2") format("woff2"),url("Fonts/bb114ead-d947-4913-884f-b772259d8dd4.woff") format("woff"),url("Fonts/f7201343-c51c-4478-8ba8-f88c2bc34bdb.ttf") format("truetype"),url("Fonts/16358bc1-1241-4674-8580-504fea21c352.svg#16358bc1-1241-4674-8580-504fea21c352") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_63 Bold_1476034";
        src:url("Fonts/06910c6d-79cf-4428-8f2e-99b2fd185015.eot?#iefix");
        src:url("Fonts/06910c6d-79cf-4428-8f2e-99b2fd185015.eot?#iefix") format("eot"),url("Fonts/215be6ba-8f98-4b15-85a3-7ae5a600566d.woff2") format("woff2"),url("Fonts/cc5c55d9-a704-4fcb-bebb-cf89ecfbc600.woff") format("woff"),url("Fonts/f4cafd45-557b-490e-8bd4-39e334d35f48.ttf") format("truetype"),url("Fonts/5e36bf93-f02f-4688-a8ce-aa35fd73ba84.svg#5e36bf93-f02f-4688-a8ce-aa35fd73ba84") format("svg");
    }

    @font-face{
        font-family:"Univers LT W01_73 Black Ext";
        src:url("Fonts/086f21b9-5ccd-43da-a9d6-f2974656de07.eot?#iefix");
        src:url("Fonts/086f21b9-5ccd-43da-a9d6-f2974656de07.eot?#iefix") format("eot"),url("Fonts/432c8ae9-5371-4df8-86c1-e7c396a8a4fc.woff2") format("woff2"),url("Fonts/e2f29f24-5594-4d53-a94c-d72f13f30bea.woff") format("woff"),url("Fonts/a7fd9d04-9b53-4ff9-b091-5a97f029fe0f.ttf") format("truetype"),url("Fonts/1dd4337f-183b-47ca-a6c7-d717052b9bbd.svg#1dd4337f-183b-47ca-a6c7-d717052b9bbd") format("svg");
    }

.u37	{ font-family: 'Univers LT Std 37 Thin Condensed'; font-style: normal; }
.u39	{ font-family: 'Univers LT W01_39 Thin Ult Cn'; font-style: normal; }

.u45	{ font-family: 'Univers LT W01_45 Light1475944'; font-style: normal; }
.u45i	{ font-family: 'Univers LT W01_45 Light1475944'; font-style: italic; }
.u47	{ font-family: 'Univers LT W01_47 Light1475998'; font-style: normal; }
.u47i	{ font-family: 'Univers LT W01_47 Light1475998'; font-style: italic; }
.u49	{ font-family: 'Univers LT Std 49 Light Ultra Condensed'; font-style: normal; }

.u53i	{ font-family: 'Univers LT Std 53 Extended'; font-style: italic; }
.u55	{ font-family: 'Univers LT W01_55 Roman1475956'; font-style: normal; }
.u55i	{ font-family: 'Univers LT W01_55 Roman1475956'; font-style: italic; }
.u57	{ font-family: 'Univers LT W01_57 Condensed'; font-style: normal; !important; }
.u57i	{ font-family: 'Univers LT W01_57 Condensed'; font-style: italic; }
.u59	{ font-family: 'Univers LT Std 59 Ultra Condensed'; font-style: normal; }

.u63	{ font-family: 'Univers LT W01_63 Bold_1476034'; font-style: normal; }
.u63i	{ font-family: 'Univers LT W01_63 Bold_1476034'; font-style: italic; }
.u65	{ font-family: 'Univers LT W01_65 Bold1475968'; font-style: normal; }
.u65i	{ font-family: 'Univers LT W01_65 Bold1475968'; font-style: italic; }
.u67	{ font-family: 'Univers LT W01_67 Bold_1476016'; font-style: normal; }
.u67i	{ font-family: 'Univers LT W01_67 Bold_1476016'; font-style: italic; }

.u73	{ font-family: 'Univers LT W01_73 Black Ext'; font-style: normal; }
.u73i	{ font-family: 'Univers LT W01_73 Black Ext'; font-style: italic; }
.u75	{ font-family: 'Univers LT W01_75 Black1475980'; font-style: normal; }
.u75i	{ font-family: 'Univers LT W01_75 Black1475980'; font-style: italic; }

.u83	{ font-family: 'Univers LT Std 83 Extra Black Extended'; font-style: normal; }
.u83i	{ font-family: 'Univers LT Std 83 Extra Black Extended'; font-style: italic; }
.u85	{ font-family: 'Univers LT Std 85 Extra Black'; font-style: normal; }
.u85i	{ font-family: 'Univers LT Std 85 Extra Black'; font-style: italic; }
 */
