@import url("main.fonts.css?v=201509091702");

body {
}

/*  |  SITE-LANG . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

#site-lang a.caption {
	display: none;
}

#site-lang ul {
	display: inline-block;
	list-style-type: none;
	margin: 8px 0px 8px 0px;
	padding: 0px;
}

#site-lang li {
	float: left;
}

#site-lang li + li {
	margin-left: 12px;
}

#site-lang li a {
	text-decoration: none;
	color: rgb(45, 45, 45);
}

#site-lang li.selected a {
	color: grey;
}


/*  |  SITE-SEARCH . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

#site-search-btn {
	display: none;
}

#site-search ul[data-nav-type="main"] {
	display: none;
}


/*  |  SITE-NAVIGATION  . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . */

#site-navigation-btn {
	display: none;
}

#site-navigation ul[data-nav-type="main"] {
	display: inline-block;
	list-style-type: none;
	margin: 8px 0px 8px 0px;
	padding: 0px;
}

#site-navigation ul[data-nav-type="main"] li {
}

#site-navigation ul[data-nav-type="main"] li + li {
}

#site-navigation ul[data-nav-type="main"] li a {
	text-decoration: none;
}

#site-navigation ul[data-nav-type="main"] li.selected a {
}

#site-navigation ul[data-nav-type="sub"] li {
	display: none;
}


/*   |   COLLAGE  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */


#wrapper .collage {
	display: block;
	position: relative;
	width: 911px;
	height: 287px;
	font-size: 0px;
	line-height: 0px;
}

#wrapper .collage .container {

}

#wrapper .collage a {
	display: inline-block;
	position: relative;
	width: 65px;
	height: 41px;
	overflow: hidden;
}

#wrapper .collage a .img {
	display: block;
	position: relative;
	width: 64px;
	height: 40px;
	background: rgb(100, 100, 100) url("../pic/ajax-loader.gif") no-repeat center center;
}

#wrapper .collage a .img.loaded {
	background-position: center top;
	background-size: cover;	
}

#wrapper .collage .information {
	display: none;
}

.swipe {
	outline: 4px dotted orange;
}