/*
	| richter.ms_november.css
	|
	| Description:
	| Gerhard Richter Microsite 'November' (www.gerhard-richter.com)
	| Style sheet file
	| Author: Eric Kuhnert
	| Date: 2013-03-12
	|
*/

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font: normal 12px/16px Verdana,Helvetica,sans-serif;
	background: #2e333b url('/includes/microsites/november/src/pic/ric_ms_november_background.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
}

a {
	color: #ffffff;
}

div.banner {
	background-color: #ffaa00;
	padding: 0px;
	margin: 0px;
	color: #454545;
	border-bottom: 1px solid #454545;
}

div.banner > h1 {
	margin: 0px;
	padding: 12px 12px 0px 12px;
	font: bold 12px/17px Arial,Helvetica,sans-serif;
	text-transform: uppercase;
}

div.banner > p {
	margin: 0px;
	padding: 0px 12px 12px 12px;
	font: normal 12px/17px Arial,Helvetica,sans-serif;
}

div.banner > p > a {
	color: #454545;
}

#wrapper {
	margin: 0px auto;
	width: 961px;
}

#header {
	background: transparent url("../pic/ric_ms_november_header_background.png") no-repeat center bottom;
	width: 961px;
	padding: 0px 15px 15px 15px;
	margin: 0px 0px -15px -15px;
}

.header_introduction {
	background: transparent url('../pic/ric_ms_november_introduction_background_top.png') repeat-x center -30px;
	font: normal 13px/18px Verdana,Helvetica,sans-serif;
	color: #ffffff;
	color: rgba(255, 255, 255, .85);
	padding: 0px 0px 20px 0px;
	margin: 0px;
}

.header_introduction h1 {
	margin: 0px 0px 0px 32px;
	padding: 32px 0px 16px 0px;
	font: bold 35px/35px Verdana,Helvetica,sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.header_introduction p > span {
	font-weight: bold;
	color: #ffffff;
}

.header_introduction p > a {
	color: #ffffff;
	color: rgba(255, 255, 255, .85);
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
	border-bottom: 1px dotted rgba(255, 255, 255, .65);
	outline: none;
}

.header_introduction p > a:hover {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
}

.header_descript_left {
	width: 416px;
	float: left;
	margin: 0px 0px 0px 32px;
	padding: 0px 0px 0px 0px;
	text-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.header_descript_right {
	width: 416px;
	float: left;
	margin: 0px 0px 0px 64px;
	padding: 0px 0px 0px 0px;
	text-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.header_navigation,
.footer_navigation {
	position: relative;
	margin: 1px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 34px;
}

.clear {
	clear: both;
	height: 1px;
	overflow: hidden;
}

#header_per_page,
#footer_per_page {
	padding: 0;
	margin: 6px 0px 0px 32px;
	float: left;
}

#header_per_page > ul,
#footer_per_page > ul {
	list-style-type: none;
	padding: 0;
	margin: 1px 0px 0px 0px;
}

#header_per_page > ul > li,
#footer_per_page > ul > li {
	float: left;
}

#header_per_page > ul > li:first-child,
#footer_per_page > ul > li:first-child {
	padding: 0px 8px 0px 0px;
	color: rgba(255, 255, 255, .85);
}

#header_per_page > ul > li > a,
#footer_per_page > ul > li > a {
	line-height: 1px;
	color: #ffffff;
	padding: 2px 8px 3px 8px;
	text-decoration: none;
	border: 1px solid transparent;
	transition: border-color 300ms;
	-o-transition: border-color 300ms;
	-e-transition: border-color 300ms;
	-moz-transition: border-color 300ms;
	-webkit-transition: border-color 300ms;
	outline: none;
}

#header_per_page > ul > li > a:hover,
#footer_per_page > ul > li > a:hover {
	border-color: rgba(255, 255, 255, .2);
}

#header_per_page > ul > li.selected > a,
#footer_per_page > ul > li.selected > a {
	border-color: #ffffff;
	border-color: rgba(255, 255, 255, .5);
}

#header_page_navigation,
#footer_page_navigation {
	padding: 0;
	margin: 5px 32px 0px 0px;
	float: right;
}

#header_page_navigation > ul,
#footer_page_navigation > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#header_page_navigation > ul > li,
#footer_page_navigation > ul > li {
	display: block;
	padding: 0px;
	margin: 0px;
	float: left;
}

#header_page_navigation > ul > li > a,
#footer_page_navigation > ul > li > a {
	display: block;
	height: 22px;
	width: 22px;
	color: #ffffff;
	color: rgba(255, 255, 255, .7);
	text-align: center;
	text-decoration: none;
	margin: 0px 0px 0px 1px;
	overflow: hidden;
	font: normal 12px/20px Verdana,Helvetica,sans-serif;
	background: transparent url("../pic/ric_ms_november_pagenav_page.png") no-repeat left top;
}

#header_page_navigation > ul > li:hover > a,
#footer_page_navigation > ul > li:hover > a {
	color: #ffffff;
	background-position: left -22px;
}

#header_page_navigation > ul > li.selected > a,
#footer_page_navigation > ul > li.selected > a {
	color: #ffffff;
	background-position: left -44px;
}

#header_page_navigation > ul > li:first-child > a,
#footer_page_navigation > ul > li:first-child > a {
	width: 25px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	background: transparent url("../pic/ric_ms_november_pagenav_ends.png") no-repeat left top;
}

#header_page_navigation > ul > li:first-child:hover > a,
#footer_page_navigation > ul > li:first-child:hover > a {
	color: #ffffff;
	background-position: left -44px;
}

#header_page_navigation > ul > li:last-child > a,
#footer_page_navigation > ul > li:last-child > a {
	width: 25px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	background: transparent url("../pic/ric_ms_november_pagenav_ends.png") no-repeat right top;
}

#header_page_navigation > ul > li:last-child:hover > a,
#footer_page_navigation > ul > li:last-child:hover > a {
	color: #ffffff;
	background-position: right -44px;
}

#header_page_navigation > ul > li.header_page_navigation_left > a,
#footer_page_navigation > ul > li.header_page_navigation_left > a {
	width: 25px;
	background: grey;
	margin: 0px 0px 0px 0px;
	border: 0px;
	background: transparent url("../pic/ric_ms_november_pagenav_arrows.png") no-repeat left top;
}

#header_page_navigation > ul > li.header_page_navigation_left:hover > a,
#footer_page_navigation > ul > li.header_page_navigation_left:hover > a {
	color: #ffffff;
	background-position: left -44px;
}

#header_page_navigation > ul > li.header_page_navigation_right > a,
#footer_page_navigation > ul > li.header_page_navigation_right > a {
	width: 25px;
	background: grey;
	margin: 0px 0px 0px 1px;
	border: 0px;
	background: transparent url("../pic/ric_ms_november_pagenav_arrows.png") no-repeat right top;
}

#header_page_navigation > ul > li.header_page_navigation_right:hover > a,
#footer_page_navigation > ul > li.header_page_navigation_right:hover > a {
	color: #ffffff;
	background-position: right -44px;
}

#content {
}

#content > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#content > ul > li {
	position: relative;
	margin: 35px 0px 0px 0px;
	width: 480px;
	height: 231px;
	background: #ffffff;
	background: transparent url("../pic/ric_ms_november_content_transparent.png") repeat center center;
	color: rgb(30, 30, 30);
	float: left;
}
#content > ul > li:nth-child(odd) {
	margin: 35px 1px 0px 0px;
}

#content > ul > li > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#content > ul > li > ul > li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 50%;
	height: 200px;
	background: #ffffff;
	float: left;
	cursor: pointer;
}

#content > ul > li > ul > li > div {
	display: inline-block;
	margin: 32px 0px 0px 32px;
	padding: 0px;
	width: 192px;
	height: 135px;
	background: rgb(240, 240, 240) url('../pic/ric_ms_november_loader.gif') no-repeat center center;
	border: 1px solid #d2d1cf;
	overflow: hidden;
}

#content > ul > li > ul > li:last-child > div {
	margin: 32px 0px 0px 16px;
}

#content > ul > li > ul > li > p {
	color: rgb(46, 45, 48);
	display: inline-block;
	margin: 32px 0px 0px 32px;
	padding: 0px;
	width: 192px;
	text-align: center;
	font: normal 13px/22px Verdana,Helvetica,_sans;
}

#content > ul > li > ul > li:hover > p {
	color: black;
	text-shadow: 0px 0px 5px #ffffff;
}

#content > ul > li > ul > li:last-child > p {
	margin: 32px 0px 0px 16px;
}

#footer {
	position: relative;
	left: -40px;
	margin: 18px 0px 0px 0px;
	padding: 17px 20px 0px 20px;
	width: 1001px;
	background: transparent url("../pic/ric_ms_november_footer_background.png") no-repeat center top;
}

.footer_navigation {
	background: transparent;
}

.footer_sitemap {
	margin: 1px 0px 0px 0px;
	width: 100%;
	height: 120px;
}

.footer_sitemap > p {
	margin: 30px 0px 0px 32px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	line-height: 18px;
	color: rgba(255, 255, 255, .65);
	text-shadow: 0px 0px 8px rgb(36, 36, 39);
}

.footer_sitemap p > a {
	color: #ffffff;
	color: rgba(255, 255, 255, .65);
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
	border-bottom: 1px dotted rgba(255, 255, 255, .55);
	outline: none;
}

.footer_sitemap p > a:hover {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
}


#overlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #242427;
	background: transparent url("../pic/ric_ms_november_overlay_transparent.png") repeat center center;
}

#overlay > div {
	position: fixed;
	background: #ffffff;
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 24px rgb(36, 36, 39);
	padding: 21px;
	color: #2e2d31;
	transition: width 200ms, height 200ms, margin 200ms;
	-e-transition: width 200ms, height 200ms, margin 200ms;
	-o-transition: width 200ms, height 200ms, margin 200ms;
	-moz-transition: width 200ms, height 200ms, margin 200ms;
	-webkit-transition: width 200ms, height 200ms, margin 200ms;
	overflow: hidden;
}

#overlay > div.single {
	width: 840px;
	height: 630px;
	margin: -336px 0px 0px -441px;
}

#overlay > div.double {
	width: 1118px;
	height: 405px;
	margin: -231px 0px 0px -580px;
}

#overlay #overlay_images {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#overlay > div.single > #overlay_images {
	height: 593px;
}

#overlay > div.double > #overlay_images {
	height: 387px;
	width: 1118px;
}

#overlay > div > #overlay_images > li {
	display: inline-block;
}

#overlay > div.single > #overlay_images > li {
	width: 840px;
}

#overlay > div.double > #overlay_images > li {
	width: 548px;
}

#overlay > div > #overlay_images > li > div {
	border: 1px solid #d2d1cf;
	background: rgb(240, 240, 240) url('../pic/ric_ms_november_loader.gif') no-repeat center center;0
	overflow: hidden;
}

#overlay > div.single > #overlay_images > li > div {
	width: 840px;
	height: 593px;
}

#overlay > div > #overlay_images > li > p {
	width: 100%;
	text-align: center;
	padding: 6px 0px 0px 0px;
}

#overlay > div.double > #overlay_images > li > div {
	width: 548px;
	height: 367px;
}

#overlay > div.double > #overlay_images > li:first-child {
	margin: 0px 22px 0px 0px !important;
}

#overlay #overlay_modes {
	position: absolute;
	left: 21px;
	top: 100%;
	margin: -38px 0px 0px 0px;
	padding: 0px;
	list-style-type: none;
}

#overlay #overlay_modes > li {
	display: inline-block;
	width: 23px;
	height: 16px;
	margin: 0px 8px 0px 0px;
	cursor: pointer;
	background: #ffffff url("../pic/ric_ms_november_overlay_modes.jpg") no-repeat left top;
}

#overlay #overlay_modes > li:last-child {
	background-position: right top;
}

#overlay #overlay_modes > li:hover {
	background-position: left bottom;
}

#overlay #overlay_modes > li:last-child:hover {
	background-position: right bottom;
}

#overlay > div.single > #overlay_modes > li:first-child {
	background-position: left bottom;
}

#overlay > div.double > #overlay_modes > li:last-child {
	background-position: right bottom;
}

#overlay #overlay_close {
	position: absolute;
	left: 100%;
	top: 100%;
	height: 20px;
	width: 100px;
	margin: -38px 0px 0px -121px;
	padding: 0px;
	text-align: right;
	text-decoration: none;
	text-transform: uppercase;
	color: #2e2d31;
	outline: none;
}

#overlay #overlay_prev {
	position: absolute;
	left: 0px;
	top: 21px;
	height: 593px;
	width: 70px;
	background: transparent url("../pic/ric_ms_november_overlay_nav.png") no-repeat left center;
	opacity: 0;
	transition: opacity 200ms;
	-e-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-webkit-transition: opacity 200ms;
	outline: none;
}

#overlay #overlay_next {
	position: absolute;
	left: 100%;
	top: 21px;
	height: 593px;
	width: 70px;
	margin: 0px 0px 0px -70px;
	background: transparent url("../pic/ric_ms_november_overlay_nav.png") no-repeat right center;
	opacity: 0;
	transition: opacity 200ms;
	-e-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-webkit-transition: opacity 200ms;
	outline: none;
}

#overlay #overlay_next:hover,
#overlay #overlay_prev:hover {
	opacity: 1;
}

#overlay div.double #overlay_prev,
#overlay div.double #overlay_next {
	height: 380px;
}

#overlay div.double #overlay_prev,
#overlay div.double #overlay_next {
	height: 367px;
}

#languages {
	position: absolute;
	width: 800px;
	height: 30px;
	top: 0px;
	left: 50%;
	text-align: right;
	margin: 0px 0px 0px -355px;
	padding: 0px;
	font-size: 0px;
	list-style-type: none;
}

#languages li {
	display: inline-block;
}

#languages li + li {
	margin: 0px 0px 0px 8px;
}

#languages li a {
	color: rgb(200, 200, 200);
	font: normal 11px/30px Verdana,Helvetica,sans-serif;
	text-decoration: none;
}

#languages li a:hover {
	color: rgb(245, 245, 245);
}

#languages li.selected a {
	color: rgb(255, 255, 255);
}


q:lang(en)
{
	quotes: "“" "”" "‘" "’";
}

q:lang(de)
{
	quotes: "„" "“" "‚" "‘";
}

q:lang(fr)
{
	quotes: "«" "»" "‹" "›";
}

q:lang(de-CH)
{
	quotes: "»" "«" "›" "‹";
}

/* Firefox specific */
@-moz-document url-prefix() {

	#header_per_page > ul > li > a,
	#footer_per_page > ul > li > a {
		border: none;
		outline: 1px solid transparent;
		transition: outline-color 300ms;
		-e-transition: outline-color 300ms;
		-o-transition: outline-color 300ms;
		-moz-transition: outline-color 300ms;
		-webkit-transition: outline-color 300ms;
	}

	#header_per_page > ul > li > a:hover,
	#footer_per_page > ul > li > a:hover {
		outline-color: rgba(255, 255, 255, .2);
	}

	#header_per_page > ul > li.selected > a,
	#footer_per_page > ul > li.selected > a {
		outline-color: rgba(255, 255, 255, .5);
	}

	#content > ul > li > ul > li > div {
		border: none;
		outline: 1px solid rgba(70, 70, 70, .4);
	}

}

@media (max-width:959px) {

}



