/*
	| richter.ms_november_ie8.css
	| 
	| Description:
	| Gerhard Richter Microsite 'November' (www.gerhard-richter.com)
	| Style sheet file for Microsoft Internet Explorer 8 and older 
	| Author: Eric Kuhnert
	| Date: 2013-02-18
	|
*/

body {
	background-color: #2e333b;
	background-image: url('/includes/microsites/november/src/pic/ric_ms_november_background_ie8.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#overlay #overlay_modes > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

#overlay > div.double > #overlay_images > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
