/*
	| index.css
	| 
	| Description: css file for example website
	| Author: Eric Kuhnert
	| Date: 2012-01-25
	|
*/

html, body {
	margin: 0;
	padding: 0;
}

body {
	font: normal 12px/18px Lucida sans,Verdana,Helvetica,_sans;
	background: #2a2a2a; /* old browsers */
}
