/*
	| index_ie.css
	| 
	| Description: css file for example website (additional definitions for IE)
	| Author: Eric Kuhnert
	| Date: 2012-01-25
	|
*/

.timeline_nav {
	background: transparent url('../pic/timeline_nav_ie.jpg') repeat-x left center;
}

.timeline_nav > div {
	border: grey;
}