/*
	| timeline.css
	| 
	| Description: css file for XML based Timelines
	| Author: Eric Kuhnert
	| Date: 2012-01-25
	|
*/

.timeline 
{
	font: normal 12px/18px 'Lucida Sans',‘Lucida Sans Unicode’,‘Lucida Grande’,Verdana,Helvetica,_sans;
	position: relative;
    /*margin: 0 auto;*/
	width: 800px;
	height: 390px;
	outline: 1px solid grey;
	background: #efefef url('../pic/timeline_loader.gif') no-repeat center center;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
	overflow: hidden;
}

.timeline > .timeline_header {
	position: absolute;
	width: 100%;
	height: 61px;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 34%, rgba(229,229,229,1) 61%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(34%,rgba(243,243,243,1)), color-stop(61%,rgba(229,229,229,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 34%,rgba(229,229,229,1) 61%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 34%,rgba(229,229,229,1) 61%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 34%,rgba(229,229,229,1) 61%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 34%,rgba(229,229,229,1) 61%,rgba(239,239,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.timeline_years {
	position: absolute;
	width: 100px;
	height: 330px;
	top: 60px;
	-moz-transition-property: opacity;  
	-moz-transition-duration: 700ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: opacity;  
	-webkit-transition-duration: 700ms;
	-webkit-transition-timing-function: ease;
	background: transparent url('') no-repeat left top;	
}

.timeline_hidden {
	opacity: 0;
}

.timeline_visible {
	opacity: 1;
}

.timeline_years > div {
	float: left;
}

.timeline_foreground {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent url('') no-repeat left top;
	float: none;
}

.timeline_years > div h1 {
	font: lighter 32px/36px Helvetica;
	color: rgb(100, 100, 100);
	margin: 18px 6px 8px 4px;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.timeline_years > div p {
	font: normal 11px/16px Helvetica;
	color: rgb(30, 30, 30);
	margin: 0px 6px 8px 6px;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.timeline_years > div a {
	text-decoration: underline;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.timeline_years > div div {
	font: lighter 11px/16px Helvetica;
	color: rgb(100, 100, 100);
	margin: 8px 6px 8px 6px;
	box-shadow: 0px 2px 7px rgba(0,0,0,.3);
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 8px;
	width: 60px;
	height: 40px;
	background: rgb(200,200,200) url('../pic/timeline_image_loader.gif') no-repeat center center;
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}

.timeline_nav {
	position: absolute;
	left: 50px;
	top: 28px;
	width: 700px;
	height: 20px;
	background: transparent url('../pic/timeline_nav_ie.jpg') repeat-x left center;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(158,158,158,0) 45%, rgba(147,147,147,0.5) 50%, rgba(157,157,157,0) 55%, rgba(246,246,246,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(45%,rgba(158,158,158,0)), color-stop(50%,rgba(147,147,147,0.5)), color-stop(55%,rgba(157,157,157,0)), color-stop(100%,rgba(246,246,246,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(158,158,158,0) 45%,rgba(147,147,147,0.5) 50%,rgba(157,157,157,0) 55%,rgba(246,246,246,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(158,158,158,0) 45%,rgba(147,147,147,0.5) 50%,rgba(157,157,157,0) 55%,rgba(246,246,246,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(158,158,158,0) 45%,rgba(147,147,147,0.5) 50%,rgba(157,157,157,0) 55%,rgba(246,246,246,0) 100%); /* IE10+ */
}

.timeline_nav > div {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: rgb(200, 200, 200);
	border-radius: 4px;
	box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	border: 1px solid rgba(0,0,0,.3);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.timeline_sensor {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.timeline_lang {
	position: absolute;
	left: 100%;
	/*left: 600px;*/
	top: 4px;
	width: 500px;
	/*width: 193px;*/
	height: auto;
	text-align: right;
    margin-left: -509px;
}

.timeline_lang div {
	font: normal 9px/15px Lucida sans,Verdana,Helvetica,_sans;
	float: right;
	padding: 2px 4px 2px 4px;
	margin: 0px;
	color: rgb(150, 150, 150);
	cursor: pointer;
	text-transform: uppercase;
}

.timeline_lang div.sel {
	color: rgb(50, 50, 50);	
}

.timeline_view {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgb(45, 45, 45) url('../pic/timeline_image_loader.gif') no-repeat center center;
	background: rgba(45, 45, 45, .9) url('../pic/timeline_image_loader.gif') no-repeat center center;
	-moz-transition-property: opacity;  
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: opacity;  
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease;		
}

.timeline_view .timeline_btn_prev {
	position: absolute;
	width: 350px;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	background: transparent url('../pic/timeline_imageview_left.png') no-repeat left center;
	-moz-transition-property: opacity;  
	-moz-transition-duration: 700ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: opacity;  
	-webkit-transition-duration: 700ms;
	-webkit-transition-timing-function: ease;				
	opacity: .35;
}

.timeline_view .timeline_btn_prev:hover {
	opacity: 1;	
}

.timeline_view .timeline_btn_next {
	position: absolute;
	width: 350px;
	height: 100%;
	top: 0px;
	left: 100%;
	margin-left: -350px;
	cursor: pointer;
	background: transparent url('../pic/timeline_imageview_right.png') no-repeat right center;
	-moz-transition-property: opacity;  
	-moz-transition-duration: 700ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: opacity;  
	-webkit-transition-duration: 700ms;
	-webkit-transition-timing-function: ease;				
	opacity: .35;
}

.timeline_view .timeline_btn_next:hover {
	opacity: 1;		
}

.timeline_view .timeline_btn_quit {
	position: absolute;
	width: 100px;
	height: 50px;
	top: 0px;
	left: 50%;
	margin-left: -50px;
	cursor: pointer;
	background: transparent url('../pic/timeline_imageview_quit.png') no-repeat right center;
	-moz-transition-property: opacity;  
	-moz-transition-duration: 700ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: opacity;  
	-webkit-transition-duration: 700ms;
	-webkit-transition-timing-function: ease;				
	opacity: .35;	
}

.timeline_view .timeline_btn_quit:hover {
	opacity: 1;		
}

.timeline_view .timeline_caption {
	position: absolute;
	width: 500px;
	height: 50px;
	top: 100%;
	left: 50%;
	margin-left: -250px;
	margin-top: -56px;
	cursor: default;
	text-align: center;
	color: rgb(220, 220, 220);
	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none; -o-user-select: none;	user-select: none;
}

.timeline_view div:first-child {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent url('') no-repeat center center;
	-moz-transition-property: opacity;  
	-moz-transition-duration: 400ms;
	-moz-transition-timing-function: ease;				
	-webkit-transition-property: opacity;  
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: ease;				
	opacity: 0;	
}
