/*
// | gerhard-richter.mod.expandlist.css
// | 
// | Description: Tables with expandable rows for www.gerhard-richter.com (CSS)
// | Dependencies: gerhard-richter.mod.expandlist.php, gerhard-richter.mod.expandlist.css, jquery.js
// | Author: Eric Kuhnert
// | Date: 2012-11-27
// |
*/

table.expandlist {
	border: none;
	font: normal 11.5px/18px Verdana,Arial,Helvetica,sans-serif;
	border-top: 1px solid rgb(170, 170, 170);
    width: 100%;
}

table.expandlist .gap {
	background: grey;
	width: 1px;
	padding: 0px;
}

table.expandlist > thead tr {
	background: #efefef;
}

table.expandlist > thead .sort_none,
table.expandlist > thead .sort_up,
table.expandlist > thead .sort_down {
	display: inline-block;
	float: right;
	width: 14px;
	height: 14px;
	background: transparent url('../pic/expandlist_header_sortby.png') no-repeat;
}

table.expandlist > thead .sort_none {
}

table.expandlist > thead .sort_up {
	background-position: 0px -14px;
}

table.expandlist > thead .sort_down {
	background-position: 0px -28px;
}

table.expandlist > thead > tr > th {
	overflow: hidden;
	height: auto;
	padding: 8px;
	-moz-transition: background-color ease 300ms; 
	-webkit-transition: background-color ease 300ms; 
	-o-transition: background-color ease 300ms; 
	-ms-transition: background-color ease 300ms; 
	transition: background-color ease 300ms; 
	cursor: pointer;
	font-weight: 700;
	text-align: left;
}

table.expandlist > thead > tr > th:hover {
	/*background: rgb(245, 245, 245);*/
	background: #fcfcfc;
}

table.expandlist > tbody > tr {
	background: #efefef url('../pic/expandlist_item_background.png') no-repeat left -80px;
	vertical-align: top;
	height: 90px;
	cursor: pointer;
	-moz-transition: height ease 100ms, background-color ease 400ms;
	-webkit-transition: height ease 100ms, background-color ease 400ms;
	-ms-transition: height ease 100ms, background-color ease 400ms;
	-o-transition: height ease 100ms, background-color ease 400ms;
	transition: height ease 100ms, background-color ease 400ms;
	border-bottom: none !important;
}

.tr-info-text {
	height: auto !important;
}

table.expandlist > tbody > tr:hover {
	/*background: rgb(245, 245, 245) url('../pic/expandlist_item_background.png') no-repeat left -150px;*/
    background: url("../pic/expandlist_item_background.png") no-repeat scroll left -150px #fcfcfc;
	-moz-transition: background-position none !important;
	transition: background-position none !important;
}

table.expandlist > tbody > tr > td {
	text-align: left;
	height: auto;
	padding: 8px;
}

table.expandlist td {
	vertical-align: top; 
	text-align: left;
}

table.expandlist > tbody > tr > td.centered {
	text-align: center;
}

table.expandlist > tbody > tr > td > img {
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0px 0px 6px rgba(0,0,0,.15);
}

table.expandlist > tbody > tr > td .expand-box-wrapper {
	position: relative;
	visibility: hidden;
	height: 0px;
}

table.expandlist > tbody > tr > td .expand-box {
	position: absolute;
	top: 0px;
	left: -8px;
	width: 689px;
	height: auto;
	padding: 8px;
	background: rgb(243, 243, 243) url('../pic/expandlist_item_details_background.jpg') no-repeat left top;
	background-size: 100% 350px;
	text-align: left;
	vertical-align: top; 
	border-bottom: 1px solid rgb(210, 210, 210);
    cursor: default;
}

table.expandlist > tbody > tr > td .expand-box-exh {
    width: 544px;
}

/*
table.expandlist > tbody > tr > td .expand-box > a {
	width: 133px;
	float: left;
	border: none;
	outline: none;
    padding-right: 8px;
}
*/

table.expandlist > tbody > tr > td .expand-box > a > img {
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0px 0px 6px rgba(0,0,0,.15);
}

table.expandlist > tbody > tr > td .expand-box > a > img.img-no-border {
    border:none;
    box-shadow:none;
}

table.expandlist > tbody > tr > td .expand-box .div-expand-box-images-container {
	width: 133px;
	padding-right: 8px;
	float: left;
}

table.expandlist > tbody > tr > td .expand-box .div-expand-box-images {
	/*width: 133px;
	padding-right: 8px;
	float: left;*/
	position: relative;
}

table.expandlist > tbody > tr > td .expand-box .div-expand-box-images .img-book-enlarge-icon {
    display: none;
    background-color: rgba(252, 252, 252,0.7);
    padding:10px;
  -webkit-transition-property: background color;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background color;
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease;
  -o-transition-property: background color;
  -o-transition-duration: 300ms;
  -o-transition-timing-function: ease;
  -ms-transition-property: background color;
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease;
  transition-property: background color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

table.expandlist > tbody > tr > td .expand-box .div-expand-box-images:hover .img-book-enlarge-icon {
    display: inline;
    position:absolute;
    bottom:0;
    right:0;
    z-index:1;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details {
	display: inline-block;
	width: 546px;
	vertical-align: top; 
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details-exh {
    width: 401px;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details .td-expand-box-title {
	min-width: 80px;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details .td-expand-box-title-zh {
	min-width: 88px !important;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details h3 {
    background: none repeat scroll 0 0 transparent !important;
    font: bold 12px/18px Lucida sans,Verdana,Helvetica,_sans !important;
    margin: 0 16px 0 0 !important;
    padding: 0 !important;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details h3 + table {
	margin-top: 5px;
}


table.expandlist > tbody > tr > td .expand-box .expand-box-details span.tab {
	color: #636363;
	margin: 0px 16px 0px 0px;
	width: 70px;
	display: block;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details > ul {
	/*list-style-image:url("/g/biography/arrows.png");*/
	list-style-image:url('../pic/expandlist_item_details_bullet.png');
	margin: 6px 0px 6px 7px;
	padding-left: 10px;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details a {
	text-decoration: none;
	/*border: none;*/
	outline: none;
	color: inherit;
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details a:hover {
	color: rgb(100, 100, 100);
	/*border-bottom: 1px dotted rgb(200, 200, 200);*/
}

table.expandlist > tbody > tr > td .expand-box .expand-box-details > ul li + li {
	margin-top: 6px;
}

table.expandlist tbody .thumb {
	height: 53px;
	text-align: center;
	overflow: hidden;
}

table.expandlist tbody .thumb > img {
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0px 0px 6px rgba(0,0,0,.15);
}

table.expandlist tbody .thumb > img.img-no-border {
    border:none;
    box-shadow:none;
}

table.expandlist tbody .thumb_placeholder {
	height: 0px;
	text-align: center;
	overflow: hidden;
	visibility: hidden;
	background: transparent url('../pic/expandlist_item_thumb_placeholder.png') no-repeat center 4px;
}

table.expandlist > tbody > tr.selected {
	background: rgb(240, 240, 240) url('../pic/expandlist_item_background_selected.png') repeat-x left 0px;
}

table.expandlist > tbody > tr.selected + tr.selected {
	background: rgb(240, 240, 240) url('../pic/expandlist_item_background_selected.png') repeat-x left -1px;
}

table.expandlist .selected .gap {
	background: transparent url('../pic/expandlist_item_gap_background.png') repeat-x left top;
}

table.expandlist .selected .expand-box-wrapper {
	visibility: visible;
}




