@import url("/css/microsites/microsite.css");

/* !general */
html body {
background: #fbfbfb url(/g/microsite/snow-white-bg.jpg) no-repeat center top !important;
}

h1 {
background:url(/g/microsite/snow-white-logo.gif) no-repeat center top;
}


/* !layout blocks */
#holder {
margin:0 auto;
max-width:946px;
width:100%;
position:relative;
background:url(/g/microsite/snow-white-border.jpg) repeat-y center top;
border-bottom: none;
border-top: none;
}

#footer {
background:url(/g/microsite/snow-white-footer.jpg) no-repeat;
margin:0 auto;
padding: 20px 0;
max-width:948px;
width:100%;
position:relative;
}


/* !about section */
#about {
background:url(/g/microsite/snow-white-header.jpg) no-repeat;
}

#about, #about a {
color: #fff;
}


/* !intro section */
#image-1, #image-2 {
margin-right: 90px;
}

#intro-holder {
background: url(/g/microsite/snow-white-intro-background.jpg) repeat-x 0 100px;
}


/* !paintings section */
.paintings {
padding: 15px 0 15px 10px;
max-width: 938px;
width:100%;
}

.paintings li {
margin-bottom: 15px;
padding: 0 18px;
}

.paintings li a {
height: 102px;
width: 146px;
}


/* !search section */
#searchEditions {
margin: 0 15px;
background: #fff;
color: #666;
}

#editionShow, .editionSearch, #editionShow a {
color: #666;
}
