@import url("/css/reset.css");
@import url("/css/mootools.microsite.tip.css");


/* !general */
body {
font: normal 82%  Verdana, Arial, Helvetica, sans-serif;
color: #000;
}

a {
    color:#000;
}

em {
font-weight: bold;
}

h1 {
height: 49px;
margin: 30px auto;
text-indent: -9999px;
}

.p_richter {
    font-size:135%;   
    letter-spacing:1px;
}

.p_colours {
    font-size:484%;   
    letter-spacing:1px;
    margin-top:-10px;
}

.p_enter {
    font-size:135%;   
    margin-top:10px;
    letter-spacing:1px;
}

/* !layout blocks */
#holder {
background: #fff;
border-style: solid;
border-width: 1px;
margin:0 auto;
}

#footer {
font-size: 1.1em;
margin: 20px auto;
font-weight: 700;
text-align: center;
}


/* !about section */
#about {
padding: 12px 28px;
text-align: right;
}

.about-hook {
background: url(/g/microsite/about.gif) no-repeat right 3px;
color: #000;
font-size: 1.5em;
font-weight: 700;
padding-right: 25px;
text-decoration: none;
}

.accordion {
text-align: left;
}

.accordion a.forward {
display: none;
}

#about p {
line-height: 110%;
margin-bottom: 15px;
}

#about p.first {
margin-top: 10px;
}


/* !intro section */
#enter {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 185px;
    width: 850px;
}

#intro-holder {
height: 510px;
}

#image-holder {
margin: 0 auto;
position: relative;
text-align: center;
top: 118px;
width: 850px;
}


/* !paintings section */
.paintings {
overflow:hidden;
}

.paintings div {
color: #fff;
padding-bottom: 5px;
text-align: right;
}

.paintings li {
float: left;
}

.paintings li a {
border: 1px solid #e2e2e2;
display: block;
}

.paintings li a:hover {
border-color: #666;
}

.dimensions, .info, .cr, .year {
display:none;
}


/* !search section */
select {
font: inherit;
padding: 1px;
}

#searchEditions {
padding: 5px 28px;
}

#searchPosition {
position: relative;
}

#editionShow, #editionShow a {
color: #fff;
}

#editionShow .pages a, #editionShow .page-numbers {
padding-right: 2px;
}

#editionShow .pages {
padding-left: 7px;
}

#editionShow .pages .selected {
text-decoration: none;
font-weight: bold;
}

#editionShow .pages a:hover {
text-decoration: underline;
}

#editionShow .pages a img {
position: relative;
bottom: -3px;
}

.editionSearch {
color: #fff;
position: absolute;
right: 0;
top: 0;
}

.editionSearch input {
margin-right: 5px;
}

.editionSearch label a {
background: url(/g/microsite/dash.gif) repeat-x left bottom;
}

.editionSearch .edition {
width: 4em;
}


/* !noscript */
noscript {
display: block;
margin: 40px auto;
width: 182px;
}
