@import url("/css/reset.css");



/* !general */

#a_intro_image {
                position: relative; /* Needed for Safari */
                margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */

}

.a_intro_image {
    margin:0 auto;
    width:915px;
    display:block;
    text-align:center;
}


.span_richter {
    font-weight: 700;
    font-size: 190%;
    padding-top:10px;
}

.span_colours {
    font-size: 240%;
    margin-left:12px;
}

.p_enter {
    font-size: 230%;
    margin-left:102px;
    margin-top:13px;
}

body {
    font: 400 82% Arial, Helvetica, sans-serif;
    color: #676767;
}

.t4900-colours, html body {
    background: #e7e7e7 !important;
}

.intro_4900 {
    background: #fff url(/g/microsite/4900-colours/intro_bg.jpg) no-repeat left top;
}

a {
    color: #676767;
    text-decoration:none;
}

.selected {
    text-decoration:underline;
}

em {
    font-weight: bold;
}

h1 {
    margin: 30px auto;
    font-size: 130%;
    max-width:915px;
    width:100%;
    text-align:center;
}

h1 .span_h1_fist_part {
    border-right: 1px solid #676767;
    font-weight: 700;
    padding-right: 10px;
}

h1 .span_h1_second_part {
    padding-left: 10px;
}


/* !layout blocks */
#holder {
background: #fff;
margin:0 auto;
}

#footer {
    font-size: 80%;
    margin: 5px auto;
    padding-bottom: 60px;
    font-weight: 400;
    text-align: center;
    max-width:915px;
    width:100%;
}


/* !about section */
#about {
padding: 12px 28px;
text-align: right;
}

.about-hook {
    background: url(/g/microsite/about.gif) no-repeat right 1px;
    color: #676767;
    font-size: 110%;
    font-weight: 700;
    padding-right: 25px;
    padding-top:2px;
    text-decoration: none;
}

.accordion {
text-align: left;
}

.accordion a.forward {
display: none;
}

#about p {
line-height: 110%;
margin-bottom: 15px;
}

#about p.first {
margin-top: 10px;
}


/* !intro section */
#enter {
margin: 0 auto;
position: relative;
text-align: center;
top: 220px;
width: 850px;
}

#intro-holder {
height: 510px;
}

#image-holder {
margin: 0 auto;
position: relative;
text-align: center;
top: 150px;
width: 850px;
}


/* !paintings section */
.paintings {
overflow:hidden;
}

.paintings div {
color: #fff;
padding-bottom: 5px;
text-align: right;
}

.paintings li {
float: left;
}

.paintings li a {
/*border: 1px solid #e2e2e2;*/
display: block;
}

.paintings li a:hover {
border-color: #666;
}

.dimensions, .info, .cr, .year {
display:none;
}


/* !search section */
select {
font: inherit;
padding: 1px;
}

#searchEditions {
padding: 5px 28px;
}

#searchPosition {
position: relative;
margin-top:-3px;
float:right;
width:237px;
}

.a_foreword {
    font-weight:700;
    padding-top: 5px;
    padding-bottom: 5px;
    display:block;
    width:60px;
}

.a_versions {
    font-weight:700;
    float:left;
}


#main_text {
    height:450px;
    padding: 40px 40px 0 40px;
}

#main_text .p_padding_top {
    padding-top:10px;
}

#editionShow {
    float:right;
    margin-top:-2px;
}

#editionShow, #editionShow a {
}

#editionShow .pages a, #editionShow .page-numbers {
padding-right: 2px;
}

#editionShow .pages {
padding-left: 7px;
}

#editionShow .pages .selected {
text-decoration: underline;
font-weight: bold;
}

#editionShow .pages a:hover {
text-decoration: underline;
}

#editionShow .pages a img {
position: relative;
bottom: -3px;
}

.editionSearch {
position: absolute;
right: 0;
top: 0;
color:#676767;
}

.editionSearch input {
margin-right: 5px;
}

.editionSearch label a {
background: url(/g/microsite/dash.gif) repeat-x left bottom;
}

.editionSearch .edition {
width: 4em;
}


/* !noscript */
noscript {
display: block;
margin: 40px auto;
width: 182px;
}



/* !layout blocks */
#holder {
border-color: #6f0f2f;
max-width:915px;
width:100%;
}

/* !intro section */
#image-1, #image-2 {
margin-right: 50px;
}

#image-holder {
max-width: 870px;
width:100%;
}


/* !paintings section */
.paintings {
padding: 22px 0 5px 18px;
max-width: 897px;
width:100%;
}

.paintings li {
margin-bottom: 16px;
padding: 0 17px;
}

.paintings li a {
height: 133px;
padding: 3px;
width: 134px;
}

.paintings li a img {
height: auto;
width: 134px;
}


/* !search section */
#searchEditions {
background: #b0b0b0;
max-width:861px;
width:100%;
height:17px;
}

.ul_versions {
    float:left;
    margin-left:21px;
}

.ul_versions a {
    text-decoration:none;
}

.ul_versions a.selected, .ul_versions a:hover {
    text-decoration:underline;
}

.ul_versions li {
    float:left;
    padding-right:10px;
}

.div_version_info {
    margin-left: 35px;
    margin-top: 30px;
    max-width:859px;
    width:100%;
}

.p_version_title {
    font-size: 160%;
}

.p_version_text {
    color:#9f9f9f;
    font-size: 110%;
}

.p_mocrosites_noresults {
    text-align:center;
    padding: 50px;
}
