@import url("/css/reset.css");

.edit a, .content-large .trp .edit a {
    color:#000;
    padding: 0 14px 0 0px;
    background: url(/g/edit.gif) no-repeat right 50%;
}

/* !general */

#a_intro_image {
                position: relative; /* Needed for Safari */
                margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */

}

.a_intro_image {
    margin:0 auto;
    width:915px;
    display:block;
    text-align:center;
    color:#0255a0;
}


.p_richter {
    font-weight: 400;
    font-size: 130%;
    padding-top:10px;
    color:#4D7A9B;
}

.p_colours {
    font-size: 307%;
    font-weight: 400;
    margin-top:-7px;
}

.p_enter {
    font-size: 130%;
    margin-bottom:10px;
    color:#4D7A9B;
}

body {
    font: 400 82% 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
}

html, body {
    background: #fff !important;
}

.intro_sinbad {
   /* background: #fff url(/g/microsite/sinbad/intro_bg.png) no-repeat left top;*/
}


html .tsinbad {
    /*background: #fff url(/g/microsite/sinbad/bg.jpg) no-repeat left top;*/
    background: #fff !important;
}

#holder .a_view_pairs {
    background: url(/g/microsite/sinbad/view_as_pair_bg.png) no-repeat left center;
    color:#989898;
    height:16px;
    width:80px;
    margin:10px auto 0;
    display:block;
    padding:0 0 0 30px;
}

a {
    color: #fff;
    text-decoration:none;
}

.selected {
    text-decoration:underline;
}

em {
    font-weight: bold;
}

h1 {
    margin: 30px auto 7px;
    font-size: 130%;
    max-width:915px;
    width:100%;
    text-align:center;
}

h1 .p_h1_fist_part {
    color:#4D7A9B;
    font-size: 90%;
}

h1 .p_h1_second_part {
    font-size: 207%;
    color:#0255a0;
    margin-top:-7px;
}


/* !layout blocks */
#holder {
background: #fff;
margin:0 auto;
border: 1px solid #010028;
}

#footer {
    font-size: 80%;
    margin: 5px auto;
    padding-bottom: 60px;
    font-weight: 400;
    text-align: center;
    max-width:915px;
    width:100%;
}


/* !about section */
#about {
padding: 12px 28px;
text-align: right;
}

.about-hook {
    background: url(/g/microsite/about.gif) no-repeat right 1px;
    color: #656565;
    font-size: 110%;
    font-weight: 700;
    padding-right: 25px;
    text-decoration: none;
}

.accordion {
text-align: left;
    color: #656565;
}

.accordion a.forward {
display: none;
}

#about p {
line-height: 110%;
margin-bottom: 15px;
}

#about p.first {
margin-top: 10px;
}


/* !intro section */
#enter {
margin: 0 auto;
position: relative;
text-align: center;
top: 45px;
width: 912px;
}

#intro-holder {
height: 510px;
}

#image-holder {
margin: 0 auto;
position: relative;
text-align: center;
top: 50px;
width: 850px;
}


/* !paintings section */
.paintings {
overflow:hidden;
}

.paintings div {
color: #fff;
padding-bottom: 5px;
text-align: right;
}

.paintings li {
float: left;
}

.li_right {
    margin-right:40px;
}

.li_left {
    margin-left:40px;

}

.paintings li a {
/*border: 1px solid #e2e2e2;*/
/*display: block;*/
}

.paintings li a:hover {
border-color: #666;
}

.dimensions, .info, .cr, .year {
display:none;
}


/* !search section */
select {
font: inherit;
padding: 1px;
}

#searchEditions {
padding: 5px 28px;
}

#searchPosition {
position: relative;
float:right;
width: 300px;
margin-top:-3px;
}

.a_foreword {
    font-weight:700;
    padding-top: 5px;
    padding-bottom: 5px;
    display:block;
    width:60px;
}

.a_versions {
    font-weight:700;
    float:left;
}


#main_text {
    height:450px;
    padding: 40px 40px 0 40px;
}

#main_text .p_padding_top {
    padding-top:10px;
}

#editionShow {
    margin-top:-2px;
}

#editionShow, #editionShow a {
}

#editionShow .pages a, #editionShow .page-numbers {
padding-right: 2px;
}

#editionShow .pages {
padding-left: 7px;
}

#editionShow .pages .selected {
text-decoration: underline;
font-weight: bold;
}

#editionShow .pages a:hover {
text-decoration: underline;
}

#editionShow .pages a img {
position: relative;
bottom: -3px;
}

.editionSearch {
color: #fff;
position: absolute;
right: 0;
top: 0;
}

.editionSearch input {
margin-right: 5px;
}

.editionSearch label a {
background: url(/g/microsite/dash.gif) repeat-x left bottom;
}

.editionSearch .edition {
width: 4em;
}


/* !noscript */
noscript {
display: block;
margin: 40px auto;
width: 182px;
}



/* !layout blocks */
#holder {
border-color: #6f0f2f;
max-width:915px;
width:100%;
}

/* !intro section */
#image-1, #image-2, #image-3, #image-4, #image-5, #image-6 {
margin-right: 20px;
}

#image-holder {
width: 870px;
}


/* !paintings section */
.paintings {
padding: 22px 0 5px 18px;
max-width: 897px;
width:100%;
}

.paintings li {
margin-bottom: 16px;
max-width:398px;
width: 100%;
height:175px;
text-align:center;
}

.paintings li a {
height: 133px;
padding: 16px;
width: 134px;
}

.paintings li a img {
    width: 108px;
    height:auto;
}


/* !search section */
#searchEditions {
    background: #010028;
    max-width:859px;
    width:100%;
}

.ul_versions {
    float:left;
    margin-left:21px;
}

.ul_versions a {
    text-decoration:underline;
}

.ul_versions a.selected {
    text-decoration:none;
}

.ul_versions li {
    float:left;
    padding-right:10px;
}

.div_version_info {
    margin-left: 35px;
    margin-top: 30px;
    width:859px;
}

.p_version_title {
    font-size: 160%;
}

.p_version_text {
    color:#9f9f9f;
    font-size: 110%;
}

.p_mocrosites_noresults {
    text-align:center;
    padding: 50px;
}
