@import url("/css/reset.css");
@import url("/css/mootools.microsite.tip.css");



/* !general */

#a_intro_image {
    position: relative; /* Needed for Safari */
    margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */
    background: #000 url(/g/microsite/cologne_cathedral/intro_bg.jpg) no-repeat center top;    
    padding-top:607px;
    margin-top:120px;
}

.a_intro_image {
    margin:0 auto;
    width:915px;
    display:block;
    text-align:center;
    letter-spacing:2px;
    font-weight:normal;
}


.p_richter {
    font-weight: 400;
    font-size: 160%;
    padding-top:10px;
}

.p_cologne_cathedral {
    font-size: 210%;
    margin-top:2px;
}

.p_enter {
    font-size: 160%;
    margin-top:17px;
}

body {
    /*font: 400 82% 'Palatino Linotype', 'Book Antiqua', Palatino, serif;*/
    font: 400 82% Garamond, serif;
    color: #fbfbf9;
    background: #000 url(/g/microsite/cologne_cathedral/bg.jpg) no-repeat center top;    
}

.cologne_catehdral {
    background: #000;    
}

a {
    color: #fbfbf9;
    text-decoration:none;
}

.selected {
    text-decoration:underline;
}

em {
    font-weight: bold;
}

h1 {
    margin: 120px auto 5px;
    font-size: 130%;
    width:915px;
    text-align:left;
}

h1 .p_h1_fist_part {
    font-weight: 400;
    font-size: 100%;
}

h1 .p_h1_second_part {
    font-size: 140%;
}


/* !layout blocks */
#top_line {
    background: url(/g/microsite/cologne_cathedral/top_shaddow2.gif) no-repeat left top;    
    margin:0 auto;
    width:925px;
    height:6px;
}

#content {
    background: url(/g/microsite/cologne_cathedral/middle_shaddow2.gif) repeat-y left top;
    margin:0 auto;
    width:925px;
}

#footer {
    font-size: 80%;
    margin: 0 auto;
    font-weight: 400;
    text-align: right;
    width:925px;
    height:6px;
    padding-top:7px;
    background: url(/g/microsite/cologne_cathedral/bottom_shaddow2.gif) no-repeat left top;    
}


/* !about section */
#about {
padding: 12px 28px;
text-align: right;
}

.about-hook {
    background: url(/g/microsite/about.gif) no-repeat right 1px;
    color: #676767;
    font-size: 110%;
    font-weight: 700;
    padding-right: 25px;
    text-decoration: none;
}

.accordion {
text-align: left;
}

.accordion a.forward {
display: none;
}

#about p {
line-height: 110%;
margin-bottom: 15px;
}

#about p.first {
margin-top: 10px;
}


/* !intro section */
#enter {
margin: 0 auto;
position: relative;
text-align: center;
top: 220px;
width: 850px;
}

#intro-holder {
height: 510px;
}

#image-holder {
margin: 0 auto;
position: relative;
text-align: center;
top: 150px;
width: 850px;
}


/* !paintings section */
.paintings {
overflow:hidden;
}

.paintings div {
color: #fff;
padding-bottom: 5px;
text-align: right;
}

.paintings li {
float: left;
}

.paintings li a {
/*border: 1px solid #e2e2e2;*/
display: block;
}

.paintings li a:hover {
border-color: #666;
}

.dimensions, .info, .cr, .year {
display:none;
}


/* !search section */
select {
font: inherit;
padding: 1px;
}

#searchEditions {
padding: 5px 28px;
}

#searchPosition {
position: relative;
}

.a_foreword {
    font-weight:700;
    padding-top: 5px;
    padding-bottom: 5px;
    display:block;
    width:60px;
}

.a_versions {
    font-weight:700;
    float:left;
}


#main_text {
    height:450px;
    padding: 40px 40px 0 40px;
}

#main_text .p_padding_top {
    padding-top:10px;
}

#editionShow {
    float:right;
    margin-top:-2px;
}

#editionShow, #editionShow a {
}

#editionShow .pages a, #editionShow .page-numbers {
padding-right: 2px;
}

#editionShow .pages {
padding-left: 7px;
}

#editionShow .pages .selected {
text-decoration: underline;
font-weight: bold;
}

#editionShow .pages a:hover {
text-decoration: underline;
}

#editionShow .pages a img {
position: relative;
bottom: -3px;
}

.editionSearch {
color: #fff;
position: absolute;
right: 0;
top: 0;
}

.editionSearch input {
margin-right: 5px;
}

.editionSearch label a {
background: url(/g/microsite/dash.gif) repeat-x left bottom;
}

.editionSearch .edition {
width: 4em;
}


/* !noscript */
noscript {
display: block;
margin: 40px auto;
width: 182px;
}




/* !intro section */
#image-1, #image-2 {
margin-right: 50px;
}

#image-holder {
width: 870px;
}


/* !paintings section */
.paintings {
padding: 22px 0 5px 18px;
width: 897px;
}

.paintings li {
margin-bottom: 16px;
padding: 0 17px;
}

.paintings li a {
height: 133px;
padding: 3px;
width: 134px;
}


/* !search section */
#searchEditions {
background: #b0b0b0;
width:861px;
height:17px;
}

.ul_versions {
    float:left;
    margin-left:21px;
}

.ul_versions a {
    text-decoration:underline;
}

.ul_versions a.selected {
    text-decoration:none;
}

.ul_versions li {
    float:left;
    padding-right:10px;
}

.div_version_info {
    margin-left: 35px;
    margin-top: 30px;
    width:859px;
}

.p_version_title {
    font-size: 160%;
}

.p_version_text {
    color:#9f9f9f;
    font-size: 110%;
}

.p_mocrosites_noresults {
    text-align:center;
    padding: 50px;
    color:red;
}
