@import url("/css/microsites/microsite.css");

/* !general */
html body {
background: #900 url(/g/microsite/war-cut-bg.gif) repeat 0 0 !important;
}

h1 {
background: url(/g/microsite/war-cut-logo.gif) no-repeat center top;
}


/* !layout blocks */
#holder {
border-color: #666;
max-width:871px;
width:100%;
}

#footer {
color: #000;
}


/* !intro section */
#image-1, #image-2,#image-3, #image-4 {
margin-right: 50px;
}


/* !paintings section */
.paintings {
padding: 15px 0 5px 18px;
max-width: 835px;
width:100%;
}

.paintings li {
margin-bottom:16px;
padding: 0 18px;
}

.paintings li a {
height: 152px;
width: 129px;
}


/* !search section */
#searchEditions {
background: #333;
}
