@import url("/css/reset.css");
@import url("/css/microsites/mootools.microsite.tip.css");


/* !general */
body {
font: normal 82% Arial, Helvetica, sans-serif;
color: #666;
}

em {
font-weight: bold;
}

h1 {
height: 49px;
margin: 30px auto;
text-indent: -9999px;
}


/* !layout blocks */
#div-microsite-content {

}

#holder {
background: #fff;
border-style: solid;
border-width: 1px;
margin:0 auto;
}

#footer {
font-size: 1.1em;
margin: 20px auto;
font-weight: 700;
text-align: center;
}


/* !about section */
#about {
padding: 12px 28px;
text-align: right;
}

.about-hook {
background: url(/g/microsite/about.gif) no-repeat right 3px;
color: #000;
font-size: 1.5em;
font-weight: 700;
padding-right: 25px;
text-decoration: none;
}

.accordion {
text-align: left;
}

.accordion a.forward {
display: none;
}

#about p {
line-height: 110%;
margin-bottom: 15px;
}

#about p.first {
margin-top: 10px;
}


/* !intro section */
#enter {
margin: 0 auto;
position: relative;
text-align: center;
top: 220px;
width: 850px;
}

#intro-holder {
height: 510px;
}

#image-holder {
margin: 0 auto;
position: relative;
text-align: center;
top: 150px;
width: 850px;
}


/* !paintings section */
.paintings {
overflow:hidden;
}

.paintings div {
color: #fff;
padding-bottom: 5px;
text-align: right;
}

.paintings li {
float: left;
}

.paintings li a {
border: 1px solid #e2e2e2;
display: block;
}

.paintings li a:hover {
border-color: #666;
}

.dimensions, .info, .cr, .year {
/*display:none;*/
	display: block;
}

.lightboxDesc {
	display: none;
}

.fancybox-wrap .lightboxDesc {
	display: block !important;
	margin-top: 10px;
}

/* !search section */
select {
font: inherit;
padding: 1px;
}

#searchEditions {
padding: 5px 28px;
}

#searchPosition {
position: relative;
}

#editionShow, #editionShow a {
color: #fff;
}

#editionShow .pages a, #editionShow .page-numbers {
padding-right: 2px;
}

#editionShow .pages {
padding-left: 7px;
}

#editionShow .pages .selected {
text-decoration: none;
font-weight: bold;
}

#editionShow .pages a:hover {
text-decoration: underline;
}

#editionShow .pages a img {
position: relative;
bottom: -3px;
}

.editionSearch {
color: #fff;
position: absolute;
right: 0;
top: 0;
}

.editionSearch input {
margin-right: 5px;
}

.editionSearch label a {
background: url(/g/microsite/dash.gif) repeat-x left bottom;
}

.editionSearch .edition {
width: 4em;
}

.search-help-tooltips {
	display: none;
}

.div-tooltips-microsites-search-help {
	color: #fff;
    width: 180px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #373838;
}

.div-tooltips-microsites-search-help .tooltips-title {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 8px 8px 4px;
}

.div-tooltips-microsites-search-help .tooltips-text {
    font-size: 12px;
    line-height: 140%;
    padding: 4px 8px 8px;
}

/* !noscript */
noscript {
display: block;
margin: 40px auto;
width: 182px;
}
