@import url("/css/microsites/microsite.css");

/* !general */

html body {
	background: #fff !important;
}

h1 {
background: url(/g/microsite/firenze-logo.gif) no-repeat center top;
}


/* !layout blocks */
#holder {
border-color: #6f0f2f;
max-width:915px;
width:100%;
}

#footer {
color: #6f0f2f;
}


/* !intro section */
#image-1, #image-2 {
margin-right: 50px;
}

#image-holder {
width: 870px;
}


/* !paintings section */
.paintings {
padding: 15px 0 5px 18px;
max-width: 897px;
width:100%;
}

.paintings li {
margin-bottom: 16px;
padding: 0 17px;
}

.paintings li a {
height: 133px;
padding: 3px;
width: 134px;
}


/* !search section */
#searchEditions {
background: #6f0f2f;
}
