/* !microsite tip */
.tool-text {
background: url(/g/microsite/tooltip.png) bottom right;
font-size: 12px;
line-height: 140%;
padding: 4px 8px 8px;
}

.tool-tip {
color: #fff;
width: 180px;
z-index: 13000;
}
 
.tool-title {
background: url(/g/microsite/tooltip.png) top left;
color:#fff;
font-size: 12px;
font-weight: bold;
margin: 0;
padding: 8px 8px 4px;
}
 
