#lbOverlay {
position:absolute;
left:0;
width:100%;
background-color:#111;
cursor:pointer;
z-index: 1000;
}

#lbCenter,#lbBottomContainer {
position:absolute;
left:50%;
overflow:hidden;
background-color:#b5b5b5;
z-index: 1010;

}

.lbLoading {
background:#b5b5b5 url(/g/snow-white/loading.gif) no-repeat center;
}

#lbImage {
border:10px solid #b5b5b5;
z-index: 1020;
}

.photos {
border:1px solid #fff;
padding:3px;
}

a:hover .photos {
border:1px solid #999;
}

.lightboxDesc a {
color:#fff;
text-decoration:none;
}

.lightboxDesc a:hover {
color:#fff;
text-decoration:none;
}

.listOpt{
margin-top: 2px;
}

.listOpt li{
float: right;
}

#lbPrevLink,#lbNextLink {
display: inline;
}

#lbPrevLink {
background:transparent url(/g/snow-white/prevlabel_firenze.gif) no-repeat left;
}

#lbNextLink {
background:transparent url(/g/snow-white/nextlabel_firenze.gif) no-repeat right;
}

#lbControls a {
margin-left: 12px;
display:block;
width:22px;
height:22px;
}

#lbControls a.closebutton {
margin-left: 32px;
}

#lbBottom {
font-family:Verdana, Helvetica, sans-serif;
font-size:1em;
color:#fff;
line-height:1.4em;
text-align:left;
border:10px solid #b5b5b5;
border-top-style:none;
}

#lbCloseLink {
height:22px;
background:transparent url(/g/snow-white/close_firenze.gif) no-repeat center;
margin:0;
}

#lbCaption,#lbDescription {
margin-right:71px;
}

#lbNumber {
float:right;
clear:both;
margin-top:13px;
}

#lbCaption {
font-weight:700;
}

#desc-holder {
float: left;
}

.snow-white-dimensions, .snow-white-info, .snow-white-cr, .snow-white-year {
display:none;
}

#lbDescription .snow-white-dimensions {
display:inline;
}

#lbDescription .snow-white-info, #lbDescription .snow-white-cr, #lbDescription .snow-white-year {
display:block;
}

/* !paintings section */
#lbDescription .dimensions {
display:inline;
}

#lbDescription .info, #lbDescription .cr, #lbDescription .year {
display:block;
}
