/* SLIMBOX */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
    /*margin-top:150px;*/
}

.lbLoading {
background:#fff url(/g/snow-white/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	height:22px;
	margin:5px 5px 0 0;
	width:22px;
	float:right;
}

#lbPrevLink {
	background: transparent url(/g/microsite/sinbad/arrow_left_detail.gif) no-repeat 0 0;

}


#lbNextLink {
	background: transparent url(/g/microsite/sinbad/arrow_right_detail.gif) no-repeat 0 0;

}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #656565;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 22px;
	height: 22px;
    right:-10px;
    background:transparent url(/g/microsite/sinbad/close_detail.png) no-repeat 0 0;
	margin: 5px 0;
}



#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
    padding-top: 11px;
	font-weight: bold;
}
