/* SLIMBOX */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #b0b0b0;
    /*margin-top:150px;*/
}

.lbLoading {
background:#b0b0b0 url(/g/snow-white/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #b0b0b0;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	height:22px;
	margin:5px 5px 0 0;
	width:22px;
	float:right;
}

#lbPrevLink {
	background: transparent url(/g/microsite/4900-colours/arrow_left.gif) no-repeat 0 0;

}


#lbNextLink {
	background: transparent url(/g/microsite/4900-colours/arrow_right.gif) no-repeat 0 0;

}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #b0b0b0;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 23px;
	height: 22px;
right:-10px;
background:transparent url(/g/microsite/4900-colours/close_detail.png) no-repeat 0 -2px;
	margin: 5px 0;
}



#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
