body {
    background: #fff url(/admin/img/bg/body_bg.jpg) repeat-x left top;
    font: 400 15px Arial,Helvetica,sans-serif;
    color: #000;
    position:relative;
    margin:0;
    padding:0;
    height:100%;    
}

textarea {
    font-family:inherit;
    font-size:14px;
}

.body-login {
    background: #fff url(/admin/img/bg/body_login_bg.jpg) no-repeat center top !important;
}

/* ----- admin elements ----- */

.autocompleter-choices {
    width: 600px !important;
}

.admin-table {
border-color:#ccc;
border-width:0 0 1px 1px;
border-style:solid;
margin:10px 0;
width:100%;
border-collapse:collapse;
}

.admin-table td,.admin-table th {
    border-color:#ccc;
    border-width:1px 1px 0 0;
    border-style:solid;
    padding:6px;
    vertical-align:top;
}

.admin-table .th_align_left {
    text-align:left;
}

.admin-table .td_no_padding {
    border-color:transparent !important;
    padding:0 !important;
    
}

.admin-table .td_inside_table {
    border-width:0 1px 0 0 !important;
    padding:0 17px 0 17px !important;
    vertical-align:middle !important;
    text-align:left;
}

.admin-table .td_inside_table_last {
    border-width:0 0 0 0 !important;
    text-align:left;
    padding:6px 17px 6px 17px !important;
}

.admin-table .td_inside_table_first {
    padding:0 17px 0 6px !important;
    border-width:0 1px 0 0 !important;
    vertical-align:middle !important;
    text-align:left;
}

.admin-table th {
font-weight:700;
text-align:center;
}

.page_numbering_admin .selected {
    border-left: 2px solid #7e7e7e;
    border-top: 2px solid #7e7e7e;
    border-bottom: 2px solid #7e7e7e;
    border-right: 2px solid #7e7e7e;
}

.select-per-page-admin {
    margin-right:20px;
}

#sort_list li {
    margin-top: 15px;
}

.admin-input {
    width: 300px;
}

.admin-input-xlarge {
    width: 950px;
}

.admin-input-large {
    width: 500px;
}

.input-relation-itemid {
    width: 518px;
}

.input-relation-itemid-sort {
    width: 340px;
}

.dashboard {
    width: 80px;
}

.table_admin_newrecord {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    margin-left: 10px;
}

.table_admin_newrecord td {
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 5px;
}

.input_field_admin {
    width:300px;
}


.input_field_admin_small {
    width:50px;
}

.input_field_admin_large {
    width: 518px;
}

.table_admin td {
    border: 1px solid #CCCCCC;
    padding: 10px 7px;
    vertical-align: top;
}

.table_admin th {
    border: 1px solid #CCCCCC;
    font-weight:700;
    padding: 5px 0;
    text-align:center;
}

.table_admin {
    border-collapse:collapse;
}

.table_sale_history td, .table_sale_history th {
    text-align:center;
}

.table_sale_history {
    width:918px;
}

.header th {
    background: #32705a;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #618AB6;
}

.error {
    color: red !important;
}

.valid {
    color: green;
}

.a-view-on-page {
    margin-right:10px;
}

.a-view-on-page-new {
    float: right;
}

.link_edit, .a_edit_item {
    text-decoration: underline;
    cursor:pointer;
}

.link_edit:hover {
    text-decoration: underline;
}

.table_sort_list_head {
    border-collapse:collapse;
    margin-bottom:20px;
    margin-top:10px;
}

.table_sort_list_head td, .table_sort_list_head th {
    border:1px solid #FFA902;
    padding:3px 7px 2px;
}

.table_sort_list {
    border-collapse:collapse;
    margin-top:10px;
}

.table_sort_list td, .table_sort_list th {
    border:1px solid #6BB21D;
    padding:3px 7px 2px;
}

.table_sort_list_sub {
    border-collapse:collapse;
    margin-top:10px;
}

.table_sort_list_sub td, .table_sort_list_sub th {
    border:1px solid red;
    padding:3px 7px 2px;
}

.td_move {
    cursor:move;
}

.sortlist {
    list-style:none;
    margin:0;
    padding:0;
}

.sortlist ul {
    list-style:none;
    padding:0;
    margin:0 0 0 40px;
}

.option_sub {
    padding-left: 20px;
}

.option_main {
    font-weight: 700;
}


.a_admin_edit {
    text-decoration:underline;
}

.select_admin_years_multi {
    height:120px;
    width:100px;
}

.select_admin_cat_multi {
    height:200px;
    width:180px;
}

.select_admin_auction_multi {
    height:200px;
    width:350px;
}

.select_medium {
    width:100px;
}

.page_numbering_admin {
    width:100%;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

.p_admin_no_data_found {
    color:red;
    margin-top:20px;
    margin-bottom:20px;
}

.ol_admin_options {
    list-style:decimal;
    margin-left:21px;
}

.select_sub_categories .select {
    font-weight:400;
}

.select_sub_categories {
    font-weight:700;
}

.select_sub_categories .option_quote_sub_cat {
    padding-left:20px;
    font-weight:400;
}

/* admin menu  */

.menu_selected {
    color: #666;
}

.menu_sub_selected {
    border-bottom: 1px solid #666;
    text-decoration: none !important;
}

#admin-nav a { 
    text-decoration: none;
}

#admin-nav a:hover {
    text-decoration: underline;
}

#admin-nav {
    list-style: none;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
}

#admin-nav ul {
    list-style: none;
}

#admin-nav ul li {
    padding:0 5px;
}

#admin-nav h2 {
    padding:0;
    margin:0;
    font-size:120%;
}

.admin-nav-inline .selected {
    padding: 4px;
}

.admin-nav-inline li {
    float:left;
    padding-left:5px;
}

.admin-nav-inline ul {
    padding:0;
}

#admin-nav .admin-nav_sub {
    margin-top: 0;
    margin-left: 10px;
}

#admin-nav_sub li {
    margin-top: 0;
    border-left: 1px solid #666;
}

.admin-nav-main li {
    margin-top: 5px;
}

/* END menu admin */


/* link tabs */ 

#div_admin ul.tabsadmin  {
    position:relative;
    text-align:left;
}
     
#ul_link_tabs {
    padding: 0;
}

.tabsadmin  li { 
    margin:0 0 2px; 
    top:1px;
    position:relative;
    list-style: none;
}
     
.tabsadmin  li h4 { 
    position:relative;
    top:1px;
}
     
.tabsadmin  li h4 a {
    padding:6px 9px; 
    display:block;
    float:left;
    border:1px solid #b5b5b5;
    border-bottom:none;
    text-decoration: none;
}
    
.tabsadmin  li h4 a.selected {
    background: #ccc;
}

#div_admin .tabsadmin  li h4 a {
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    color:#000;
}

#div_admin .tabsadmin  h4 a.selected {
    /*border-bottom:1px solid #ccc;*/
    border-top:1px solid #999;
    border-left:1px solid #999;
    border-right:1px solid #999;
    color:#000;
    background-color:#ccc;
    font-weight:700;
}

#div_admin .tabsadmin  h4 a.selected:hover {
    /*border-bottom:1px solid #ccc;*/
}

.tabsadmin-info {
    clear:left;
    margin-top:1px;
}

.tabsadmin-info .holder {
    text-align:left;
    padding:6px;
    margin-bottom:10px;
    border:1px solid #999;
    min-height:140px;
}

/* links table */

.table-links {
    border-color:#ccc;
    border-width:0 0 1px 1px;
    border-style:solid;
    margin:10px 0;
    width:925px;
    border-collapse: collapse;
}

.table-links td,.table-links th {
    border-color:#ccc;
    border-width:1px 1px 0 0;
    border-style:solid;
    padding:6px;
    vertical-align:top;
}

.table-links th {
font-weight:700;
text-align:center;
}

.select_relations_sort {
    width:150px;
}

/* END links table */

/* table-search-print */

.table-search-print {
    width: 900px;
    border-collapse:collapse;
}

.table-search-print th {
    border:1px solid #000;
}

.table-search-print td {
    border:1px solid #000;
}

/* END */

#div_admin #language {
    position: static !important;
}

.main_admin {
    min-height:0px !important;
}

/* admin field tabs */ 

.div-admin-tabs-info {background-color:#ddd; position:relative; height:auto; margin-bottom:10px;width:990px; }
.div-admin-tab-info img { border:none; }
.ul-admin-tabs { margin-left:0;margin-bottom:0;height: 21px;padding:0;}
.ul-admin-tabs li {background-color:transparent;display:inline;float:none;list-style:none; }
.ul-admin-tabs li a {background-color:#edd; color:#333; display:inline; height:auto;padding:5px 20px;text-decoration:none;width:auto;}
.ul-admin-tabs li a.active { background-color:#ddd;color:#000;font-weight:700; }
.ul-admin-tabs li a:hover { background-color:#ddd; }

/* END admin field tabs */ 

/* Search test section */

.td-search-test-not-valid {
    background:red;
}

.td-search-test-valid {
    background:green;
}

/* END Search test section */

/* div-admin-home */

#div-admin-home {
    width: 940px;
}

.div-admin-home-col {
    float:left;
    width: 313px;
}

.admin-option {
    float:left;
    width:231px;
    padding:2px;
    margin:0 0 10px 10px;
    border-left:1px solid #7e7e7e;
    border-top:1px solid #7e7e7e;
    border-bottom:1px solid #555;
    border-right:1px solid #555;
}

.admin-option h2 {
    background:#ccc;
    font-weight:700;
    padding:4px;
    margin-bottom:5px;
    font-size:1.1em;
}

.admin-option ul {
    padding:0 0 0 5px;
    list-style: none;
}

.admin-option a:hover {
    text-decoration:underline;
}

/* END div-admin-home */

.hide {
    display:none;
}

.opp-verso-recto {
    display: block;
    padding-top: 4px;
}

/******************************** NEW *********************/



/* login page */

#div_admin_sign_in {
    margin:60px auto 0;
    width:300px;
}

.table-sign-in {
    border-color:#ccc;
    border-width:0 0 1px 1px;
    border-style:solid;
    margin:10px 0;
    width:100%;
    border-collapse:collapse;
}

.table-sign-in td, .table-sign-in th {
    border-color:#ccc;
    border-width:1px 1px 0 0;
    border-style:solid;
    padding:6px;
    vertical-align:top;
}

/* END login page */

/* div-admin-containe */

.div-admin-container {
    max-width:1300px;
    margin:10px auto 0;
    width:100%;
}

/* END div-admin-containe */

/* div-admin-wrapper */

.div-admin-wrapper {
    padding:0 20px;
    width:96%;
}

/* END div-admin-wrapper */

/* div-header */

.div-admin-header {
    height:96px;
    float:left;
    width:100%;
}

.div-admin-header-content {
    min-height: 61px;
}

.div-admin-header-content-left {
    float: left;
}

.div-admin-header-content-right {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}



.p-header-richter-cms {
    font-size: 25px;
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
}

.p-header-richter-cms a {
    text-decoration: none;
    color: #000;
}

/* END div-header */

/* div-body */

.div-admin-body {
    width:100%;
    border: 1px solid #D4D7DB;
    background:#fff;
    min-height:500px;
    float:left;
    margin-top: 25px;
    padding:0;
    min-width: 1205px;
}

.div-admin-body-content {
    padding:23px 23px;
}

/* END div-body */

/* div-footer */

#div-footer {
    float:left;
    min-height:50px;
    width: 960px;
}

/* END div-footer */

.option_select {
    font-weight:400 !important;
}

.option_cat {
    font-weight:700;
}

.option_sub_cat {
    padding-left: 13px;
    font-weight:400 !important;
}
