#cssmenu { 
    height:35px; 
    display:block; 
    padding:0; 
    margin:0 auto 0; 
    border-radius:5px; 
    width:100%;
    float:left;
    background: url(/admin/img/bg/adm_top_menu_bg.jpg) repeat-x left top;
    min-width: 930px;
} 
#cssmenu > ul {float: left;list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;border-right: 1px solid #A5A7AD;} 
#cssmenu > ul > li:hover, #cssmenu > ul > li.menu_selected {
    background: url(/admin/img/bg/menu-hover.jpg) repeat-x left center;
    border-radius: 5px 5px 5px 5px;
} 

#cssmenu > ul > li.menu_selected a.a-admin-menu-main, #cssmenu > ul > li.menu_selected a.a-admin-menu-main:hover {
    color:orange !important;
}

#cssmenu > ul > li.menu_selected a.menu_sub_selected, #cssmenu > ul > li.menu_selected a.menu_sub_selected:hover {
    color:orange !important;
}

#cssmenu > ul > li > a{ 
    font-size: 13px;
    font-weight: 400; 
    outline:none; 
    display:block; 
    position:relative; 
    padding:9px 5px 10px 5px; 
    text-decoration:none;
    height:16px;
} 
#cssmenu > ul > li:first-child > a{border-radius:8px 0 0 8px;} 
#cssmenu > ul > li > a:after { content:''; position:absolute; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after { top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before { 
    content:''; 
    position:absolute; 
    top:18px; 
    right:6px; 
} 
#cssmenu > ul > li.has-sub:hover > a:before { top:19px; } 
#cssmenu ul li.has-sub:hover > a{ 
    background: url(/admin/img/bg/menu-hover.jpg) repeat-x left center;
    padding-bottom:10px; 
    padding-top:9px; 
    z-index:999; 
    color:#fff;
} 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
#cssmenu ul li.has-sub > a:hover { 
    background: url(/admin/img/bg/menu-hover.jpg) repeat-x left center;
    color:#fff;
} 
#cssmenu ul li > ul, #cssmenu ul li > div { 
    display:none; 
    width:auto; 
    position:absolute; 
    top:35px; 
    padding:0; 
    background:#6B6C74;
    border-radius:0 0 5px 5px; 
    z-index:999; 
    overflow: hidden;
} 
#cssmenu ul li > ul{width:273px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ 
    outline:none; 
    display:block; 
    position:relative; 
    margin:0; 
    padding:1px 20px; 
    color:#fff; 
    text-decoration:none; 
    border-bottom:1px solid #64a2d1;
} 
#cssmenu > ul > li > ul > li a:hover, #cssmenu > ul > li > ul > li a.selected { 
    color:#fff;
    background: #777;
}
#cssmenu > ul > li > a { 
    /*background: url(/admin/img/bg/menu-divider.jpg) no-repeat right center; */
    color:#fff; 
} 
#cssmenu > ul > li.last > a { 
    background: none; 
    padding-right:5px !important;
} 
.ul-sub-menu .last a {
    border-bottom: none !important;
    padding-right:0 !important;
}

#cssmenu > ul > li > a:after { } 
#cssmenu > ul > li > a:hover, #cssmenu > ul > li > a.selected { 
    background: url(/admin/img/bg/menu-hover.jpg) repeat-x left center;
    color:#fff;
} 

#cssmenu > ul > li > a.meklet { 
    text-indent:-9999px;
    background: none;
    width: 16px;
}

#cssmenu .li-meklet {
    float:right !important;
}
